---
layout: default
---

<script src="/assets/js/redirects.js"></script>
{% include sections/header.html %}
{% include sections/resources.html %}
<h1 id="sponsors" class="anchor"><a href="#sponsors"><i class="fas fa-link anchor-icon"></i></a> 贊助</h1>

<div class="alert alert-success mb-5" role="alert">
  <strong>New!</strong> 贊助PrivacyTools，推廣您的品牌並創造一個沒有大規模監控的世界! <a href="/sponsors/" class="alert-link">了解詳情...</a>
</div>
{% include sponsors/gold.html %}
{% include sections/quotes.html %}
{% include sections/privacy-resources.html %}
{% include sections/participate.html %}
