---
layout: default
---

<script src="/assets/js/redirects.js"></script>
{% include sections/header.html %}
{% include sections/resources.html %}
<h1 id="sponsors" class="anchor"><a href="#sponsors"><i class="fas fa-link anchor-icon"></i></a> 贊助者</h1>

<div class="alert alert-success mb-5" role="alert">
  <strong>New!</strong> 歡迎認同之品牌贊助網路隱私工具，支持本站宗旨打造一個免於大規監控網路隱私環境，一個網路自由的世界！ <a href="/sponsors/" class="alert-link">了解詳情...</a>
</div>
{% include sponsors/gold.html %}
{% include sections/quotes.html %}
{% include sections/privacy-resources.html %}
{% include sections/participate.html %}
