<h1 id="aaddons" class="anchor"><a href="#aaddons"><i class="fas fa-link anchor-icon"></i></a>Android 隱私附加元件</h1>

<div class="container-fluid">

  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img src="/assets/img/png/3rd-party/netguard.png" height="70" width="70" class="img-fluid d-block mr-auto ml-auto align-middle" alt="NetGuard">
    </div>
    <div class="col">
    <h3>Control your traffic with <a href="https://www.netguard.me/">NetGuard</a></h3>
    <p><strong>NetGuard</strong>提供簡便、進階的方式來封鎖一些應用軟體存取網際網路，省去了需取得最高權限的麻煩。可以個別被允許或拒絕應用軟體、地址，使用 Wi-Fi 或行動數據上網，讓用戶控制哪些應用程式可否呼叫主機。 </p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img src="/assets/img/svg/3rd-party/orbot.svg" height="70" width="70" class="img-fluid d-block mr-auto ml-auto align-middle" alt="Orbot">
    </div>
    <div class="col">
    <h3>Tor 網路與<a href="https://guardianproject.info/apps/orbot/">Orbot</a></h3>
    <p><strong>Orbot</strong> 免費的代理應用，便於手機上其它應用更安全地使用網路。它利用 Tor 來加密網路流量，再透過一連串散佈世界各地的電腦跳板來隱藏真實位置。 <strong>Root 管理者最高授權模式：</strong> Orbot 可設置透明代理全部網路流量都透由 Tor 網路，也可只選取特定應用走 Tor 網路。</p>
    </div>
  </div>

</div>

<h2>另見</h2>

<ul>
  <li>
    <a href="/providers/dns#clients"> DNS client 推薦清單</a>，其中有提到安卓系統上的加密 DNS 資訊。
  </li>
</ul>
