<h1 id="aaddons" class="anchor"><a href="#aaddons"><i class="fas fa-link anchor-icon"></i></a> Android 隱私附加元件</h1>

<div class="alert alert-success" role="alert">
    <strong>利用以下 Android 系統附加元件來改善隱私。</strong>
</div>

<div class="container-fluid">
    <div class="row mb-2">
        <div class="col-lg-3 col-sm-12">
            <img src="assets/img/addons/netguard.png" class="img-fluid d-block mr-auto ml-auto align-middle" alt="NetGuard">
        </div>
        <div class="col">
            <h3>透過 <a href="https://www.netguard.me/">NetGuard</a> 控制流量</h3>
            <p><strong>NetGuard</strong> 提供簡便、進階的方式來封鎖一些應用軟體存取網際網路，省去了需取得最高權限的麻煩。可以個別被允許或拒絕應用軟體、地址，使用 Wi-Fi 或行動網路上網，讓你可以控制哪些應用程式可否呼叫主機。
        </div>
    </div>
</div>

<div class="alert alert-warning" role="alert">
    <strong>下列的附加元件需要取得最高權限，這會讓設備更為脆弱危險，請謹慎進行。</strong>
</div>

<div class="container-fluid">
    <div class="row mb-2">
        <div class="col-lg-3 col-sm-12">
            <img src="assets/img/addons/xprivacylua.png" class="img-fluid d-block mr-auto ml-auto align-middle" alt="XPrivacyLua">
        </div>
        <div class="col">
            <h3>利用 <a href="https://lua.xprivacy.eu/">XPrivacyLua</a> 管理應用程式權限</h3>
            <p>從應用程式撤銷 Android 權限常會造成軟體當機或功能失常。<strong>XPrivacyLua</strong> 利用提供給應用程式假資料來解決此問題。</p>
            <p>需求：<a href="https://forum.xda-developers.com/apps/magisk/official-magisk-v7-universal-systemless-t3473445">Magisk (xda-developers)</a>, <a href="https://forum.xda-developers.com/xposed">Xposed Framework (xda-developers)</a></p>
        </div>
    </div>
</div>
