<h1 id="fingerprint" class="anchor"><a href="#fingerprint"><i class="fas fa-link anchor-icon"></i></a> 瀏覽器指紋 - 您的瀏覽器設定是否過於獨特？</h1>

<div class="alert alert-warning" role="alert">
  <strong>瀏覽器傳送許多資訊，在數千百萬使用者當中可以容易地辨識出不同使用者特性。</strong>
</div>

<p>當訪問某個網站時，瀏覽器會自行地送出一些本身的設定資訊，例如有哪些可用字型、瀏覽器類型、安裝的附加元件等。如果這些組合出來的資訊非常獨特，很容易讓有心者不用 cookies 小程式就可以辨識與追蹤。電子前鋒基金會 EFF 開發<a href="https://panopticlick.eff.org/">Panopticlick</a> 工具來測試瀏覽器的獨特程度。</p>

<p>
<a class="btn btn-warning" href="https://panopticlick.eff.org/">
  立即測試瀏覽器
</a>
</p>

<p>您需要找出<strong>大多數瀏覽器</strong>回報什麼資料，然後利用相近的人口使用資訊，再把這些變數放置到您的瀏覽器。這意謂著和其它人使用相同的字體、外掛元件、附加元件等，以擴大使用者基數。你也該利用欺瞞的<a href="https://addons.mozilla.org/firefox/addon/uaswitcher/">隨機瀏網器字串 (spoofed user-agent string)</a>以符合最大的使用者基數。你需要有相同的設定啟動和取消，例如 DNT 與 WebGL 功能。以讓使用的瀏覽器看起來會像大多數人用的差不多。取消 JavaScript、使用 Linux 或是進一步使用 Tor 瀏覽器，容易讓您從一般普羅群眾中被突顯出來。</p>

<p>現代網頁瀏覽器未依確保個人在萬維網隱私安全來打造。若擔心瀏覽器留下的獨特特徵指紋辨識，最實際的作法是使用<a href="#addons"><i class="fas fa-link"></i>免費的外掛軟體</a>，像 Privacy Badger、uBlock Origin。它們不只為了網路自由，也保護用戶上網的隱私保護。不妨進一步了解使用這些工具，會比試著操弄瀏覽器指紋更為簡單容易。</p>


<h3>Firefox 附加元件：CanvasBlocker</h3>
<ul>
	<li><a href="https://addons.mozilla.org/firefox/addon/canvasblocker/">addons.mozilla.org</a> - <strong>CanvasBlocker</strong> 讓用戶阻止某些網站利用 Javascript APIs 來收集指紋。使用者可選擇阻斷所有網站的 APIs（這樣可能會導致部份網站斷裂）或是只封鎖或假冒指紋友善的 API。</li>
</ul>

<h3>相關資訊</h3>

<ul>
  <li><a href="https://panopticlick.eff.org/static/browser-uniqueness.pdf">How Unique Is Your Web Browser? Peter Eckersley, EFF.</a></li>
  <li><a href="#addons"><i class="fas fa-link"></i> Our Firefox privacy add-ons section.</a></li>
  <li><a href="https://www.browserleaks.com/">BrowserLeaks.com</a> - 網頁瀏覽器安全測試工具，可辨識什麼樣的個人識別資料可能會瀏網時未經同恴許可即被外洩。</li>
</ul>
