<h1 id="webrtc" class="anchor"><a href="#webrtc"><i class="fas fa-link anchor-icon"></i></a> WebRTC IP 漏洞測試 - IP 資料是否被洩漏</h1>

<div class="alert alert-danger" role="alert">
  <strong>WebRTC 是一種新的通訊協議，其依靠 JavaScript 程式。它可能會洩漏 VPN 使用者真實的 IP 位置資訊。</strong>
</div>

<p>有些軟體，如 NoScript 可以阻止這個漏洞。但為了安全起見，直接關閉這個協議也是不錯的作法。</p>

<p>
<a class="btn btn-warning" target="_blank" rel="noopener noreferrer" href="https://ipleak.net">立即測試您的瀏覽器</a>
</p>

<h3>如何在 FireFox 瀏覽器下取消 WebRTC？</h3>

<p>簡單說：把 "about:config" 裏的的 "media.peerconnection.enabled" 設為 "false"。</p>
<p><strong>說明：</strong></p>

<ol class="long-string-list">
  <li>在瀏覽器的網址列輸入 "about:config" 並點擊 enter 鍵</li>
  <li>確信會謹慎使用後，點擊"I'll be careful, I promise!"按鈕</li>
  <li>搜尋"media.peerconnection.enabled"</li>
  <li>雙擊這條資訊, "Value"欄位現在應該變成了"false"</li>
  <li>完成了，再作一次 WebRTC 漏洞測試吧</li>
</ol>

<p>如果要確認每個與 WebRTC 相關設定已確實關閉了，可以再進行以下的設定更動：</p>

<ol class="long-string-list">
  <li>media.peerconnection.turn.disable = true</li>
  <li>media.peerconnection.use_document_iceservers = false</li>
  <li>media.peerconnection.video.enabled = false</li>
  <li>media.peerconnection.identity.timeout = 1</li>
</ol>

<p>現在已百分百地將 WebRTC 功能取消了。</p>

<p>
<a class="btn btn-primary" target="_blank" rel="noopener noreferrer" href="https://ipleak.net">再次測試 WebRTC 漏洞吧</a>
</p>
<h3>關閉 Safari 瀏覽器的 WebRTC</h3>

<p>相較其它瀏覽器 Safari 的 WebRTC 管控更為嚴格默認設定下不會洩漏用戶 IP 資訊，您可依下述步驟檢驗:</p>

<ol class="long-string-list">
  <li>在 Safari 主選單列中選取 "偏好" </li>
  <li>選擇進階分頁並勾選 "主選單顯示開發選單" </li>
  <li>跳出偏好，打開主選單底下的開發選單</li>
  <li>在下拉式選單中，開啟 "WebRTC" 子選單並確認已勾選取消 "Enable Legacy WebRTC API"。如果它呈灰暗色即為關閉狀態。</li>
</ol>


<h3>如何解決 Google Chrome 底下的 WebRTC 漏洞？</h3>

<p>Chrome 瀏覽器無法完全取消 WebRTC，但可以透過附加套件變更其路由設定（與防止洩漏）。有兩種開源方式：<a href="https://chrome.google.com/webstore/detail/webrtc-leak-prevent/eiadekoaikejlgdbkbdfeijglgfdalml">WebRTC Leak Prevent</a> （需依情況來調整設定選項），和  <a href="https://chrome.google.com/webstore/detail/ublock-origin/cjpalhdlnbpafiamejdnhcphjbkeiagm">uBlock Origin</a>（設置時請選「預防 WebRTC 洩漏本地 IP 地址」）。</p>

<h3>其它的瀏覽器呢？</h3>

<p>蘋果 iOS 作業系統下的 Chrome、Internet Explorer 與 Safari 目前尚未採用 WebRTC。<a href="#browser"><i class="fas fa-link"></i>不過我們建議在各種設備上最好還是使用火狐瀏覽器。</a></p>
