<!-- about:config tweaks for Firefox -->
<h1 id="about_config" class="anchor"><a href="#about_config"><i class="fas fa-link anchor-icon"></i></a> FireFox: "about:config"的隱私設定調整</h1>

<div class="alert alert-success" role="alert">這部份是關於 <strong>about:config</strong> 的隱私設定調整整理。我們將示範如何強化火狐瀏覽器的隱私保護。</div>


<h3>準備:</h3>

<ol>
    <li>在瀏覽器的網址列輸入 "about:config" 並按下 Enter 鍵</li>
    <li>點擊「我發誓，我一定會小心的！」按鈕</li>
    <li>依照下方的指示操作...</li>
</ol>

<!-- Getting started list -->
<h3>開始動手：</h3>

<dl class="long-string-list">
    <dt>privacy.firstparty.isolate = true</dt>
    <dd><a href="https://wiki.mozilla.org/Security/Tor_Uplift">Tor Uplift</a> 效用的結果，它可隔絕主要訪問網域中所有瀏覽器辨識器來源（如 cookies），並期能可阻檔跨域名的追踪。（如果已使用外掛 "Cookie AutoDelete"，若使用 Firefox v58 之前的版本，請不要打開此功能。）</dd>

    <dt>privacy.resistFingerprinting = true</dt>
    <dd><a href="https://wiki.mozilla.org/Security/Tor_Uplift">Tor Uplift</a> 效果，此偏好可讓 Firefox 更能抵抗指紋辨識。</dd>

    <dt>privacy.trackingprotection.enabled = true</dt>
    <dd>Mozilla 新內建的追蹤保護功能，其利用 Disconnect.me 過濾名單，但如果你已使用其它第三方的過濾器，如 uBlock Origin，其效能就會重覆多餘，因此你可以將這個設為關閉。</dd>

    <dt>browser.cache.offline.enable = false</dt>
    <dd>取消離線的快取資料。</dd>

    <dt>browser.safebrowsing.malware.enabled = false</dt>
    <dd>取消 Google 安全瀏覽的惡意軟體檢查。這會有安全上的風險，但可改善隱私。</dd>

    <dt>browser.safebrowsing.phishing.enabled = false</dt>
    <dd>取消 Google 安全瀏覽與防釣魚保護。這會有安全上的風險，但可改善隱私。</dd>

    <dt>browser.send_pings = false</dt>
    <dd>這個特性可讓網站追蹤訪客的點擊情況。</dd>

    <dt>browser.sessionstore.max_tabs_undo = 0</dt>
    <dd>儘管 Firefox 設定不記錄瀏覽資訊，但在使用者關閉瀏覧器分頁之前，這些資訊仍會暫存在「選單」-&gt;「瀏覧歷史」-&gt; 「近期關閉的分頁」底下。</dd>

    <dt>browser.urlbar.speculativeConnect.enabled = false</dt>
    <dd>關閉自動完成的 URLs 預載，當使用者在網址列輸入資訊時，Firefox 會自行預載，有人擔心這些瀏覽器自動建議的網址並非是使用者想要連上的網站。<a href="https://www.ghacks.net/2017/07/24/disable-preloading-firefox-autocomplete-urls/">出處來源</a></dd>

    <dt>dom.battery.enabled = false</dt>
    <dd>網站主人可以追蹤使用者上網設備的電池狀況<a href="https://www.reddit.com/r/privacytoolsIO/comments/3fzbgy/you_may_be_tracked_by_your_battery_status_of_your/">出處來源</a></dd>

    <dt>dom.event.clipboardevents.enabled = false</dt>
    <dd>取消讓網站在當你從某網頁中複製、貼上是剪下任何內容時，會發出通知。這會讓他們知道網頁的哪一部份被挑選。</dd>

    <dt>geo.enabled = false</dt>
    <dd>取消地理定位資料</dd>

    <dt>media.eme.enabled = false</dt>
    <dd>
        <p>關閉由 Disables playback of DRM 保護的 HTML5 內容播放功能。其如啟動，會自動地載入 Google 公司提供的 Widevine Content Decryption Module <a href="https://support.mozilla.org/kb/enable-drm#w_opt-out-of-cdm-playback-uninstall-cdms-and-stop-all-cdm-downloads">詳情</a></p>
        <p>如果其安裝並在火狐中啟動，DRM-保護的內容需要 Adobe Flash 或 Microsoft Silverlight NPAPI 外掛來播放</p>
    </dd>

    <dt>media.gmp-widevinecdm.enabled = false</dt>
    <dd>
        關閉 Google 公司提供的 Widevine Content Decryption 模組，它是用來播放 DRM 保護的內容。<a href="https://support.mozilla.org/kb/enable-drm#w_disable-the-google-widevine-cdm-without-uninstalling">詳情</a>
    </dd>

    <dt>media.navigator.enabled = false</dt>
    <dd>網站可以追蹤使用者上網設備裏的麥克風和攝影機狀態</dd>

    <dt>network.cookie.cookieBehavior = 1</dt>
    <dd>
        取消 cookies
        <ul>
            <li>0 = 預設打開所有 cookies</li>
            <li>1 = 僅接受原訪問網站之 cookies (封鑜第三方網站 cookies)</li>
            <li>2 = 預設關閉所有 cookies</li>
        </ul>
    </dd>

    <dt>network.cookie.lifetimePolicy = 2</dt>
    <dd>
        cookies 在連線階段結束後被刪除
        <ul>
            <li>0 = 正常的接受 cookies</li>
            <li>1 = 提示每個 cookie</li>
            <li>2 = 只接受目前連線階段</li>
            <li>3 = 接受 N 天</li>
        </ul>
    </dd>

    <dt>network.http.referer.trimmingPolicy = 2</dt>
    <dd>
        僅傳送 <code>Referer</code> 表頭中的協議、主機和埠號。
        <ul>
            <li></li>
            <li>0 = 在 <code>Referer</code> 表頭中，傳送完整網址</li>
            <li>1 = 在 <code>Referer</code> 表頭中，傳送無請求參數的網址</li>
            <li>2 = 在 <code>Referer</code> 表頭中，只傳送協議、主機及埠號</li>
        </ul>
    </dd>

    <dt>network.http.referer.XOriginPolicy = 2</dt>
    <dd>
        只有當主機名完全相符時才會送傳 <code>Referer</code> 表頭。(請注意：如察覺有明顯的外漏狀況，也許可以試試 <code>1</code> 結合下方的 <code>XOriginTrimmingPolicy</code> 微調。) <a href="https://feeding.cloud.geek.nz/posts/tweaking-referrer-for-privacy-in-firefox/">來源出處</a>
        <ul>
            <li>0 = 在所有情形下，傳送 <code>Referer</code></li>
            <li>1 = 傳送 <code>Referer</code> 給相同頂域名的網站</li>
            <li>2 = 只在符合完整主機時，傳送 <code>Referer</code></li>
        </ul>
    </dd>

    <dt>network.http.referer.XOriginTrimmingPolicy = 2</dt>
    <dd>
        當在不同的網站來源間傳送 <code>Referer</code>，僅在不同來源請求的 <code>Referer</code> 表頭傳送格式、主機和端口。<a href="https://feeding.cloud.geek.nz/posts/tweaking-referrer-for-privacy-in-firefox/">來源出處</a>
        <ul>
            <li>0 = 在 <code>Referer</code> 中，傳送完整網址</li>
            <li>1 = 在 <code>Referer</code> 中，傳送無請求參數的網址</li>
            <li>2 = 在 <code>Referer</code> 中，只傳送協議、主機及埠號</li>
        </ul>
    </dd>

    <dt>webgl.disabled = true</dt>
    <dd>WebGL 有潛在的安全風險。<a href="https://security.stackexchange.com/questions/13799/is-webgl-a-security-concern">來源出處</a></dd>

    <dt>browser.sessionstore.privacy_level = 2</dt>
    <dd>
        此偏好控制用於儲存一段期間的額外資訊：含內容形式、滾動條位置、cookies 和上傳數據資料。 <a href="http://kb.mozillazine.org/Browser.sessionstore.privacy_level">詳情</a>
        <ul>
            <li>0 = 儲存所有網站額外的連線階段資料（Firefox 4 開始為預設）</li>
            <li>1 = 只儲存未加密（非 HTTPS）網站額外的連線階段資料 （Firefox 4 開始為預設）</li>
            <li>2 = 絕不儲存額外的連線階段資料</li>
        </ul>
    </dd>

    <dt>network.IDN_show_punycode = true</dt>
    <dd>不會呈現 IDNs  Punycode 等量，否則易陷入難以察覺的釣魚攻擊。<a href="https://krebsonsecurity.com/2018/03/look-alike-domains-and-visual-confusion/#more-42636">來源出處</a></dd>

    <dt>extensions.blocklist.url = https://blocklists.settings.services.mozilla.com/v1/blocklist/3/%20/%20/</dt>
    <dd>
        <p>在請求有害的延伸封鎖清單時，限制可識別的資訊總量。</p>
        <p>可選擇整個取消封鎖清單，將原本<code>extensions.blocklist.enabled</code> 切換為 false，以提高隱私，但它會降低安全性。<a href="https://old.reddit.com/r/privacytoolsIO/comments/9uqeew/firefox_tip_sanitize_firefox_blocklist_url_so_it/">來源出處</a></p>
    </dd>
</dl>

<!-- 相關資訊 -->
<h3>相關資訊</h3>
<ul>
    <li><a href="https://ffprofile.com/">ffprofile.com</a> - 協助你建立你喜歡預設的 Firefox 設定檔。</li>
    <li><a href="http://kb.mozillazine.org/Category:Security_and_privacy-related_preferences">mozillazine.org</a> - 安全及隱私相關偏好設定</li>
    <li><a href="https://github.com/pyllyukko/user.js">user.js Firefox hardening stuff</a> - 這是 Mozilla Firefox user.js 設定檔，它應該強化 Firefox 的設定，並讓它更加安全。</li>
    <li><a href="https://addons.mozilla.org/firefox/addon/privacy-settings/">Privacy Settings</a> - 以簡單的工具列，來替代內建隱私設定的 Firefox 擴充元件。</li>
</ul>