<h1 id="addons" class="anchor"><a href="#addons"><i class="fas fa-link anchor-icon"></i></a> 優質的火狐瀏覽器隱私保護附加元件</h1>

<div class="alert alert-success" role="alert">
    <strong>利用優質的火狐瀏覽器附加元件來改善隱私保護</strong>
</div>

<div class="container-fluid">
    <div class="row mb-2">
        <div class="col-lg-3 col-sm-12">
            <img src="assets/img/addons/Privacy-Badger.png" class="img-fluid d-block mr-auto ml-auto align-middle" alt="Privacy Badger">
        </div>
        <div class="col">
            <h3>安裝 <a href="https://www.eff.org/privacybadger">Privacy Badger</a> 阻止被追蹤</h3>
            <p><strong>Privacy Badger</strong> 可用來阻止廣告商或其它第三方追蹤器偷偷地追蹤使用者瀏覽哪些網站網頁。當你瀏覽網站時 Privacy Badger 透過檢查外部網站資源的請求了解追蹤器狀況。當瀏覽網頁時，Privacy Badger 會檢查外部的網站請求。請注意，Google Analytics 被 Privacy Badger 視為首先相關者（first-party），這表示如果你未用其它封鎖器（例如 uBlock Origin），則 Google Analytics 就不會遭到封鎖。</p>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-lg-3 col-sm-12">
            <img src="assets/img/addons/uBlock.png" class="img-fluid d-block mr-auto ml-auto align-middle" alt="uBlock">
        </div>
        <div class="col">
            <h3>利用 <a href="https://addons.mozilla.org/firefox/addon/ublock-origin/">uBlock Origin</a> 來封鎖廣告與追蹤器</h3>
            <p>它是一個有效 <a href="https://github.com/gorhill/uBlock/wiki/Blocking-mode">寛譜封鎖器</a>，容易在記憶體上執行，也比一般市面上的封鎖器更可負載入上千個過濾器當中。這套軟體並沒有商業化的打算而且是完全<a href="https://github.com/gorhill/uBlock/">開源</a>。不只在火狐，uBlock Origin 也可以用在其它的瀏覽器如 Safari、Opera、Chromium 等等。不像 AdBlock Plus，uBlock 並沒有所謂 <a href="https://adblockplus.org/acceptable-ads">「可接受的廣告」</a>。</p>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-lg-3 col-sm-12">
            <img src="assets/img/addons/Cookie-AutoDelete.png" class="img-fuid d-block mr-auto ml-auto align-middle" alt="Cookie AutoDelete">
        </div>
        <div class="col">
            <h3>利用 <a href="https://addons.mozilla.org/firefox/addon/cookie-autodelete">Cookie AutoDelete</a> 自動刪除 Cookies</h3>
            <p>自動地移除儲存在已開啟分頁中不需再用到的 cookies。連同揮之不去的會談、以及用來監視使用者的資訊都會被清除。</p>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-lg-3 col-sm-12">
            <img src="assets/img/addons/HTTPS-Everywhere.png" class="img-fuid d-block mr-auto ml-auto align-middle" alt="HTTPS Everywhere">
        </div>
        <div class="col">
            <h3>使用 <a href="https://www.eff.org/https-everywhere">HTTPS Everywhere</a> 加密連線</h3>
            <p>Firefox, Chrome, Opera 都支援的瀏覽器延伸元件，可以對一些主要網站之間的網路連線予以加密，讓你的瀏覽更為安全。它是 Tor 計畫與電子前鋒基金會 EFF 的一個合作專案。</p>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-lg-3 col-sm-12">
            <img src="assets/img/addons/Decentraleyes.png" class="img-fuid d-block mr-auto ml-auto align-middle" alt="Decentraleyes">
        </div>
        <div class="col">
            <h3>利用 <a href="https://addons.mozilla.org/firefox/addon/decentraleyes/">Decentraleyes</a> 來阻擋內容傳遞網路</h3>
            <p>以攔截對外請求，在本機上仿效內容傳遞網路，找出所需的資源再將其注入環境下。這些步驟會同時自發自動地發生而不必事前的設定。<i>原始碼：<a href="https://git.synz.io/Synzvato/decentraleyes">GitLab（自架）</a>.</i></p>
        </div>
    </div>
</div>

<div class="alert alert-warning" role="alert">
    <strong>下面的附加元件要求與使用者之間的許多互動才能設定成功。有些網站除非你已設好了這些附加元件否則無法順利工作。</strong>
</div>

<div class="container-fluid">
    <div class="row mb-2">
        <div class="col-lg-3 col-sm-12">
            <img src="assets/img/addons/uMatrix.png" class="img-fuid d-block mr-auto ml-auto align-middle" alt="uMatrix">
        </div>
        <div class="col">
            <h3>利用 <a href="https://addons.mozilla.org/firefox/addon/umatrix/">uMatrix</a> 來停止跨站的請求</h3>
            <p>許多網站或許整合了一些功能，讓其它別的網站可以追蹤你，例如臉書的按讚按鈕或是 Google 流量分析工具。uMatrix 則讓你可以掌握造訪網站上來自其它網站的追蹤請求，賦予更佳更大的決定權力來控制你願意在網路上流出的資料。</p>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-lg-3 col-sm-12">
            <img src="assets/img/addons/NoScript.png" class="img-fuid d-block mr-auto ml-auto align-middle" alt="NoScript">
        </div>
        <div class="col">
            <h3>利用 <a href="https://addons.mozilla.org/firefox/addon/noscript/">NoScript Security Suite</a> 套件完整控制</h3>
            <p> 高度客製化的外掛工具可以選擇讓 Javascript、Java 與 Flash 只能在所信任的網站上執行。但它並不適合一般的使用者，需足夠知識才能進行適當設定。</p>
        </div>
    </div>
</div>
