<h1 id="fingerprint" class="anchor"><a href="#fingerprint"><i class="fas fa-link anchor-icon"></i></a> 瀏覽器指紋 - 你的瀏覽器設定是否獨一無二？</h1>

<!-- yellow warning message about the browser sending unique information -->
<div class="alert alert-warning" role="alert">
    <strong> 你使用的瀏覽器傳送了許多資訊，在數千百萬使用者當中可以容易地辨識出不同人。</strong>
</div>

<!-- fingerprint image to the right of the paragraphs -->
<img src="assets/img/layout/browser-fingerprint.jpg" class="img-fluid float-right" alt="Fingerprint image" style="margin-left:20px;">

<!-- first paragraph -->
<p>當訪問一個網站時，瀏覽器會自行地送出一些本身的設定資訊，例如有哪些字型可用，瀏覽器類型、安裝的附加元件等。如果這些組合出來的資訊非常獨特，很容易讓其它人不需要 cookies 小程式就可以辨識與追蹤你。電子前鋒基金會 EFF 建立了 <a href="https://panopticlick.eff.org/">Panopticlick 工具</a>來測試瀏覽器的獨特程度。</p>

<!-- First orange "test your browser now" button -->
<p>
    <a class="btn btn-warning" href="https://panopticlick.eff.org/">
        立即測試你正在用的瀏覽器吧
    </a>
</p>

<!-- second paragraph -->
<p>你需要找出 <strong>大多數瀏覽器</strong>會回報什麼資料,然後利用相近的人口使用資訊，再把這些變數放回你的瀏覽器當中。這意謂著和其它人使用相同的字體、外掛元件、附加元件等，以擴大使用者基數。你也該利用欺瞞的<a href="https://addons.mozilla.org/firefox/addon/uaswitcher/">隨機瀏網器字串</a>以符合最大的使用者基數。你需要有相同的設定啟動和取消，例如 DNT 與 WebGL 功能。這樣讓你使用的瀏覽器看起來會像大多數人用的差不多。取消 JavaScript、使用 Linux 或是進一步使用 TBB，容易讓你的瀏覽器從一般普羅群眾中突顯出來。</p>

<!-- third paragraph -->
<p>現代的網頁瀏覽器未依確保個人在萬維網的隱私安全來打造。若很擔心瀏覽器留下的獨特特徵指紋辨識，最實際的作法是使用 <a href="#addons"><i class="fas fa-link"></i> 免費的外掛軟體</a>像是 Privacy Badger、 uBlock Origin 與 Disconnect。它們不只提供你網路自由，也保護你上網的隱私保護。不妨進一步了解使用這些工具，會比試著操弄瀏覽器指紋更為容易方便。</p>

<!-- 相關資訊 links -->
<h3>相關資訊</h3>
<ul>
    <li><a href="https://panopticlick.eff.org/static/browser-uniqueness.pdf">How Unique Is Your Web Browser? Peter Eckersley, EFF.</a></li>
    <li><a href="https://www.reddit.com/r/privacytoolsIO/comments/35pqyl/new_section_browser_fingerprint_is_your_browser/">Join our discussion on reddit.com about browser fingerprinting.</a></li>
    <li><a href="#addons"><i class="fas fa-link"></i> Our Firefox privacy add-ons section.</a></li>
    <li><a href="https://www.browserleaks.com/">BrowserLeaks.com</a> - 網頁瀏覽器安全測試工具，它可辨識什麼樣的個人識別資料可能會沖網時未經任何同恴許可即被外洩。</li>
</ul>