<h1 id="about_config" class="anchor"><a href="#about_config"><i class="fas fa-link anchor-icon"></i></a> FireFox: "about:config" 的隱私設定調整</h1>

<div class="alert alert-success" role="alert">這部份整理 <strong>about:config</strong> 的隱私設定調整，我們將示範如何強化火狐瀏覽器的隱私保護。</div>

<h3>準備：</h3>

<ol>
  <li>
    在瀏覽器的網址列輸入 "about:config" 並按下 Enter 鍵</li>
  <li>點擊「我發誓，我一定會小心的！」按鈕</li>
  <li>依照下方指示操作....</li>
</ol>

<h3>開始動手：</h3>

<dl class="long-string-list">
  <dt>privacy.firstparty.isolate = true</dt>
  <dd><a href="https://wiki.mozilla.org/Security/Tor_Uplift">Tor Uplift</a> 專案投入，可將瀏覽器識別碼孤立給主要訪問網站，達到阻止跨站追踪之目的。 （若已使用 Firefox 58以下版本的 "Cookie AutoDelete"，請不要啟用此功能）</dd>

  <dt>privacy.resistFingerprinting = true</dt>
  <dd>在 <a href="https://wiki.mozilla.org/Security/Tor_Uplift">Tor Uplift</a> 努力下，此項功能可更有效地止阻止瀏覽器指紋記錄。 </dd>

  <dt>privacy.trackingprotection.fingerprinting.enabled = true</dt>
  <dd>[FF67+] 屏蔽指紋記錄</dd>

  <dt>privacy.trackingprotection.cryptomining.enabled = true</dt>
  <dd>[FF67+] 阻止加密幣挖礦</dd>

  <dt>privacy.trackingprotection.enabled = true</dt>
  <dd>Mozilla 新內建的跟蹤保護功能，使用 Disconnect.me 過濾清單。若已啟用 uBlock Origin 第三方過濾器則不必重覆開啟。</dd>

  <dt>browser.send_pings = false</dt>
  <dd>The attribute would be useful for letting websites track visitors' clicks.</dd>

  <dt>browser.sessionstore.max_tabs_undo = 0</dt>
  <dd>即便 Firefox 已設置為不保存瀏覽記錄，但最近關閉的分頁記錄仍會暫時保留在 選單 -&gt; 瀏覽記錄 -&gt; 最近關閉的分頁 的地方</dd>

  <dt>browser.urlbar.speculativeConnect.enabled = false</dt>
  <dd>關閉自動完成網址的預載，當使用者在網址欄輸入時 Firefox 會先自動找出完整的網址，有時候它所建議的網址並不是使用者本意要訪問的網站。<a href="https://www.ghacks.net/2017/07/24/disable-preloading-firefox-autocomplete-urls/">資料來源</a></dd>


  <dt>dom.event.clipboardevents.enabled = false</dt>
  <dd>讓網站無法知道使用者從網頁在複製、黏貼、裁剪等事件行為，但可以知道網頁哪個部份被選取。</dd>

  <dt>media.eme.enabled = false</dt>
  <dd>
  <p>關閉數位版權控制的 HTML5內容回放功能z。此功能會自動地下載 Google 提供的　Widevine Content Decryption 模組。<a href="https://support.mozilla.org/kb/enable-drm#w_opt-out-of-cdm-playback-uninstall-cdms-and-stop-all-cdm-downloads">詳細資料</a></p>
  <p>如果 Firefox 安裝啟用 Adobe Flash 或 Microsoft Silverlight NPAPI 外掛，數位版權管理所控制的內容還是可以播放。</p>
  </dd>

  <dt>media.gmp-widevinecdm.enabled = false</dt>
  <dd>關閉 Google 所提供 Widevine Content Decryption 模組，它用於回放受數位版權管理控制的 HTML5 內容。 <a href="https://support.mozilla.org/kb/enable-drm#w_disable-the-google-widevine-cdm-without-uninstalling">詳情</a></dd>

  <dt>media.navigator.enabled = false</dt>
  <dd>可追踪設備上的麥克風與攝影機使用狀態</dd>

  <dt>network.cookie.cookieBehavior = 1</dt>
  <dd>
  關閉 cookies
  <ul>
    <li>0 = 預設接受所有 cookies </li>
    <li>1 = 僅接受原訪問網站之 cookies（封鑜第三方網站）</li>
    <li>2 = 預設關閉所有 cookies </li>
  </ul>
  </dd>



  <dt>network.http.referer.XOriginPolicy = 2</dt>
  <dd>
  當網站域名完全符合時，僅傳送參照位址表頭（<code>Referer</code>）。 （提醒：如留意到明顯斷裂，可試由 <code>1</code> 結合下方 <code>XOriginTrimmingPolicy</code> 來調整）<a href="https://feeding.cloud.geek.nz/posts/tweaking-referrer-for-privacy-in-firefox/">來源出處</a>
  <ul>
    <li>0 = 在參照位置中，全都傳送完整網址</li>
    <li>1 = 僅在相同的延伸頂級域名（eTLD）網站之間傳送參照位置</li>
    <li>2 = 只有完整的域名相符時，才傳送參照位置</li>
  </ul>
  </dd>

  <dt>network.http.referer.XOriginTrimmingPolicy = 2</dt>
  <dd>
  不同域名之間傳送參照位置（<code>Referer</code>）時，只送出表頭欄規格（scheme）、主機、端口。<a href="https://feeding.cloud.geek.nz/posts/tweaking-referrer-for-privacy-in-firefox/">來源出處</a>
  <ul>
    <li>0 = 送出參照位置完整的網址</li>
    <li>1 = 只送傳不帶查詢字串的網址資料</li>
    <li>2 = 只傳送參照位置中的規格、主機、端口資訊。</li>
  </ul>
  </dd>

  <dt>想找 TRR, DoH 或 ESNI 的資訊</dt>
  <dd>它們已被搬移至<a href="/providers/dns/#icanndns"> DNS 頁面</a>.</dd>

  <dt>webgl.disabled = true</dt>
  <dd>WebGL 有潛在的安全風險。<a href="https://security.stackexchange.com/questions/13799/is-webgl-a-security-concern">來源出處</a></dd>

  <dt>browser.sessionstore.privacy_level = 2</dt>
  <dd>
  此偏好控制瀏覽器某工作階段所儲存的額外資訊：含內容形式、滾動條位置、cookies 和上傳數據資料。 <a href="http://kb.mozillazine.org/Browser.sessionstore.privacy_level">詳情</a>。
  <ul>
    <li>0 = 儲存所有網站額外的連線階段資料（Firefox 4 起即為預設）</li>
    <li>1 = 只儲存未加密（非 HTTPS）網站額外的連線階段資料（Firefox 4 前探此設定）</li>
    <li>2 = 不儲存額外的連線階段資料</li>
  </ul>
  </dd>


  <dt>network.IDN_show_punycode = true</dt>
  <dd>不會收集 IDNs，否則其 Punycode 等量容易陷入難以察覺的釣魚攻擊。<a href="https://krebsonsecurity.com/2018/03/look-alike-domains-and-visual-confusion/#more-42636">來源出處</a></dd>
  

<h3 id="user.js">Firefox user.js 模版</h3>
<ul>
	<li><a href="https://github.com/ghacksuserjs/ghacks-user.js">ghacks-user.js</a> - 進行中的全面化用戶樣版，用以設置強化 Firefox 的隱私、安全和反指紋記錄。</li>
</ul>


<h3>相關資訊</h3>

<ul>
  <li><a href="https://blog.privacytools.io/firefox-privacy-an-introduction-to-safe/">Firefox Privacy: Tips and Tricks for Better Browsing</a> - 適合新手，如何保持資料私密與安全初步指南。</li>
  <li><a href="https://ffprofile.com/">ffprofile.com</a> - 協助建立所喜好預設的 Firefox 設定檔。</li>
  <li><a href="http://kb.mozillazine.org/Category:Security_and_privacy-related_preferences">mozillazine.org</a> - 安全及隱私相關偏好設定。</li>
  <li><a href="https://addons.mozilla.org/firefox/addon/privacy-settings/">Privacy Settings</a> - 以簡單的工具列，替代 Firefox 原本內建隱私設定的擴充元件。</li>
  <li><a href="https://12bytes.org/articles/tech/firefox/the-firefox-privacy-guide-for-dummies/">Firefox Privacy Guide For Dummies</a> - 提供改善火狐瀏覽器隱私安全設定的指南。</li>
</ul>
