<h1 id="browser" class="anchor"><a href="#browser"><i class="fas fa-link anchor-icon"></i></a> 瀏覽器推薦</h1>

<div class="row mb-2">

    {% include card.html color="success"
    title="Tor 洋蔥瀏覽器"
    image="assets/img/tools/Tor-Project.png"
    url="https://www.torproject.org/"
    tor="http://expyuzz4wqqyqhjn.onion"
    footer='支援作業系統：Windows, macOS, Linux, <a href="https://mike.tig.as/onionbrowser/">iOS</a>, <a href="https://www.torproject.org/docs/android.html.en">Android</a>, <a href="https://github.com/torbsd/openbsd-ports">OpenBSD.</a>'
    description="如果你需要額外的匿名層保護，則 Tor 瀏覽器就是你最佳的選項。它是利用火狐瀏覽器作進一步的調配，其事先預設安裝好了一些隱私保護的附加元件、加密與進階的代理器。"
    %}

    {% include card.html color='primary'
    title='Mozilla Firefox'
    image='assets/img/tools/Firefox.png'
    url='https://www.firefox.com/'
    footer='支援作業系統：Windows, macOS, Linux, Android, iOS, BSD.'
    description='Firefox　火狐瀏覽器是一個快速、可靠、開源且尊重使用者隱私的上網工具。別忘了依照我們的建議來調整火狐底下的設定：<a href="#webrtc"><i class="fas fa-link"></i> WebRTC</a> 以及 <a href="#about_config"><i class="fas fa-link"></i> about:config</a> 和安裝 <a href="#addons"><i class="fas fa-link"></i> 隱私保護附加元件。</a>'
    %}

    {% include card.html color='warning'
    title='Brave'
    image='assets/img/tools/Brave.png'
    url='https://www.brave.com/'
    footer='支援作業系統：Windows, macOS, Linux, Android, iOS.'
    description='新問世的開源瀏覽器"Brave" 會自動地封鎖廣告與追蹤器，其效能比你目前所用的瀏覽器更為快速安全。Brave 為基於 Chromium 所開發的軟體。'
    %}

</div>