<h1 id="calendar_contacts" class="anchor"><a href="#calendar_contacts"><i class="fas fa-link anchor-icon"></i></a> 行事曆與聯絡人同步</h1>

<div class="alert alert-warning" role="alert">
  <strong>若使用行事曆與聯絡人同步服務，是 Google Sync 或 Apple iCloud，這裏有其它替代的選項。</strong>
</div>

{%
  include cardv2.html
  title="Nextcloud"
  image="/assets/img/svg/3rd-party/nextcloud.svg"
  description="<strong>Nextcloud</strong> 是一套用來建立及使用檔案分享服務的客戶端－伺服器軟體。它包含透過 CalDAV 來同步行事曆及聯絡人。Nextcloud 自由、開源，因此，在任何人都能免費的安裝、運行在私有的伺服器上。"
  website="https://nextcloud.com/"
  forum="https://forum.privacytools.io/t/discussion-nextcloud-calender-contacts-sync-tools/1535"
  github="https://github.com/nextcloud"
  windows="https://nextcloud.com/install/"
  linux="https://nextcloud.com/install/"
  mac="https://nextcloud.com/install/"
  freebsd="https://www.freshports.org/deskutils/nextcloudclient/"
  openbsd="http://openports.se/www/nextcloud"
  netbsd="http://pkgsrc.se/www/php-nextcloud"
  android="https://nextcloud.com/install/"
  ios="https://nextcloud.com/install/"
%}

{%
  include cardv2.html
  title="EteSync"
  image="/assets/img/svg/3rd-party/etesync.svg"
  description="<strong>EteSync</strong> 安全、重視隱私、端對端加密的日誌型個人資訊（例如：行事曆與聯絡人）雲端同步備份工具，提供 Android, iOS, 與網頁用戶端，以服務多數桌面使用者。它的費用是一年 $24 或可免費架在自己的伺服器。"
  website="https://www.etesync.com/"
  forum="https://forum.privacytools.io/t/discussion-etesync-calender-contacts-sync-tools/1536"
  github="https://github.com/etesync"
  web="https://client.etesync.com/"
  windows="https://www.etesync.com/install/dav/"
  mac="https://www.etesync.com/install/dav/"
  linux="https://www.etesync.com/install/dav/"
  freebsd="https://www.etesync.com/install/dav/"
  openbsd="https://www.etesync.com/install/dav/"
  netbsd="https://www.etesync.com/install/dav/"
  fdroid="https://f-droid.org/packages/com.etesync.syncadapter/"
  googleplay="https://play.google.com/store/apps/details?id=com.etesync.syncadapter"
  ios="https://www.etesync.com/install/ios/"
%}

{%
  include cardv2.html
  title="電郵供應商"
  image="/assets/img/svg/layout/email.svg" description='許多電子郵件供應商亦提供行事曆和聯絡人同步服務。可參考<a href="/providers/email">電子郵件供應商的部分</a>選擇電子郵件供應商，確認他們是否也提供同步行事曆或聯絡人。'
  website="/providers/email"
%}

<h3>值得一提</h3>

<ul>
  <li>
    <a href="https://fruux.com/">fruux</a> - 結合了聯絡人和行事曆系統，可跨不同平台與多台設備。
  </li>

  <li>
    <a href="../cloud">Cloud backups</a> - 請考慮定期匯出行事曆與聯絡人資料備份到不同的儲存硬碟或是上傳到雲端儲存（最好是先 <a href="../encryption-tools/">經加密處理</a>）。
  </li>

  <li>
    <a href="https://github.com/39aldo39/DecSync">DecSync</a> - 不經伺服器端，利用檔案同步軟體如<a href="https://syncthing.net/">Syncthing</a>來同步 RSS、聯絡人和行事曆。
  </li>
</ul>
