<h1 id="cloud" class="anchor"><a href="#cloud"><i class="fas fa-link anchor-icon"></i></a> 加密的雲端儲存服務</h1>

<div class="alert alert-warning" role="alert">
    <strong>如果你目前使用的是 Dropbox、Google Drive、Microsoft OneDrive 或 Apple iCloud 等雲端儲存服務，不妨從這裡挑選其它替代方案。</strong>
</div>

<div class="row mb-4">
    {% include card.html color='success'
    title='Nextcloud - 自選主機服務'
    image='assets/img/provider/Nextcloud.png'
    url='https://nextcloud.com／'
    footer='支援的客戶端作業系統：Windows, macOS, Linux, BSD, Unix, iOS, Android, Fire OS。伺服器：Linux。'
    description='和 Dropbox 有相同的功能，但最大的差異在 Nextcloud 是一套自由而開源的軟體，它可讓任何人自行架設與操作而不必如私用伺服器那般地收取費用，也沒有空間容量或連接客戶端數量的限制。'
    %}

    {% include card.html color='primary'
    title='Least Authority S4 - 專家用'
    image='assets/img/provider/S4.jpg'
    url='https://leastauthority.com/'
    footer='支援作業系統：<a href="https://tahoe-lafs.org/trac/tahoe-lafs/wiki/Installation">Linux</a>, <a href="https://tahoe-lafs.org/trac/tahoe-lafs/wiki/AdvancedInstall"> Windows, macOS, OpenSolaris, BSD。</a>（進階使用者安裝）'
    description='S4 (Simple Secure Storage Service) 是 Least Authority 所開發，提供認證與安全的個人或企業用的場外備份系統。在客戶端有 100% 的安全加密，而且其程式碼開放透明。租用其服務的月費是 $9.95/250GB 或是 $25.95/5TB。 主機是使用美國境內的 Amazon S3　平台伺服器。'
    %}

</div>

<h3>相關資訊</h3>
<ul>
    <li><a href="https://cryptomator.org/">Cryptomator</a> - 免費的客戶端 AES 加密雲端檔案。開源軟體：無後門、不須註冊。</li>
    <li><a href="https://cryptpad.fr">CryptPad</a> - 免費且端對端加密的即時協同分享資料夾、媒體及文件。</li>
</ul>