<h1 id="video" class="anchor"><a href="#video"><i class="fas fa-link anchor-icon"></i></a> 去中心的影片平台</h1>

<div class="alert alert-warning" role="alert">
  <strong> 只知道 YouTube 或 Vimeo？快試試替代的影音平台選項吧！</strong>
</div>

{% include cardv2.html
  title="PeerTube"
  image="/assets/img/svg/3rd-party/peertube.svg"
  description='PeerTube 由 Framasoft 開發，是一套免費去中心的影音平台替代方案，5 萬多名用戶上傳提供的 400,000 多支影片，超過 1千萬次瀏覽數。若想加入其中某個平台，歡迎使用我們架設提供的服務: <a href="https://tube.privacytools.io/">tube.privacytools.io</a>'
  website="https://joinpeertube.org"
  github="https://github.com/Chocobozzz/PeerTube"
  web="https://joinpeertube.org/#what-is-peertube"
%}