<h1 id="dns" class="anchor"><a href="#dns"><i class="fas fa-link anchor-icon"></i></a> 網域名系統 (DNS)</h1>

<div class="row mb-2">

    {% include card.html color='success'
    title='Njalla - 域名註冊'
    image='assets/img/provider/Njalla.png'
    url='https://njal.la/'
    tor='http://njalladnspotetti.onion'
    description='Njalla 只需要電子郵件信箱或是一個　jabber 帳戶來註冊域名。它是由 Pirate Bay 與 IPredator VPN　所創立，其付款方式有：Bitcoin, Litecoin, Monero, DASH, Bitcoin, PayPal, 現金。是一個具隱私意識的域名註冊商。'
    %}

    {% include card.html color='primary'
    title='DNSCrypt - 工具'
    image='assets/img/tools/DNSCrypt.png'
    url='https://dnscrypt.info/'
    description='這是一個強化客戶端與網域名解析器之間的通訊安全協議。DNSCrypt 協議利用高速高安全的橢圓曲線密碼學，其有點類似 DNSCurve，但更關注在客戶端與第一級解析器之間的連線通訊安全。'
    %}

    {% include card.html color='warning'
    title='OpenNIC - 服務'
    image='assets/img/tools/OpenNIC.png'
    url='https://www.opennic.org/'
    description='OpenNIC 是一個另類的網路資訊中心/或稱替代的 DNS 根區，其列名自身是 ICANN 與其註冊局的替代品。如同其它的替代式根域名系統，採用 OpenNIC-主機的域名無法被其它網路上大多數使用者所造訪。只有透過在某個 DNS 解析器上的特殊設定才能讓人可以訪問，但一般很少有網路服務供應商會作這樣的設定。'
    %}

</div>

<h3>值得一提</h3>

<ul>
    <li><a href="https://github.com/quidsup/notrack">NoTrack</a> - 一個 DNS 伺服器可以封鎖某些追蹤網站。目前僅運行在 Debian 與 Ubuntu 的作業系統下。</li>
    <li><a href="https://namecoin.info/">Namecoin</a> - 去中心的 DNS 開源的資訊註冊與傳送系統，其利用比特幣的密碼貨幣所開發的系統。</li>
    <li><a href="https://pi-hole.net/">Pi-hole</a> - 樹莓派 Raspberry Pi 所用的全網路 DNS 伺服器，可封鎖區域網路內所有設備上的廣告與追蹤域名。</li>
</ul>