<h1 id="clients" class="anchor"><a href="#clients"><i class="fas fa-link anchor-icon"></i></a> 電子郵件客戶端軟體</h1>
<div class="row mb-2">

    {% include card.html color='success'
    title='Thunderbird'
    image='assets/img/tools/Thunderbird.png'
    url='https://mozilla.org/thunderbird'
    website='mozilla.org'
    footer='支援作業系統：Windows, macOS, Linux, BSD。'
    description='Mozilla Thunderbird 是一個免費、開源、跨平台的電子郵件、新聞與聊天軟體，由 Mozilla 基金會開發維護。 Thunderbird 是電子郵件、新聞群組、新聞推送訂閱與聊天(支援 XMPP, IRC, Twitter)的客戶端軟體。'
    %}
    {% include card.html color='primary'
    title='Claws Mail'
    image='assets/img/tools/Claws-Mail.png'
    url='https://www.claws-mail.org/'
    footer='支援作業系統：Windows, macOS, Linux, BSD, Solaris, Unix。'
    description='Claws Mail 是一個免費開源，使用 GTK 桌面環境為基礎的電子郵件與新聞軟體。它提供了簡單的設定和豐富的功能，也包括 Windows 底下的加密套件包。'
    %}

</div>

<h3>值得一提</h3>
<ul>
    <li><a href="https://github.com/k9mail/k-9/releases">K-9 Mail</a> - Android 安卓手機上的獨立電子郵件應用程式，其同時支援 POP3 與 IMAP 協議的郵箱, 但目前只支援 IMAP 的推送郵件功能。</li>
    <li><a href="https://www.gnupg.org/">GNU Privacy Guard</a> - GnuPG 電子郵件加密，GnuPG 為基於 GPL 授權版本的 PGP 密碼套件軟體的替代選擇。<a href="https://theprivacyguide.org/tutorials/gpg.html">使用教學（英文）</a> macOS X 作業系統可使用<a href="https://gpgtools.org/">GPGTools for MacOS</a></li>
    <li><a href="https://www.mailpile.is/">Mailpile (Beta)</a> - 一個現代、快速的網頁使用者端軟體，提供友善的加密與隱私功能。</li>
</ul>