<div class="card border-danger">
    <div class="card-header text-danger"><i class="fas fa-exclamation-circle fa-fw"></i> Warning</div>
      <div class="card-body">
        <p class="card-text text-danger">即便使用如<a href="https://en.wikipedia.org/wiki/Pretty_Good_Privacy">OpenPGP</a>之類端對端加密的技術，email 本質上仍不夠安全不宜作為敏感內容的通訊管道。它的元數據只能以明文型式傳輸，就算正確使用加密法，也可能在轉寄或回信時不小心把早先加密過的內容以明文方式傳送。<a href="/providers/email/#metadata">進一步了解郵件元數據</a>。</p>
        <p class="card-text text-danger">OpenPGP GPG 也無法方便地支援新的密碼學功能，如密鑰輪替（key rotation）和 <a href="https://en.wikipedia.org/wiki/Forward_secrecy">向前保密（forward secrecy）</a>，所以寄件人或收件者的私鑰有可能被竊取， <strong>全部加密郵件
        </strong>就會曝露。<a href="/providers/email/#email-encryption">請參考「如何保護私鑰」</a></p>
        <p class="card-text text-secondary">若是長篇對話，請考慮使用可支援向前保密（forward secrecy 的傳播工具，例如我們。</p>
        <a href="/software/real-time-communication/" class="btn btn-outline-secondary">推薦的即時通訊軟體</a>
      </div>
  </div>
 