<h1 id="email" class="anchor"><a href="#email"><i class="fas fa-link anchor-icon"></i></a> 具隱私意識的電子郵件服務提供商- 與本站無利害關聯</h1>

<div class="alert alert-success" role="alert">
    <strong>這裏列出的供應商都在美國境外營運，並且支援<a data-toggle="tooltip" data-placement="bottom" data-original-title="When sending or receiving emails, if both the sending and receiving servers support TLS encryption, the email is sent between servers using an encrypted connection."> SMTP TLS</a>。這份表格經過整理。絕不要隨意信任任何公司，多利用加密通訊。</strong>
</div>

<div class="table-responsive">
    <table class="table sortable-theme-bootstrap" data-sortable>
        <thead>
        <tr>
            <th data-sortable="true">電子郵件服務商</th>
            <th data-sortable="true">URL</th>
            <th data-sortable="true">成立時間</th>
            <th data-sortable="true">伺服器位置</th>
            <th data-sortable="true">空間容量</th>
            <th data-sortable="true">價格 / 年費</th>
            <th data-sortable="true">比特幣付費</th>
            <th data-sortable="true">加密功能</th>
            <th data-sortable="true">自定域名</th>
        </tr>
        </thead>

        <tbody>

        <tr>
            <td data-value="ProtonMail">
                <img alt="Protonmail" src="assets/img/provider/ProtonMail.ch.png" width="200" height="70">
            </td>
            <td>
                <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://www.protonmail.ch" href="https://www.protonmail.ch"><img alt="WWW" src="assets/img/layout/www.png" width="35"></a>
                <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://protonirockerxow.onion. Requires specific software to access: torproject.org" href="https://protonirockerxow.onion"><img alt="Tor" src="assets/img/layout/tor.png" width="35"></a>
            </td>
            <td data-value="2013">2013</td>
            <td><span class="flag-icon flag-icon-ch"></span> 瑞士</td>
            <td data-value="500">500 MB</td>
            <td data-value="0"><span class="label label-warning">Free</span></td>
            <td data-value="1"><span class="label label-success">接受</span></td>
            <td data-value="1"><span class="label label-success">內建</span></td>
            <td data-value="1"><span class="label label-success">Yes</span></td>
        </tr>

        <tr>
            <td data-value="disroot.org">
                <img alt="Disroot" src="assets/img/provider/disroot.org.png" width="200" height="70">
            </td>
            <td>
                <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://disroot.org" href="https://disroot.org"><img alt="WWW" src="assets/img/layout/www.png" width="35"></a>
            </td>
            <td data-value="2015">2015</td>
            <td><span class="flag-icon flag-icon-nl"></span> 荷蘭</td>
            <td data-value="2000">2 GB</td>
            <td data-value="1"><span class="label label-warning">Free</span></td>
            <td data-value="1"><span class="label label-success">接受</span></td>
            <td data-value="1"><span class="label label-success">內建</span></td>
            <td data-value="1"><span class="label label-success">Yes</span></td>
        </tr>

        <tr>
            <td data-value="Tutanota">
                <img alt="Tutanota" src="assets/img/provider/Tutanota.png" width="200" height="70">
            </td>
            <td>
                <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://www.tutanota.com" href="https://www.tutanota.com"><img alt="WWW" src="assets/img/layout/www.png" width="35"></a>
            </td>
            <td data-value="2011">2011</td>
            <td><span class="flag-icon flag-icon-de"></span> 德國</td>
            <td data-value="1000">1 GB</td>
            <td data-value="0"><span class="label label-warning">Free</span></td>
            <td data-value="0"><span class="label label-primary">No</span></td>
            <td data-value="1"><span class="label label-success">內建</span></td>
            <td data-value="1"><span class="label label-success">Yes</span></td>
        </tr>

        <tr>
            <td data-value="Mailfence">
                <img alt="Mailfence" src="assets/img/provider/Mailfence.png" width="200" height="70">
            </td>
            <td>
                <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://www.mailfence.com" href="https://www.mailfence.com"><img alt="WWW" src="assets/img/layout/www.png" width="35"></a>
            </td>
            <td data-value="2013">2013</td>
            <td><span class="flag-icon flag-icon-be"></span> 比利時</td>
            <td data-value="500">500 MB</td>
            <td data-value="0"><span class="label label-warning">Free</span></td>
            <td data-value="1"><span class="label label-success">接受</span></td>
            <td data-value="1"><span class="label label-success">內建</span></td>
            <td data-value="1"><span class="label label-success">Yes</span></td>
        </tr>

        <tr>
            <td data-value="mailbox.org">
                <img alt="mailbox.org" src="assets/img/provider/mailbox.org.png" width="200" height="70">

            </td>
            <td>
                <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://www.mailbox.org" href="https://www.mailbox.org"><img alt="WWW" src="assets/img/layout/www.png" width="35"></a>
            </td>
            <td data-value="2014">2014</td>
            <td><span class="flag-icon flag-icon-de"></span> 德國</td>
            <td data-value="2000">2 GB</td>
            <td data-value="13">12 €</td>
            <td data-value="1"><span class="label label-success">接受</span></td>
            <td data-value="1"><span class="label label-success">內建</span></td>
            <td data-value="1"><span class="label label-success">Yes</span></td>
        </tr>

        <tr>
            <td data-value="Posteo">
                <img alt="Posteo" src="assets/img/provider/Posteo.png" width="200" height="70">
            </td>
            <td>
                <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://www.posteo.de" href="https://www.posteo.de"><img alt="WWW" src="assets/img/layout/www.png" width="35"></a>
            </td>
            <td data-value="2009">2009</td>
            <td><span class="flag-icon flag-icon-de"></span> 德國</td>
            <td data-value="2000">2 GB</td>
            <td data-value="13">12 €</td>
            <td data-value="0"><span class="label label-primary">No</span></td>
            <td data-value="1"><span class="label label-success">內建</span></td>
            <td data-value="0"><span class="label label-primary">No</span></td>
        </tr>

        <tr>
            <td data-value="Runbox">
                <img alt="Runbox" src="assets/img/provider/runbox.png" width="200" height="70">

            </td>
            <td>
                <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://runbox.com" href="https://runbox.com"><img alt="WWW" src="assets/img/layout/www.png" width="35"></a>
            </td>
            <td data-value="1999">1999</td>
            <td><span class="flag-icon flag-icon-no"></span> 挪威</td>
            <td data-value="1000">1 GB</td>
            <td data-value="20">$ 19.95</td>
            <td data-value="1"><span class="label label-primary">Yes</span></td>
            <td data-value="0"><span class="label label-primary">No</span></td>
            <td data-value="1"><span class="label label-success">Yes</span></td>
        </tr>

        <tr>
            <td data-value="Neomailbox">
                <img alt="Neomailbox" src="assets/img/provider/Neomailbox.png" width="200" height="70">
            </td>
            <td>
                <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://www.neomailbox.com" href="https://www.neomailbox.com"><img alt="WWW" src="assets/img/layout/www.png" width="35"></a>
            </td>
            <td data-value="2003">2003</td>
            <td><span class="flag-icon flag-icon-ch"></span> 瑞士</td>
            <td data-value="1000">1 GB</td>
            <td data-value="50">$ 49.95</td>
            <td data-value="1"><span class="label label-success">接受</span></td>
            <td data-value="1"><span class="label label-success">內建</span></td>
            <td data-value="1"><span class="label label-success">Yes</span></td>
        </tr>

        <tr>
            <td data-value="StartMail">
                <img alt="StartMail" src="assets/img/provider/StartMail.png" width="200" height="70">
            </td>
            <td>
                <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://www.startmail.com" href="https://www.startmail.com"><img alt="WWW" src="assets/img/layout/www.png" width="35"></a>
            </td>
            <td data-value="2014">2014</td>
            <td><span class="flag-icon flag-icon-nl"></span> 荷蘭</td>
            <td data-value="10000">10 GB</td>
            <td data-value="60">$ 59.95</td>
            <td data-value="0"><span class="label label-success">接受</span></td>
            <td data-value="1"><span class="label label-success">內建</span></td>
            <td data-value="1"><span class="label label-success">Yes</span></td>
        </tr>

        <tr>
            <td data-value="Kolab Now">
                <img alt="Kolab Now" src="assets/img/provider/Kolab-Now.png" width="200" height="70">
            </td>
            <td>
                <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://www.kolabnow.com" href="https://www.kolabnow.com"><img alt="WWW" src="assets/img/layout/www.png" width="35"></a>
            </td>
            <td data-value="2010">2010</td>
            <td><span class="flag-icon flag-icon-ch"></span> 瑞士</td>
            <td data-value="2048">2 GB</td>
            <td data-value="60">$ 60</td>
            <td data-value="1"><span class="label label-success">接受</span></td>
            <td data-value="0"><span class="label label-primary">No</span></td>
            <td data-value="1"><span class="label label-success">Yes</span></td>
        </tr>

        </tbody>
    </table>
</div>

<h3>尚在開發階段的有趣電子郵供應商</h3>
<ul>
    <li><a href="https://www.confidantmail.org/">Confidant Mail</a> - 開源，非-SMTP 的密碼式電子郵件系統，可以最佳化大型檔案附件。對一般電子郵件與網路檔案下載，它是另一個安全且防範垃圾郵件的替代選項。其 利用<a href="https://theprivacyguide.org/tutorials/gpg.html">GNU Privacy Guard (GPG)</a>進行內容加密與認證，以 TLS 1.2 產生的暫用密鑰來進行傳輸加密。</li>
</ul>  <h3>利用 Mail-in-a-Box 來打造自家電子郵件供應</h3>
<a href="https://mailinabox.email/"><img src="assets/img/provider/Mail-in-a-Box.png" class="img-fluid float-left" alt="Mail-in-a-Box" style="margin-right:10px;"></a>
<p>利用這個易於佈署的郵件伺服器工具箱，更進一步地掌控自己的電子郵件安全。Mail-in-a-Box 讓你透過一些簡單的步驟來設置自己的電子郵件伺服器，就有點像是打造一個自己專屬的 Gmail。但可以完全由自己從頭到尾掌控。技術上來看，Mail-in-a-Box 把新興的雲端電腦變成了一個可工作的郵件伺服器。並不需要技術專家才能作好設定。 <strong>進一步資訊請見：<a href="https://mailinabox.email/">https://mailinabox.email/</a></strong></p>

<h3>私密的電子郵件工具</h3>
<ul>
    <li><a href="https://www.gpg4usb.org/">gpg4usb</a> - 容易使用的小型隨身編輯器軟體，可用來加密與解密任何文字訊息或檔案。Windows 與 Linux 可用。 <a href="https://theprivacyguide.org/tutorials/gpg.html">GPG 使用教學（英文）</a>.</li>
    <li><a href="https://www.mailvelope.com/">Mailvelope</a> - 一個瀏覽器外掛元件，依循 <a href="https://theprivacyguide.org/tutorials/pgp.html">OpenPGP OpenPGP 加密標準</a>，可以進行網頁電子郵件的加密通訊。</li>
    <li><a href="https://www.enigmail.net/">Enigmail</a> - Thunderbird/Seamonkey 電子郵件軟體上的安全外掛元件。依循 <a href="https://theprivacyguide.org/tutorials/pgp.html">OpenPGP 加密標準</a>，讓使用者可作為電子郵件撰寫、接收郵件上加密或簽章功能。</li>
    <li><a href="https://addons.mozilla.org/thunderbird/addon/torbirdy/">TorBirdy</a> - 這個外掛元件可讓 Thunderbird 郵件設定以連上 Tor 匿名網路。</li>
    <li><a href="https://emailprivacytester.com/">Email Privacy Tester</a> - 這個工具會傳送一封電子郵件到你的地址以進行相關安全隱私測試。</li>
</ul>

<h3>相關資訊</h3>
<ul>
    <li><a href="https://www.wired.com/2011/10/ecpa-turns-twenty-five/">Aging 'Privacy' Law Leaves Cloud E-Mail Open to Cops</a> - 存放在雲端超過 6 個月以上的電子郵件資料被視為棄置，故情資單位可在無法院令狀下取調。使用外部的電子郵件軟體如 Thunderbird 或 Enigmail，把電子郵件下載到本地端電腦儲存，不要存留在郵件伺服器上</li>
    <li><a href="https://www.eff.org/deeplinks/2012/04/may-firstriseup-server-seizure-fbi-overreaches-yet-again">With May First/Riseup Server Seizure, FBI Overreaches Yet Again</a></li>
    <li><a href="https://www.autistici.org/ai/crackdown/">Autistici/Inventati server compromised</a> - Autistici/Inventatio 伺服器所提供的加密服務曾在 2004 年 6 月 15 日受到破壞，但到一年後 2005 年 6 月 21 日才被發現。這段期間，任何一個郵箱的查詢，郵件警察可能在該段期間內監看了 autistici.org/inventati.org 每位使用者的私人通訊狀況。</li>
</ul>