<h1 id="messaging" class="anchor"><a href="#messaging"><i class="fas fa-link anchor-icon"></i></a> 電子郵件替代</h1>
<div class="row mb-2">

    {% include card.html color='success'
    title='I2P-Bote'
    image='assets/img/tools/I2P.png'
    url='https://i2pbote.xyz/'
    footer='支援作業系統：Windows, macOS, Linux, Android, BSD / Solaris。'
    description='I2P-Bote 是一個完全去中心化的分散式電子郵件系統。它支援不同的身份識別也不會曝露郵件表頭資訊。到 2015 年為止，它仍處在測試版本，可以透過網頁介面應用程式或 IMAP 與 SMTP 來取用。所有 bote-mails 電子郵件是採端對端透明加密或是可以選擇利用傳送者的私鑰進行數位簽名。'
    %}

    {% include card.html color='primary'
    title='Bitmessage'
    image='assets/img/tools/Bitmessage.png'
    url='https://bitmessage.org/'
    footer='支援作業系統：Windows, macOS, Linux。'
    description='Bitmessage 是一種端對端的通訊協議，被用來傳送加密訊息給單一或多名訂閱者。它是去中心化與無信任，其意指使用者不必要信任任何根憑證授權的實體。它採用強度高的認證授權，讓送件者的訊息無法被欺騙，目的在於能將非訊息內容的資料予以隱藏。'
    %}

    {% include card.html color='warning'
    title='RetroShare'
    image='assets/img/tools/RetroShare.png'
    url='http://retroshare.net'
    footer='支援作業系統：Windows, macOS, Linux。'
    description='Retroshare 可建立朋友間的加密通訊連線，沒有人可以監控你。Retroshare 是一個完全分散化的設計，這代表著它沒有任何中心控制的伺服器。它完全為開源和免費。它沒有任何成本、廣告或是服務協議。'
    %}
</div>