<h1 id="email" class="anchor"><a href="#email"><i class="fas fa-link anchor-icon"></i></a> 具隱私意識的電郵服務商- 與本站無利害關聯</h1>

<div class="alert alert-success" role="alert">
  <strong> 這裏列出的供應商都在美國境外營運，並且支援 <a data-toggle="tooltip" data-placement="bottom" data-original-title="When sending or receiving emails, if both the sending and receiving servers support TLS encryption, the email is sent between servers using an encrypted connection.">SMTP TLS.</a>。這份表格經過整理。</strong>
</div>

<h1 id="email" class="anchor"><a href="#email"><i class="fas fa-link anchor-icon"></i></a> 優質的電郵服務商</h1>

<div class="alert alert-success" role="alert">
  <strong>此推薦的供應商都不在美國境內，採取最新郵件技術加密，請參見<a href="/providers/email/#criteria">評鑑標準</a>。</strong> wiki 頁(英文)另有對下方供應商 <a href="https://wiki.privacytools.io/view/Comparison_of_email_providers#Provider_comparison">更詳細的的比較表</a>。
</div>

<div class="container-fluid">

  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img
        src="/assets/img/svg/3rd-party/protonmail.svg"
        height="70"
        width="200"
        class="img-fluid d-block mr-auto ml-auto align-middle"
        alt="ProtonMail">
    </div>
    <div class="col">
    <h2 id="protonmail" class="anchor"><a href="#protonmail"><i class="fas fa-link anchor-icon"></i></a> ProtonMail {% include badge.html color="info" text="Free" %}</h2>
    <p><strong><a href="https://protonmail.com">ProtonMail.com</a></strong> 專注於提供安全、隱私保護與簡便好用的加密電郵服務。自They have been in operation since <strong>2013</strong>營運，ProtonMail 總部位於瑞士<span class="flag-icon flag-icon-ch"></span>日內瓦，他們提供容量 500 MB 的免費電郵。</p>

    <p>免費版功能受限，不能使用<a href="https://protonmail.com/bridge">ProtonMail Bridge</a>，須用<a href="/software/email">推薦的郵件軟體</a> (e.g. Thunderbird) 才可搜尋郵件全文。付費帳號費用自 <strong>€ 48 歐元/年起跳</strong>，含 ProtonMail Bridge、更大儲存容量、自定網域名等功能。網頁版電郵無法搜尋郵件全文，只能查 <code>To:</code>, <code>From:</code>, <code>Date:</code> and <code>Subject:</code>寄件、收件、日期、主旨( Protomail <<a href="https://reddit.com/comments/cqwk2a/comment/ex21b4e">v4.0 第四版</a>可能會加以修改。)</p>

    <h5>{% include badge.html color="success" text="網域名與別名信箱" %}</h5>
    <p>付費帳號可使用自定域名，自定域名的專業版與尊貴版用戶可使用<a href="https://protonmail.com/support/knowledge-base/catch-all/">Catch-all</a> 功能收取該網域名的任何信箱。 ProtonMail 也支援<a href="https://protonmail.com/support/knowledge-base/creating-aliases/">子地址 </a>，這對不想買域名的用戶很方便。</p>

    <h5>{% include badge.html color="success" text="支付方式" %}</h5>
    <p>ProtonMail 可收 Bitcoin、信用卡/借貸卡與 PayPal等付款方式</p>

    <h5>{% include badge.html color="success" text="帳號安全" %}</h5>
    <p>ProtonMail 目前僅支援 <a href="https://en.wikipedia.org/wiki/Time-based_One-time_Password_Algorithm">TOTP</a> <a href="https://protonmail.com/support/knowledge-base/two-factor-authentication/">雙因子驗證</a>，尚未支援硬體式的<a href="https://en.wikipedia.org/wiki/Universal_2nd_Factor">U2F</a> 安全鑰。 ProtonMail 打算在完成<a href="https://reddit.com/comments/cheoy6/comment/feh2lw0/">單次登入Single Sign On (SSO)</a> 程式碼之後實施 U2F。</p>

    <h5>{% include badge.html color="success" text="資料安全" %}</h5>
    <p>ProtonMail 全程使用 <a href="https://protonmail.com/blog/zero-access-encryption">零讀取加密 zero access encryption</a>保護用戶電郵 、<a href="https://protonmail.com/blog/encrypted-contacts-manager">聯絡簿</a>與<a href="https://protonmail.com/blog/protoncalendar-security-model">行事曆</a>，所以這些資料只有帳號當事人才可以讀取。</p>

    <h5>{% include badge.html color="success" text="郵件加密" %}</h5>
    <p>ProtonMail 的網頁電郵整合了<a href="https://protonmail.com/support/knowledge-base/how-to-use-pgp"> OpenPGP 加密</a>。寄給 ProtonMail 的信件會自動予以加密，而寄給持有 OpenPGP 密鑰但非 Protonmail 使用者的信件能簡單在帳號設定處啟動<a href="https://protonmail.com/support/knowledge-base/encrypt-for-outside-users">>信件加密</a>。</p>
    <p>用戶可透過 ProtonMail 的<a href="https://wiki.gnupg.org/WKD">Web Key Directory (WKD)</a>來發現公鑰，如此一來非 ProtonMail 用戶可以利用 ProtonMail 用戶的公鑰目錄寄出加密信，進行不同服務商之間的電子郵件加密。</p>

    <h5>{% include badge.html color="success" text=".onion Service" %}</h5>
    <p>ProtonMail 可運行於  Tor 網路，訪問網址在 <a href="https://protonirockerxow.onion/">protonirockerxow.onion</a>.</p>

    <h5>{% include badge.html color="info" text="額外功能" %}</h5>
    <p>ProtonMail 每月付費 €24 歐元/月的"Visionary" 尊貴版，其可同時使用 ProtonVPN、多個帳號、自定域名、別名信箱、額外容量等服務。</p>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img
        src="/assets/img/svg/3rd-party/mailboxorg.svg"
        height="70"
        width="200"
        class="img-fluid d-block mr-auto ml-auto align-middle"
        alt="Mailbox">
    </div>
    <div class="col">
    <h2 id="mailbox" class="anchor"><a href="#mailbox"><i class="fas fa-link anchor-icon"></i></a> Mailbox.org {% include badge.html color="info" text="€12/y" %}</h2>
    <p><strong><a href="https://mailbox.org">Mailbox.org</a></strong>完全使用綠色能源提供客戶安全、無廣告干擾、尊重隱私的郵件服務。他們於 <strong>2014</strong> 成立於 <span class="flag-icon flag-icon-de"></span>德國柏林 Germany，入門帳號有 2 GB 儲存空間，可以加碼昇級。</p>

    <h5>{% include badge.html color="success" text="網域名與別名信箱" %}</h5>
    <p>Mailbox.org 可自定域名且支援lets users use their own domain and they support <a href="https://kb.mailbox.org/display/MBOKBEN/Using+catch-all+alias+with+own+domain">Catch-all</a>收取該網域名的任何信箱。不想買域名的用戶，Mailbox.org 也提供 <a href="https://kb.mailbox.org/display/BMBOKBEN/What+is+an+alias+and+how+do+I+use+it">子地址</a>服務。 </p>


    <h5>{% include badge.html color="warning" text="付款方式" %}</h5>
    <p>Mailbox.org 不接受比特幣或其它加密貨幣，因為他們的支付處理商 BitPay 遭德國政府禁止營運。可接受現金袋郵寄、現金、銀行滙款、轉帳、信用卡、 PayPal 以及一些德國特定的支付商如 paydirekt 與 Sofortüberweisung。</p>

    <h5>{% include badge.html color="success" text="帳號安全" %}</h5>
    <p>Mailbox.org 僅有網頁郵件支援 <a href="https://kb.mailbox.org/display/MBOKBEN/How+to+use+two-factor+authentication+-+2FA">雙因子驗證</a> 可設定<a href="https://en.wikipedia.org/wiki/Time-based_One-time_Password_Algorithm">TOTP</a> 或利用雲端版<a href="https://www.yubico.com/products/services-software/yubicloud">Yubicloud</a> <a href="https://en.wikipedia.org/wiki/YubiKey">Yubikey</a>  操作。網頁標準如<a href="https://en.wikipedia.org/wiki/Universal_2nd_Factor">U2F</a> 與<a href="https://en.wikipedia.org/wiki/WebAuthn">WebAuthn</a> 則未支援。</p>

    <h5>{% include badge.html color="warning" text="資料安全" %}</h5>
    <p>Mailbox.org 利用 <a href="https://kb.mailbox.org/display/MBOKBEN/The+Encrypted+Mailbox">加密信件匧</a>來收取信件，新收到的郵件會立即先用收件人的公鑰加密。</p>
    <p>但是 Mailbox.org 所使用的<a href="https://en.wikipedia.org/wiki/Open-Xchange">Open-Exchange</a> <a href="https://kb.mailbox.org/display/BMBOKBEN/Encryption+of+calendar+and+address+book">無法</a>加密聯絡簿與行事曆。因此最好是另外<a href="/software/calendar-contacts/">個別獨立儲放</a>這些資料。</p>

    <h5>{% include badge.html color="success" text="郵件加密" %}</h5>
    <p>Mailbox.org 的網頁版郵件 <a href="https://kb.mailbox.org/display/MBOKBEN/Send+encrypted+e-mails+with+Guard">已整合加密</a>功能，簡化了用戶以公開的 OpenPGP 金鑰寄送郵件的手續。<a href="https://kb.mailbox.org/display/MBOKBEN/My+recipient+does+not+use+PGP">遠端收件人也可在 Mailbox.org 伺服器進行解密</a>，這對於沒有 OpenPGP 密鑰不會解密郵件的收信人而言大為方便。</p>

    <p>Mailbox.org 有<a href="https://wiki.gnupg.org/WKD">Web Key Directory (WKD)</a>功能如此一來非 Mailbox.org 用戶可以利用 WKD 向Mailbox.org 用戶發送加密郵件，完成不同服務商之間的電子郵件加密。</p>

    <h5>{% include badge.html color="warning" text=".onion Service" %}</h5>
    <p>用戶可透 IMAP/SMTP 來使用其 Tor 網路 <a href="https://kb.mailbox.org/display/MBOKBEN/The+Tor+exit+node+of+mailbox.org"> .onion 服務</a>下的信箱帳號，不過其網頁介面卻無法在  .onion 服務下訪問，可能會遇上 TLS 憑證錯誤的問題。</p>

    <h5>{% include badge.html color="info" text="額外功能" %}</h5>
    <p>提供所有用戶容量限額的<a href="https://kb.mailbox.org/display/MBOKBEN/Encrypt+files+on+your+Drive">加密雲端</a>>空間，也提供尾綴為 <a href="https://kb.mailbox.org/display/MBOKBEN/Ensuring+E-Mails+are+Sent+Securely">@secure.mailbox.org</a>的別名信箱，此信箱強制郵件伺服器之間使用 TLS 加密，否則不會送發訊息。除了一般標準的 IMAP and POP3，Mailbox.org 還可用 <a href="https://en.wikipedia.org/wiki/Exchange_ActiveSync">Exchange ActiveSync</a>。</p>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img
        src="/assets/img/svg/3rd-party/posteo.svg"
        height="70"
        width="200"
        class="img-fluid d-block mr-auto ml-auto align-middle"
        alt="Posteo">
    </div>
    <div class="col">
    <h2 id="posteo" class="anchor"><a href="#posteo"><i class="fas fa-link anchor-icon"></i></a> Posteo {% include badge.html color="info" text="€12/y" %}</h2>
    <p><strong>自 <strong>2009</strong>於<span class="flag-icon flag-icon-de"></span> 德國成立以來，<a href="https://posteo.de">Posteo.de</a></strong> 同樣全部使用綠色能源，提供用戶安全、匿名、私密的電郵服務。新註冊者可有 14天免費運試用，入門帳號享有 2 GB 容量，可加購郵箱空間(1GB 每月 €0.25 歐元。)</p>

    <h5>{% include badge.html color="warning" text="網域名與別名信箱" %}</h5>
    <p>Posteo  <a href="https://posteo.de/en/site/faq">無法使用自定域名</a>，不過有<a href="https://posteo.de/en/help/what-is-an-email-alias">子地址</a>功能。</p>

    <h5>{% include badge.html color="warning" text="付款方式" %}</h5>
    <p>Posteo 不收比特幣與其它加密貨幣，可收現金、信用卡、借貸卡 PayPal 等等，Posteo 收款後會<a href="https://posteo.de/en/site/payment">移除可辨識身份之資訊</a>。</p>

    <h5>{% include badge.html color="success" text="帳號安全" %}</h5>
    <p>Posteo 僅有網頁版郵件支援 <a href="https://posteo.de/en/help/what-is-two-factor-authentication-and-how-do-i-set-it-up">雙因子驗證</a>。用戶可透過<a href="https://en.wikipedia.org/wiki/Time-based_One-time_Password_Algorithm">TOTP</a> a <a href="https://en.wikipedia.org/wiki/YubiKey">Yubikey</a> 雙重驗證。網頁標準如<a href="https://en.wikipedia.org/wiki/Universal_2nd_Factor">U2F</a> 與<a href="https://en.wikipedia.org/wiki/WebAuthn">WebAuthn</a> 則未支援。</p>

    <h5>{% include badge.html color="warning" text="資料安全" %}</h5>
    <p>Posteo 運用 <a href="https://posteo.de/en/site/encryption#cryptomailstorage">零存取加密 zero access encryption</a>來保存郵件，只有所有者才能看得內容。</p>
    <p>Posteo 也可對用戶的 <a href="https://posteo.de/en/site/features#featuresaddressbook">聯絡簿</a> 與 <a href="https://posteo.de/en/site/features#featurescalendar"> 行事曆</a> 予以加密，不過它使用的是標準的  <a href="https://en.wikipedia.org/wiki/CalDAV">CalDAV</a> 和 <a href="https://en.wikipedia.org/wiki/CardDAV">CardDAV</a> 格式，這些協定並不支援 <a href="https://en.wikipedia.org/wiki/End-to-end_encryption">E2EE (端對端加密End-To-End Encryption)</a>，所以更安全的作法是另外 <a href="/software/calendar-contacts/">單獨存放</a>。</p>

    <h5>{% include badge.html color="success" text="郵件加密" %}</h5>
    <p>Posteo 的電郵網頁版 <a href="https://posteo.de/en/site/encryption#pgp_webmailer">整合了加密</a>功能，簡化用戶以公開的 OpenPGP 金鑰寄送郵件。他們也有<a href="https://wiki.gnupg.org/WKD">Web Key Directory (WKD)</a>，如此一來非用戶可以利用 WKD 向 Posteo 用戶發送加密郵件，進行不同服務商之間的電子郵件加密。</p>

    <h5>{% include badge.html color="danger" text=".onion Service" %}</h5>
    <p>Posteo 不能透過 Tor 網路訪問 .onion </p>

    <h5>{% include badge.html color="info" text="額外功能" %}</h5>
    <p>Posteo 用戶可以 <a href="https://posteo.de/en/help/does-posteo-offer-mailing-lists">設定自己的郵件論壇 mailing lists</a>，一個帳號僅限一個免費論壇。</p>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img
        src="/assets/img/svg/3rd-party/disroot.svg"
        data-theme-src="/assets/img/svg/3rd-party/disroot-dark.svg"
        height="70"
        width="200"
        class="img-fluid d-block mr-auto ml-auto align-middle"
        alt="Disroot">
    </div>
    <div class="col">
    <h2 id="disroot" class="anchor"><a href="#disroot"><i class="fas fa-link anchor-icon"></i></a> Disroot {% include badge.html color="info" text="Free" %}</h2>
    <p><strong><a href="https://disroot.org/en/services/email">Disroot</a></strong>的<a href="https://disroot.org/en/#services">other services</a>多項服務，電子郵件只是其中之一。Disroot 由志工營運，自 <strong>2015</strong>成立以來， Disroot 以<span class="flag-icon flag-icon-nl"></span> 荷蘭阿姆斯特丹為基地，利用開源軟體如 Rainloop 提供社群免費服務。使用者可利用捐款表示支持或是花錢加購額外容量。電子郵件基本額度是 1 GB 而加購價則是 1 GB 0.15€/月(年繳)</p>

    <h5>{% include badge.html color="success" text="網域名與別名信箱" %}</h5>
    <p>使用可自定網域、別名信箱，其設定須自行<a href="https://disroot.org/en/forms/alias-request-form">手動變更</a>。</p>

    <h5>{% include badge.html color="success" text="付款方式" %}</h5>
    <p>可收比特幣、Faircoin、 PayPal、Patreon、銀行直接帳號扣款等支付方式， Disroot 為非營利組織，可透過 Liberapay, Flattr,  Monero 接受捐款，但這些捐款不能被視為購買支付其提供的服務使用。</p>

    <h5>{% include badge.html color="success" text="帳號安全" %}</h5>
    <p>Disroot 支援網頁版的 <a href="https://en.wikipedia.org/wiki/Time-based_One-time_Password_Algorithm">TOTP</a> 雙因子驗證，無法使用<a href="https://en.wikipedia.org/wiki/Universal_2nd_Factor">U2F</a> 安全硬體驗證。</p>

    <h5>{% include badge.html color="warning" text="資料安全" %}</h5>
    <p>雖然 Disroot 使用全磁碟加密，但它並不是 "零存取"，在技術上有可能自行解密他人的資料。</p>
    <p>Disroot 使用聯絡人與行事曆的標準 <a href="https://en.wikipedia.org/wiki/CalDAV">CalDAV</a> and <a href="https://en.wikipedia.org/wiki/CardDAV">CardDAV</a> 協定，故無法 E2EE 加密，最好能另外 <a href="/software/calendar-contacts/">個別獨立</a>較安全。</p>

    <h5>{% include badge.html color="success" text="郵件加密" %}</h5>
    <p>Disroot 可運用網頁版與 OpenPGP 送出加密郵件。它們並未整合 <a href="https://wiki.gnupg.org/WKD">Web Key Directory (WKD)</a>功能。</p>

    <h5>{% include badge.html color="danger" text=".onion Service" %}</h5>
    <p>Disroot 不能透過 Tor 網路訪問 .onion</p>

    <h5>{% include badge.html color="info" text="額外功能" %}</h5>
    <p>除電郵外，還提供</p> <a href="https://disroot.org/en/#services">其它服務</a>例如 NextCloud, XMPP Chat, Etherpad, Ethercalc, Pastebin, Online polls and a Gitea 等等，也可以在 <a href="https://f-droid.org/packages/org.disroot.disrootapp/">F-Droid</a>找到 Disroot 自己的應用 app。</p>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img
        src="/assets/img/svg/3rd-party/tutanota.svg"
        data-theme-src="/assets/img/svg/3rd-party/tutanota-dark.svg"
        height="70"
        width="200"
        class="img-fluid d-block mr-auto ml-auto align-middle"
        alt="Tutanota">
    </div>
    <div class="col">
    <h2 id="tutanota" class="anchor"><a href="#tutanota"><i class="fas fa-link anchor-icon"></i></a> Tutanota {% include badge.html color="info" text="Free" %}</h2>
    <p><strong><a href="https://tutanota.com">Tutanota.com</a></strong> 提供加密，強調安全與隱私的電子郵件服務商，Tutanota <strong>2011</strong> 成立於德國<span class="flag-icon flag-icon-de"></span> 漢諾瓦。免費版提供 1GB 的容量。</p>
    <p>Tutanota <a href="https://tutanota.com/faq/#imap">無法</a> 使用第三方的 <a href="/software/email/">郵件軟體</a>，他們打算利用 <a href="https://en.wikipedia.org/wiki/Internet_Message_Access_Protocol">IMAP</a>協定來開發<a href="https://github.com/tutao/tutanota/issues/544">外部郵件帳號收取</a> 支援。 <a href="https://github.com/tutao/tutanota/issues/630">目前無法滙入其它帳號郵件</a>。</p>
    <p>郵件可 <a href="https://tutanota.com/howto#generalMail">個別或大批選取</a>滙出，但它沒有別家服務商提供的<a href="https://github.com/tutao/tutanota/issues/927">個別信件匧</a>功能。</p>
    <p>Tutanota 正在開發 <a href="https://tutanota.com/blog/posts/desktop-clients/">電腦版的客戶端軟體</a>，現有手機版應用可從<a href="https://f-droid.org/packages/de.tutao.tutanota"> F-Droid</a>下載，或是主流的 <a href="https://apps.apple.com/us/app/tutanota/id922429609">App Store</a>與<a href="https://play.google.com/store/apps/details?id=de.tutao.tutanota">Google Play</a> 下戴。</p>

    <h5>{% include badge.html color="success" text="網域名與別名信箱" %}</h5>
    <p>付費版最多可設置  5 個<a href="https://tutanota.com/faq#alias">別名</a> 與 <a href="https://tutanota.com/faq#custom-domain">自定網域</a>。 它不能設 <a href="https://tutanota.com/faq#plus">子地址 (加號地址plus addresses)</a>，但用戶可利用自定域名作 <a href="https://tutanota.com/howto#settings-global">catch-all</a>域名下的全部信件接收。</p>

    <h5>{% include badge.html color="danger" text="付款方式" %}</h5>
    <p>Tutanota 僅收信用卡和 paypal</p>

    <h5>{% include badge.html color="success" text="帳號安全" %}</h5>
    <p>Tutanota 提供 <a href="https://tutanota.com/faq#2fa">雙因子驗證</a>，用戶可透過 <a href="https://en.wikipedia.org/wiki/Time-based_One-time_Password_Algorithm">TOTP</a> 或<a href="https://en.wikipedia.org/wiki/Universal_2nd_Factor">U2F</a>，但<a href="https://github.com/tutao/tutanota/issues/443">安卓版</a>尚未支援 U2F。</p>

    <h5>{% include badge.html color="success" text="資料安全" %}</h5>
    <p>Tutanota 全程使用 <a href="https://tutanota.com/faq#what-encrypted">零讀取加密 zero access encryption</a>保護用戶電郵 、<a href="https://tutanota.com/faq#encrypted-address-book">聯絡簿</a>與<a href="https://tutanota.com/faq#calendar">行事曆</a>，所以這些資料只有帳號當事人才可以讀取。</p>

    <h5>{% include badge.html color="warning" text="郵件加密" %}</h5>
    <p>Tutanota <a href="https://www.tutanota.com/faq/#pgp">無使用 OpenPGP</a>，用戶收取其它服務商的加密郵件時必須透過一個<a href="https://www.tutanota.com/howto/#encrypted-email-external">臨時的信箱</a>。</p>
    <p>Tutanota <a href="https://github.com/tutao/tutanota/issues/198">計畫要</a>提供<a href="https://autocrypt.org">AutoCrypt</a>支援，好便於非用戶利用郵件軟體 AutoCrypt 功能來寄送加密郵件給 Tutanota 用戶。</p>

    <h5>{% include badge.html color="danger" text=".onion Service" %}</h5>
    <p>Tutanota 無法運行於 Tor 網路  .onion 服務，但以後或許會<a href="https://github.com/tutao/tutanota/issues/528">考慮</a>新增此服務。</p>

    <h5>{% include badge.html color="info" text="額外功能" %}</h5>
    <p>對<a href="https://tutanota.com/blog/posts/secure-email-for-non-profit"></a>非營利組織，Tutanota 提供免費或拆扣價的商務帳號。</p>

    <p>Tutanota 有提供商用特別功能，稱之為 <a href="https://tutanota.com/secure-connect/">Secure Connect</a>，它可確保客戶利用 E2EE 進行業務郵件聯繫，本功能每年收費 €240。</p>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img
        src="/assets/img/svg/3rd-party/startmail.svg"
        data-theme-src="/assets/img/svg/3rd-party/startmail-dark.svg"
        height="70"
        width="200"
        class="img-fluid d-block mr-auto ml-auto align-middle"
        alt="StartMail">
    </div>
    <div class="col">
    <h2 id="startmail" class="anchor"><a href="#startmail"><i class="fas fa-link anchor-icon"></i></a> StartMail {% include badge.html color="info" text="Personal USD $59.95/y" %}</h2>
    <p><strong><a href="https://startmail.com">StartMail.com</a></strong>使用標準 OpenPGP 加密，專注安全與隱私的電子郵件服務商。至 <strong>2014</strong>營運以來， StartMail <span class="flag-icon flag-icon-nl"></span> 荷蘭為基地，帳號容量從 10GB 起跳，提供 30天的試用體驗。</p>

    <h5>{% include badge.html color="success" text="網域名與別名信箱" %}</h5>
    <p>個人帳號可使用<a href="https://support.startmail.com/hc/en-us/articles/360007297457-Aliases">自定或隨機的</a>別名，公司帳號則可使用<a href="https://support.startmail.com/hc/en-us/articles/360006840058">網域別名</a>。</p>

    <h5>{% include badge.html color="warning" text="付款方式" %}</h5>
    <p>StartMail 可收 Visa, MasterCard, American Express 信用卡與 Paypal，還可接受 <a href="https://support.startmail.com/hc/en-us/articles/360006620637-Payment-methods">其它付款方式 </a> 如比特幣 (目前僅供個人帳號支付)、 SEPA 直接扣款則須帳號使用滿一年。</p>

    <h5>{% include badge.html color="success" text="帳號安全" %}</h5>
    <p>StartMail 僅支援<a href="https://support.startmail.com/hc/en-us/articles/360006682158-Two-factor-authentication-2FA"></a>網頁郵件
    </a>的 <a href="https://en.wikipedia.org/wiki/Time-based_One-time_Password_Algorithm">TOTP</a>雙因子驗證</a>。用戶無法使用<a href="https://en.wikipedia.org/wiki/Universal_2nd_Factor">U2F</a> 安全鑰物理驗證。</p>

    <h5>{% include badge.html color="warning" text="資料安全" %}</h5>
    <p>StartMail 運用其 "user vault" 系統，提供全程的<a href="https://www.startmail.com/en/whitepaper/#_Toc458527835">零存取加密</a>，用戶登入後即會開啟此 vault，並將郵件透過收信人的私鑰解密後移到此區 。</p>
    <p>StartMail 可滙入 <a href="https://support.startmail.com/hc/en-us/articles/360006495557-Import-contacts">聯絡人資料</a>，不過此功能須透過網頁版服務而非利用<a href="https://en.wikipedia.org/wiki/CalDAV">CalDAV</a>之協定。聯絡人的資訊也並非以零知識加密儲存，因此最好對這些資料 <a href="/software/calendar-contacts/">另外採取獨立的保護方式</a> 更為妥當。</p>

    <h5>{% include badge.html color="success" text="郵件加密" %}</h5>
    <p>StartMail 的網頁郵件有 <a href="https://support.startmail.com/hc/en-us/sections/360001889078-Encryption">整合型加密</a>，大大簡化了用戶操作 OpenPGP 公鑰傳送訊息的麻煩。</p>

    <h5>{% include badge.html color="danger" text=".onion Service" %}</h5>
    <p>StartMail 無法運作於 Tor 網路 .onion 服務</p>

    <h5>{% include badge.html color="info" text="額外功能" %}</h5>
    <p>StartMail 允許郵件內的圖片代理，如果用戶同意載入遠端圖片，送件人並不會知道用戶的 IP 地址。</p>
    </div>
  </div>
</div>
