<h1 id="filesharing" class="anchor"><a href="#filesharing"><i class="fas fa-link anchor-icon"></i></a> File Sharing</h1>

{% include cardv2.html
title="Firefox Send"
image="/assets/img/svg/3rd-party/firefox_send.svg"
website="https://send.firefox.com/"
description="Firefox Send 使用端對端加密以維持資料從送出到被讀取全程之安全。使用者也可以自行設置安全控制，選擇檔案連結的時效長短、可下載次數以及是否要多加一層密碼輸入的安全防護。"
forum="https://forum.privacytools.io/t/discussion-firefox-send/755"
github="https://github.com/mozilla/send"
web="https://send.firefox.com/"
googleplay="https://play.google.com/store/apps/details?id=org.mozilla.firefoxsend"
%}

{% include cardv2.html
title="OnionShare"
image="/assets/img/svg/3rd-party/onionshare.svg"
website="https://onionshare.org/"
tor="http://elx57ue5uyfplgva.onion/"
description="OnionShare 開源工具可安全匿名地分享檔案，沒有大小限制。它透過網頁伺服器來啟動，讓自身變成 Tor 洋䓤服務接取的一部份，產生一個無法猜測的網址用以接取和下載檔案。其並不需要在網際網路上設定一個伺服器或是使用第三方的檔案分享服務。使用者可以透過自己的電腦來放置這些檔案，再使用 Tor 洋䓤服務以讓檔案透過網際網路暫時被存取。"
forum="https://forum.privacytools.io/t/discussion-onionshare/754"
github="https://github.com/micahflee/onionshare"
windows="https://onionshare.org/#downloads"
mac="https://onionshare.org/#downloads"
linux="https://onionshare.org/#downloads"
freebsd="https://www.freshports.org/www/onionshare/"
openbsd="http://openports.se/net/onionshare"
%}

{% include cardv2.html
title='Magic Wormhole'
image='/assets/img/png/3rd-party/magic_wormhole.png'
website='https://magic-wormhole.readthedocs.io'
description='電腦之間安全地收取檔案資料。這個套件提供一個名為蟲洞 wormhole 的資料庫，其可以在電腦之間取用不限大小的檔案與目錄資料夾。其電腦間兩個終端利用一致蟲洞代碼 "wormhole codes" 來識別，一般而言，傳送端的電腦會產生與顥示這個代碼，而接收端電腦則必須輸入此代碼以進行連接。此代碼很簡短且人類可識讀，利用發音可區別的文字行。接收端的電腦則在代碼字上提供 tab 補齊，因此通常要輸入一些字元。蟲洞代碼僅能使用一次，故不必強記。

Magic Wormhole 套件提供名為 wormhole 的資源庫與指令工具，以取得任何電腦上各種大小的檔案和目錄（或是一小段文字）。Magic Wormhole 的箴言是：「在電腦之間安全地取用資料 (Get things from one computer to another, safely.」'
forum='https://forum.privacytools.io/t/discussion-magic-wormhole/756'
github='https://github.com/warner/magic-wormhole'
windows='https://magic-wormhole.readthedocs.io/en/latest/welcome.html#installation'
mac='https://magic-wormhole.readthedocs.io/en/latest/welcome.html#installation'
linux='https://magic-wormhole.readthedocs.io/en/latest/welcome.html#installation'
freebsd='https://www.freshports.org/net/py-magic-wormhole/'
openbsd='https://pypi.org/project/magic-wormhole/'
netbsd='https://pypi.org/project/magic-wormhole/'
%}

<h3>值得一提</h3>

<ul>
  <li><a href="https://github.com/schollz/croc">croc</a> - 好用且能安全進行電腦資料傳送的工具。</li>
  <li><a href="https://freedombox.org/">FreedomBox</a> - 設計用於自架的經濟型家用伺服器，可運行自由軟體和提供越來越多的服務，例如日曆、Jabber server,  wiki 或 VPN 等。</li>
</ul>
