<h1 id="encrypt" class="anchor"><a href="#encrypt"><i class="fas fa-link anchor-icon"></i></a> 檔案加密系統</h1>
<div class="alert alert-warning" role="alert">
    <strong>如果你尚未對使用中的硬碟、電子郵件或檔案庫予以加密，你應該趕快從這挑選一個加密軟體。</strong>
</div>
<div class="row mb-2">

    {% include card.html color='success'
    title='VeraCrypt - 磁碟加密'
    image='assets/img/tools/VeraCrypt.png'
    url='https://veracrypt.fr/'
    footer='支援作業系統：Windows, macOS, Linux。'
    description='VeraCrypt 可取得程式碼的免費軟體工具，用來進行快速加密。它可以為一個檔案建立一個虛擬的加密磁碟、加密磁區或是在開機前授權設定整個設備的硬碟都予以加密。 VeraCrypt 源自目前已無進展的 TrueCrypt 專案。它最初的發佈是 2013 年 6 月 23日。據開發者表示，原本 TrueCrypt 程式碼在審查後發現的問題已經解決，大幅地改善了安全性。'
    %}

    {% include card.html color="primary"
    title="GNU Privacy Guard -  電子郵件加密"
    image="assets/img/tools/GnuPG.png"
    url="https://gpgtools.org/"
    footer="支援作業系統：Windows, macOS, Linux, Android, BSD。"
    description="GnuPG 是採 GPL 授權，替代 PGP 密碼學軟體套件。GnuPG 可兼容 RFC 4880, 它是一個目前 IETF OpenPGP 標準追蹤規格。目前 PGP（以及Veridis' Filecrypt）的版本可以和 GnuPG 以及其它 OpenPGP 兼容系統互相操作。GnuPG 是自由軟體基金會GNU 軟體專案中的一部份，曾接受德國政府的經費贊助。<a href=\"https://gpgtools.org/\">GPGTools for macOS</a>。"
    %}

    {% include card.html color='warning'
    title='PeaZip - 檔案庫加密'
    image='assets/img/tools/PeaZip.png'
    url='http://www.peazip.org/'
    footer='支援作業系統： Windows, Linux, BSD。'
    description='PeaZip 是由 Giorgio Tani 所開發的一套免費開源的檔案管理與檔案庫軟體。它支援原生的 PEA 檔案庫格式(特色為壓縮、多組磁區分割、彈性化節授權加密和一致的檢驗格式)以及其它的主流格式。其特別關注在開放格式，目前有支援 181 檔案延伸格式 (5.5.1版本)。</p>
    <p><strong>macOS 替代選項：</strong> <a href=\"https://www.keka.io/\">Keka</a> 是一個免費的檔歸建軟體。'
    %}

</div>

<h3>值得一提</h3>
<ul>
    <li><a href="https://cryptomator.org/">Cryptomator</a> - 免費客戶端的雲端檔案 AES 加密工具。其為開源軟體，沒有後門也無須註冊。</li>
    <li><a href="https://minilock.io/">miniLock</a> - Google Chrome / Chromium 瀏覽器的外掛，可用一組密碼來加密檔案，其開發者來自 Cryptocat。</li>
    <li><a href="https://www.aescrypt.com/">AES Crypt</a> - 使用強力 256-位元的加密演算法，AES Crypt 可以安全地保護最敏感的重要資料檔案，可使用在 Windows, macOS, Linux 與 Android 平台上。</li>
    <li><a href="https://diskcryptor.net/">DiskCryptor</a> - 可為 Windows 系統作整顆硬碟或分割磁區的加密系統，包括加密某個分割磁區或是作業系統所安裝的硬碟。</li>
    <li><a href="https://gitlab.com/cryptsetup/cryptsetup/">Linux Unified Key Setup (LUKS)</a> - 使用 dm-crypt 為磁碟加密骨幹，可為 Linux 全磁區加密系統。Ubuntu 作業環境提供其為默認設定，也有 Windows 與其它的 Linux 版本可用。
</ul>