<footer>

    <div class="page-header">
        <h4>無廣告、無 Google 追蹤分析器、無利害關聯、無跨站請求</h4>
    </div>

    <div class="row mt-3">
        <div class="col-md-3 col-sm-6 mb-3 d-flex justify-content-center d-flex justify-content-center">
            <a href="http://www.wtfpl.net/" data-toggle="tooltip" data-placement="top" style="margin-right:30px;" data-original-title="本站內容自由開放授權，任何人可依 Sam Hocevar 的 "Do What The Fuck You Want To Public License'' 條件，自由散佈、修改之。"><img alt="WTFPL" src="assets/img/layout/wtfpl.png" style="margin-right:15px;">WTFPL</a>
        </div>

        <div class="col-md-3 col-sm-6 mb-3 d-flex justify-content-center">
            <a href="https://www.kopimi.com/" data-toggle="tooltip" data-placement="top" style="margin-right:30px;" data-original-title="kopimi (copyme), symbol showing that you want to be copied. use kopimi in your own fancy. kopimi may be put on homepages or blogs, in books, in software, as sound logos in music or whatever."><img alt="kopimi" src="assets/img/layout/kopimi.png" style="margin-right:15px;">kopimi (copyme)</a>
        </div>

        <div class="col-md-3 col-sm-6 mb-3 d-flex justify-content-center">
            <a href="donate.html" data-toggle="tooltip" data-placement="top" data-original-title="捐助比特幣支援本站隱私專案，本站無廣告干援，也無與任何服務供應商有利害關係。個人捐款會用於本站伺服器與域名租用支出。"><img alt="Bitcoin" src="assets/img/layout/Bitcoin.png">捐贈比特幣（BTC）</a>
        </div>

        <div class="col-md-3 col-sm-6 mb-3 d-flex justify-content-center">
            <i class="fab fa-paypal fa-2x"></i>
            <a data-toggle="tooltip" data-placement="top" data-original-title="你可以使用 Paypal 捐贈。" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=5G9CBU8P6F4K2">PayPal</a>
        </div>
    </div>

    <p><em>privacytools.io 是一個為社會現況激發的社群網站，它提供保護上網者資料安全的資訊。不要信任任何一家公司會善待保護隱私，時時刻刻作好加密防備。</em></p>

</footer>