<h1 id="ukusa" class="anchor"><a href="#ukusa"><i class="fas fa-link anchor-icon"></i></a>全球大規模監控 - 十四雙眼</h1>

<img src="assets/img/layout/UKUSA.png" class="img-fluid float-right" alt="UKUSA Agreement" style="margin-left:10px;">

<p>UKUSA 協議是英國、美國、澳洲、加拿大與紐西蘭五國之間的合作協議要共同來收集、分析和分享情報資訊。這個聯盟的成員，即所知的五眼聯盟， 聚焦在取得和分析來自全世界各地的情報。而這五眼國家同意<a href="http://www.pbs.org/newshour/rundown/an-exclusive-club-the-five-countries-that-dont-spy-on-each-other/">彼此之間不如敵對國那樣地互相監控</a>，由 Snowden 所揭露的資訊顯示，有些五眼聯盟成員會監控對方國家的人民並<a href="http://www.theguardian.com/uk/2013/jun/21/gchq-cables-secret-world-communications-nsa">相互分享情報</a>以<a href="http://www.theguardian.com/politics/2013/jun/10/nsa-offers-intelligence-british-counterparts-blunkett">規避國內法令約束不淮監控自己國家的公民規定</a>。五眼聯盟也與其它不同的國家集團合作以分享情資 (其組成了九眼集團和十四眼集團等)，總之五眼國家和其它國家成員會對彼此互相進行情報監控。</p>

<div class="row mb-3">
  {% include panel.html color="danger"
  title="五眼聯盟"
  body='
  <ol class="card-ol">
    <li>澳洲 <div class="float-right"><span class="flag-icon flag-icon-au"></span></div></li>
    <li>加拿大 <div class="float-right"><span class="flag-icon flag-icon-ca"></span></div></li>
    <li>紐西蘭 <div class="float-right"><span class="flag-icon flag-icon-nz"></span></div></li>
    <li>英國 <div class="float-right"><span class="flag-icon flag-icon-gb"></span></div></li>
    <li>美國 <div class="float-right"><span class="flag-icon flag-icon-us"></span></div></li>
  </ol>
  '
  %}

  {% include panel.html color="warning"
  title="九眼集團"
  body='
  <ol class="card-ol">
    <li>丹麥 <div class="float-right"><span class="flag-icon flag-icon-dk"></span></div></li>
    <li>法國 <div class="float-right"><span class="flag-icon flag-icon-fr"></span></div></li>
    <li>荷蘭 <div class="float-right"><span class="flag-icon flag-icon-nl"></span></div></li>
    <li>挪威  <div class="float-right"><span class="flag-icon flag-icon-no"></span></div></li>
  </ol>
  '
  %}

  {% include panel.html color="secondary"
  title="十四眼集團"
  body='
  <ol class="card-ol">
    <li>比利時 <div class="float-right"><span class="flag-icon flag-icon-be"></span></div></li>
    <li>德國 <div class="float-right"><span class="flag-icon flag-icon-de"></span></div></li>
    <li>義大利 <div class="float-right"><span class="flag-icon flag-icon-it"></span></div></li>
    <li>西班牙 <div class="float-right"><span class="flag-icon flag-icon-es"></span></div></li>
    <li>瑞典 <div class="float-right"><span class="flag-icon flag-icon-se"></span></div></li>
  </ol>
  '
  %}
</div>
