<div class="alert alert-success" role="alert">
  <strong>好消息！</strong> 若您在美國 <a href="https://opencollective.com/privacytoolsio" class="alert-link">金錢捐贈</a> {{ site.name }}，現在已可享有當地稅額扣抵優惠！<a href="https://blog.privacytools.io/privacytools-io-joins-the-open-collective-foundation" class="alert-link">了解詳情...</a>
</div>

<div class="jumbotron p-5">
  <h1 class="display-4">
    <a href="{{ site.production_url }}" title="{{ site.name }}">
      <img class="img-fluid d-none d-sm-block" src="/assets/img/svg/layout/brand/horizontal-zh.svg" width="500px" alt="{{ site.name }}">
        <div class="text-center">
        <img class="img-fluid d-sm-none" src="/assets/img/svg/layout/brand/vertical-zh.svg" width="300px" alt="{{ site.name }}">
      </div>
    </a>
  </h1>
  <p class="lead">您正被盯著。私人和國家支持的組織隨時監控與記錄您的線上活動。 {{ site.name }} 提供一些知識與工具，保護個人隱私抵抗全球大規模監控。</p>
</div>

<form method="POST" action="https://search.privacytools.io/" id="search_form" role="search">
<div class="input-group col-12 col-md-8 offset-md-2">
<input type="search" name="q" class="form-control input-lg" id="q" placeholder="試試 {{ site.name }} 尊重隱私的安全搜尋引擎" autocomplete="off" value="">
<span class="input-group-btn">
<button type="submit" class="btn btn-primary input-lg"><span class="hide_if_nojs"><i class="fas fa-search"></i> </span><span class="hidden active_if_nojs">開始搜尋</span></button>
</span>
</div>
</form>
