<h1 id="host" class="anchor"><a href="#host"><i class="fas fa-link anchor-icon"></i></a> 安全的主機供應商</h1>
<div class="row mb-2">
    {% include card.html color='success'
    title='BAHNHOF'
    image='assets/img/provider/bahnhof.png'
    url='https://www.bahnhof.net/'
    description='BAHNHOF 因搭建維基解密 Wikileaks 架站服務供應商「防彈效果」而廣為人知。'
    %}
    {% include card.html color='primary'
    title='主機託管：DataCell'
    image='assets/img/provider/datacell.png'
    url='https://datacell.is/'
    description='DataCell 位於瑞士和冰島的資料中心，提供安全的異地同步保存。'
    %}

    {% include card.html color='warning'
    title='VPS/Web 主機：Orange Website'
    image='assets/img/provider/orange_hosting.png'
    url='https://www.orangewebsite.com/'
    description='Orange Website 冰島的網站主機服務商，以其提供的線上隱私與言論保護自豪。'
    %}
</div>