<h1 id="kdl" class="anchor"><a href="#kdl"><i class="fas fa-link anchor-icon"></i></a>密鑰上繳法規</h1>

<h3>密鑰上繳法 - 誰被要求將加密密鑰交給政府當局?</h3>

<p>強制性的（依法一定要協助） <a href="https://en.wikipedia.org/wiki/Key_disclosure_law">密鑰上繳法（Key disclosure law）</a>可要求個人把加密密鑰上交給執法單位以利其進行調查。這些法令的執行方式依國情不同而異，但通常會要求有法院令狀。抵抗密鑰上繳法令的方式包括利用隱寫術以及將資料以似是而非的否認方式予以加密。</p>  <p><a href="https://en.wikipedia.org/wiki/Steganography"> Steganography 隱寫術</a>涉及將一些敏感資訊（其可能會予以加密）隱藏在原始的資料當中。(例如：將圖片檔案加密後隱藏到聲音檔底下。)利用似是而非的否認法，則是把資料以預防敵方有破解的可能再予以加密 (例如，單一密碼也許可解密良性的資料和另一個密碼，而另一個密碼則可用來解密原資料當中的敏感資料。)</p>

<div class="row mb-2">

  {% include panel.html color="danger"
  title="採用密鑰上繳法的國家"
  body='
  <ol class="card-ol">
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#Antigua_and_Barbuda">安提瓜和巴布達</a> <div class="float-right"><span class="flag-icon flag-icon-ag"></span></div></li>
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#Australia">澳洲</a> <div class="float-right"><span class="flag-icon flag-icon-au"></span></div></li>
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#Canada">加拿大</a> <div class="float-right"><span class="flag-icon flag-icon-ca"></span></div></li>
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#France">法國</a> <div class="float-right"><span class="flag-icon flag-icon-fr"></span></div></li>
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#India">印度</a> <div class="float-right"><span class="flag-icon flag-icon-in"></span></div></li>
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#Ireland">Ireland</a> <div class="float-right"><span class="flag-icon flag-icon-ie"></span></div></li>
    <li><a href="https://edri.org/norway-introduces-forced-biometric-authentication/">挪威</a> <div class="float-right"><span class="flag-icon flag-icon-no"></span></div></li>
    <li><a href="https://www.bloomberg.com/news/articles/2018-03-20/telegram-loses-bid-to-stop-russia-from-getting-encryption-keys">俄羅斯</a> <div class="float-right"><span class="flag-icon flag-icon-ru"></span></div></li>
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#South_Africa">南非</a> <div class="float-right"><span class="flag-icon flag-icon-za"></span></div></li>
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#United_Kingdom">英國</a> <div class="float-right"><span class="flag-icon flag-icon-gb"></span></div></li>
  </ol>
  '
  %}
  {% include panel.html color="warning"
  title="可能會採用密鑰上繳法的國家"
  body='
  <ol class="card-ol">
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#Belgium">比利時 *</a> <div class="float-right"><span class="flag-icon flag-icon-be"></span></div></li>
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#Finland">芬蘭 *</a> <div class="float-right"><span class="flag-icon flag-icon-fi"></span></div></li>
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#New_Zealand">紐西蘭</a> (不明) <div class="float-right"><span class="flag-icon flag-icon-nz"></span></div></li>
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#The_Netherlands">荷蘭 *</a> <div class="float-right"><span class="flag-icon flag-icon-nl"></span></div></li>
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#United_States">美國</a>（請見下方相關資訊）<div class="float-right"><span class="flag-icon flag-icon-us"></span></div></li>
  </ol>
  '
  %}

  {% include panel.html color="success"
  title="密鑰上繳法不適用的國家"
  body='
  <ol class="card-ol">
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#Czech_Republic">捷克</a> <div class="float-right"><span class="flag-icon flag-icon-cz"></span></div></li>
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#Germany">德國</a> <div class="float-right"><span class="flag-icon flag-icon-de"></span></div></li>
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#Poland">波蘭</a> <div class="float-right"><span class="flag-icon flag-icon-pl"></span></div></li>
    <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law#Sweden">瑞典</a> (proposed) <div class="float-right"><span class="flag-icon flag-icon-se"></span></div></li>
  </ol>
  '
  %}

</div>

<p>* (有系統訪問權限者可能會被下令分享交出他們的知識。然而，這並不適用在嫌犯自己或其家人身上。)</strong></p>

<h3>相關資訊</h3>

<ul>
  <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law">Wikipedia page on key disclosure law</a></li>
  <li><a href="https://law.stackexchange.com/questions/1523/can-a-us-citizen-be-required-to-provide-the-authentication-key-for-encrypted-dat">law.stackexchange.com question about key disclosure law in US</a></li>
  <li><a href="https://www.youtube.com/watch?v=Jt7D4AIfqlQ">DEFCON 20: Crypto and the Cops: the Law of Key Disclosure and Forced Decryption</a></li>
</ul>

<h3 id="usa" class="anchor">為何不推薦使用以美國為基地的網路服務呢？</h3>

<img src="assets/img/layout/USA.png" class="img-fluid float-right" alt="USA" style="margin-left:10px;">

<p>我們不建議採用位於美國的網路服務，因為這個國家的監控項目，使用了<a href="https://www.eff.org/issues/national-security-letters/faq">國家安全信件</a> (NSLs)並伴隨著不對外開放的法庭程序，其禁止收到 NSLs 者談論這份官方請求。這讓政府可以<a href="https://www.schneier.com/blog/archives/2013/08/more_on_the_nsa.html">祕密地強迫</a> 企業同意完全讓國家來取用客戶的資料，而把私人企業的網路服務轉化成一種大規模監控的工具。</p>

<p>某一個例子就是 <a href="https://en.wikipedia.org/wiki/Lavabit#Suspension_and_gag_order">Lavabit</a> – 這是一家提供不接續的安全電子郵件服務公司，由 Ladar Levison 所創辦。美國聯邦調查局 FBI 發現 Snowden 使用其服務後，便向Lavabit <a href="https://motherboard.vice.com/en_us/article/nzz888/lavabit-founder-ladar-levison-discusses-his-federal-battle-for-privacy">要求</a>要求交出他的使用記錄。當然 Lavabit 沒有保留系統日誌記錄而郵件內容是經過加密後才儲存，FBI 發出了（不公開法庭）的傳票要取得 Lavabit 的 SSL 服務密鑰。有了 SSL 密鑰就可讓他們取用 Lavabit 所有客戶的通訊記錄（包含元數據和未加密的郵件內容）而不只是 Snowden 的資料。</p>

<p>最後，Levison 交出了 SSL 密鑰並在同時<a href="https://www.theguardian.com/commentisfree/2014/may/20/why-did-lavabit-shut-down-snowden-email">關閉</a>他們的伺服器。美國政府當時<a href="https://www.cnbc.com/id/100962389">威脅要逮捕 Levison</a>，認為他關閉 Lavabit 服務是違反了法院命令。</p>

<h3>相關資訊</h3>

<ul>
  <li><a href="https://www.bestvpn.com/the-ultimate-privacy-guide/#avoidus">Avoid all US and UK based services</a></li>
  <li><a href="https://en.wikipedia.org/wiki/Surespot#History">Proof that warrant canaries work based on the surespot example.</a></li>
  <li><a href="https://en.wikipedia.org/wiki/UKUSA_Agreement">The United Kingdom – United States of America Agreement (UKUSA)</a></li>
  <li><a href="https://en.wikipedia.org/wiki/Lavabit#Suspension_and_gag_order">Lavabit: Suspension and gag order</a></li>
  <li><a href="https://en.wikipedia.org/wiki/Key_disclosure_law">Key disclosure law</a></li>
  <li><a href="https://en.wikipedia.org/wiki/Portal:Mass_surveillance">Wikipedia Portal: Mass_surveillance</a></li>
</ul>
