<h1 id="live_os" class="anchor"><a href="#live_os"><i class="fas fa-link anchor-icon"></i></a> 光碟隨身碟開機自生作業系統</h1>

<div class="row mb-2">

    {% include card.html color='success'
    title='Tails'
    image='assets/img/tools/Tails.png'
    url='https://tails.boum.org/'
    description='Tails 是一個自生作業系統，可以利用 DVD、隨身碟或 SD 記憶卡來啟動大多數電腦開機。它希望可以保留隱私與匿名，協助人們可以匿名地使用網路以及逃過網路審查，它的網路連結是透過 Tor 網路；不會在用過的電腦上留下使用㾗跡。它使用最新的密碼學工具來加密檔案，電子郵件和即時通訊。'
    %}
    {% include card.html color='primary'
    title='KNOPPIX'
    image='assets/img/tools/KNOPPIX.png'
    url='https://www.knopper.net/knoppix/'
    description='Knoppix 是一個以Debian為基礎的開源作業系統，設計來直接透過 CD / DVD (Live CD) 或USB碟身碟(Live USB)來執行。它是這類自生系統當中的先行者。當開始某個程式時，它會從移動式裝置來載入並把它解壓縮到隨機記憶體上，這佪解壓縮過程透明而快速。'
    %}
    {% include card.html color='warning'
    title='Puppy Linux'
    image='assets/img/tools/Puppy-Linux.png'
    url='http://puppylinux.org/'
    description='Puppy Linux 是一個簡輕的　Linux 發行版本，其關注於便於使用以及最小化記憶痕跡。整套系統可以透過隨機記憶體來執行，目前的版本大約佔 210 MB 空間。在啟動作業系統後，它可允許移除開機的媒介。'
    %}

</div>

<h3>值得一提</h3>

<ul>
    <li><a href="https://distro.ibiblio.org/tinycorelinux/">Tiny Core Linux</a> - 小型迷你的作業系統，主要在提供給使用 BusyBox 與 FLTK 的系統利用。這個發行版以其輕量與極簡而出名（15 MB），其利用延申套件來提供額外的功能。</li>
</ul>