<h1 id="live_os" class="anchor"><a href="#live_os"><i class="fas fa-link anchor-icon"></i></a> 電腦開機自生作業系統</h1>

{% include cardv2.html
title="Tails"
image="/assets/img/svg/3rd-party/tails.svg"
description=' Tails 自生作業系統，可利用 DVD、隨身碟或 SD 記憶卡來啟動大多數電腦開機。它希望可以保留隱私與匿名，協助人們可以匿名地使用網路以及逃過網路審查，它的網路連結是透過 Tor 網路；不會在用過的電腦上留下使用㾗跡。它使用最新的密碼學工具來加密檔案，電子郵件和即時通訊。'
badges="info:GNU/Linux"
labels="warning:contrib:This software may depend on or recommend non-free software."
website="https://tails.boum.org/"
git="https://git-tails.immerda.ch/tails/"
%}

<h3>值得一提</h3>

<ul>
  <li>
    <a href="https://getfedora.org/">Fedora Workstation</a>
    <span class="badge badge-info">GNU/Linux</span>
    - 由 Red Hat 贊助，Fedora 專案開發的 Linux 版本。 Fedora 工作站強調安全、可靠與使用友善，使用 GNOME 桌面環境來提供桌機與筆電運行。
  </li>
  <li>
    <a href="https://debian.org/">Debian</a>
    <span class="badge badge-info">GNU/Linux</span>
    - Debian 有點像 Unix 的電腦操作系統，為 Linux 的發佈版本之一，完全以自由免費的軟體組成，大部份的軟體都是採用 GNU 一般公共授權。有一群人長期地投入 Debian 專案的開發維護。
  </li>
</ul>
