<h1 id="mobile_os" class="anchor"><a href="#mobile_os"><i class="fas fa-link anchor-icon"></i></a> 手機作業系統</h1>

<div class="alert alert-warning" role="alert">
    <strong> 雖然以下的作業系統有提供原始碼，但安裝 Google Apps 可能會影響你的設定。依個人的威脅模式狀況，MicroG 專案或可作為自由開源軟體替代。</strong>
</div>

<div class="row mb-2">

    {% include card.html color='success'
    title='LineageOS'
    image='assets/img/tools/LineageOS.png'
    url='https://www.lineageos.org/'
    description='LineageOS 是一個以 Android 為基礎，為手機與平板電腦上的開源作業系統。它依據 Google 所發佈的 Android 正式版為開發基礎，為一自由開源軟體，為 CyanogenMod 專案的延續。'
    %}

</div>

<h3>值得一提</h3>

<ul>
    <li><a href="https://www.replicant.us/">Replicant</a> - 基於 Android 的開源作業系統，希望能更換所有的商用元件以免費軟體作取代。</li>
    <li><a href="https://www.omnirom.org/">OmniROM</a> - 基於 Android 手機平台，可使用在智慧型手機與平板電腦上的自由開源作業系統。</li>
    <li><a href="https://microg.org/">MicroG</a> -  旨在 Android 安卓系統上作為商用 Google 商店服務的開源自由軟體替代專案。
</ul>