<h1 id="notebook" class="anchor"><a href="#notebook"><i class="fas fa-link anchor-icon"></i></a> 網路筆記</h1>

<div class="alert alert-warning" role="alert">
    <strong>如果你仍然在使用如 Evernote、Google Keep 或 Microsoft OneNote，或許可以考慮嘗試這裏推薦的軟體作替換。</strong>
</div>

<div class="row mb-2">

    {% include card.html color='success'
    title='Joplin'
    image='assets/img/tools/Joplin.png'
    url='https://joplin.cozic.net/'
    footer='支援作業系統：Windows, macOS, Linux, iOS, Android, Firefox/Chrome (Web Clipper)。'
    description='Joplin 為免費、開源，完全支援作筆記與待辦事項清單功能。它可處理大量的 markdown 筆記文件，再依照標籤進行分類整理，提供端對端加密且可透過 Nextcloud、Dropbox 等雲端服務進行同步。它也提供 Evernote 與其它明文筆記快速滙入功能。'
    %}

    {% include card.html color='primary'
    title='Standard Notes'
    image='assets/img/tools/StandardNotes.png'
    url='https://standardnotes.org/'
    footer='支援作業系統：Windows, macOS, Linux, iOS, Android, Web。'
    description='Standard Notes 是一個簡單私密的筆記應用程式，可以輕鬆、隨時隨地作筆記。它的功能包括了每個平台上端點對端點之間的加密，而其桌面應用則有豐富的主題模版和客製化編輯器。'
    %}

    {% include card.html color='warning'
    title='Turtl'
    image='assets/img/tools/Turtl.png'
    url='https://turtlapp.com/'
    footer='支援作業系統：Windows, macOS, Linux, Android。'
    description='Turtl 可以作筆記、網址書籤和儲存敏感專案的文件。它可讓工作伙伴共享密碼，追蹤你所寫的文章。Turtl 讓文件保持安全，只有你和有分享權限者可以看到。'
    %}  </div>

<h3>善意提醒</h3>
<ul>
    <li>請注意: 自 2018 年 12月後，Joplin 不再支援自身 password/pin 與個別筆記/筆記本保護功能。傳輸中以及在同步處的數據，仍以主密鑰加密方式處理。詳情請參考 <a href='https://github.com/laurent22/joplin/issues/289'>open issue</a>.</li>
</ul>

<h3>值得一提</h3>

<ul>
    <li><a href="http://paperwork.rocks/">Paperwork</a> - 開源、可自行架設的方案，安裝於 PHP / MySQL 伺服器。</li>
    <li><a href="https://orgmode.org">Org-mode</a> - GNU Emacs 主要模式，Org-mode 利用快速有效的明文系統， 可以做筆記、處理待辦事預清單、專案規劃與創作文件。 </li>
</ul>