<h1 id="os" class="anchor"><a href="#os"><i class="fas fa-link anchor-icon"></i></a> 入門級電腦作業系統</h1>

<div class="alert alert-warning" role="alert">
  <strong> 如果你目前使用常收集用戶資料的微軟 Windows 10作業系統，不妨從下方考慮其它替代選項。</strong>
</div>

{% include cardv2.html
  title="Fedora 工作站"
  image="/assets/img/svg/3rd-party/fedora.svg"
  description='Fedora 由 Red Hat 贊助，Fedora 專案開發的 Linux 版本。 Fedora 工作站強調安全、可靠與使用友善，使用 GNOME 桌面環境來提供桌機與筆電運行。'
  badges="info:GNU/Linux"
  labels="warning:contrib:This software may depend on or recommend non-free software."
  website="https://getfedora.org/"
  privacy-policy="https://fedoraproject.org/wiki/Legal:PrivacyPolicy?rd=Legal/PrivacyPolicy"
  git="https://src.fedoraproject.org/"
  %}

{% include cardv2.html
    title="Ubuntu"
    image="/assets/img/svg/3rd-party/ubuntu.svg"
    description='Ubuntu 是由 Canonical 公司發佈的 Linux 版本，以可靠穩定與友善的使用介面著稱，桌機、伺服器、物聯網設備等皆可安裝。 Ubuntu 以 GNOME 為預設桌面環境，不過也能安裝<a href="https://ubuntu.com/download/flavours">其它桌面環境</a>。'
    badges="info:Linux"
    website="https://ubuntu.com"
    privacy-policy="https://ubuntu.com/legal/data-privacy"
    git="https://launchpad.net/ubuntu"
  %}

<h1 id="advanced_os" class="anchor"><a href="#advanced_os"><i class="fas fa-link anchor-icon"></i></a> 進階級作業系統</h1>

  <div class="alert alert-info" role="alert">
    <strong>以下作業系統具備進階功能，其或多或少有其特別之處。用戶往往須具備一定的熟練或好好讀完相關的技術文件以順利安裝使用。</strong>
  </div>
  
{% include cardv2.html
    title="Alpine Linux"
    image="/assets/img/svg/3rd-party/alpinelinux.svg"
    description='Alpine Linux 為極簡的作業系統版本，適合重視資安且資源高效使用的情境。 Alpine Linux 可直接透過快取記憶體執行，利用<a href="https://wiki.alpinelinux.org/wiki/Alpine_local_backup">Alpine 本地機器備份</a>功能整合設定檔案來啟動開機，可安裝在伺服器或 Linux 容器。'
    badges="info:Linux"
    website="https://alpinelinux.org/"
    privacy-policy="https://alpinelinux.org/privacy-policy.html"
    gitlab="https://gitlab.alpinelinux.org"
  %}
  
{% include cardv2.html
    title="Arch Linux"
    image="/assets/img/svg/3rd-party/archlinux.svg"
    description='簡單、輕量化的 Linux 版本，包括充足的開源自由軟體套件，其社群支援也非常活躍。'
    badges="info:Linux"
    labels="color==success::link==https://tests.reproducible-builds.org/archlinux/archlinux.html::text==Reproducible builds"
    website="https://www.archlinux.org/"
    privacy-policy="https://wiki.archlinux.org/index.php/ArchWiki:Privacy_policy"
    gitlab="https://gitlab.archlinux.org"
  %}
  
 

{% include cardv2.html
  title="Debian"
  image="/assets/img/svg/3rd-party/debian.svg"
  description='Debian 有點類似 Unix 的電腦操作系統，為 Linux 的發佈版本之一，完全以自由免費的軟體組成，大部份的軟體都是採用 GNU 一般公共授權。有一群人長期地投入 Debian 專案的開發維護。'
  badges="info:GNU/Linux"
  website="https://www.debian.org/"
  privacy-policy="https://www.debian.org/legal/privacy"
  tor="http://sejnfjrq6szgca7v.onion"
  gitlab="https://salsa.debian.org/qa/debsources"
  %}
  
{% include cardv2.html
    title="NixOS"
    image="/assets/img/svg/3rd-party/nixos.svg"
    description='NixOS 有獨特的包裝套件與設定管理方式，它建構在 Nix 包管理之上，完全採用高階程式的問題直接解決模式讓昇級系統更為穩定可靠以及<a href="https://nixos.org/features.html">其它優勢</a>。'
    badges="info:Linux"
    labels="color==success::link==https://r13y.com::text==Reproducible builds"
    website="https://nixos.org"
    privacy-policy="https://nixos.wiki/wiki/NixOS_Wiki:Privacy_policy"
    github="https://github.com/NixOS"
  %}
  
{% include cardv2.html
    title="Qubes OS"
    image="/assets/img/svg/3rd-party/qubes_os.svg"
    description='Qubes 開源的作業系統，其設計為桌機型電腦提供更堅強的安全保護。Qubes 是以 Xen 為基礎， X 視窗系統桌面環境與 Linux。它可以執行大多數的 Linux 應用程式以及適用大部份的 Linux 的硬體效能驅動。'
    badges="info:Xen"
    labels="warning:contrib:This software may depend on or recommend non-free software."
    website="https://www.qubes-os.org/"
    privacy-policy="https://www.qubes-os.org/privacy/"
    github="https://github.com/QubesOS"
    tor="http://qubesosfasa4zl44o4tws22di6kepyzfeqv3tg4e3ztknltfxqrymdad.onion/"
    %}
    