<h1 id="mobile_os" class="anchor"><a href="#mobile_os"><i class="fas fa-link anchor-icon"></i></a> 其它手機作業系統</h1>


{% include cardv2.html
title="Ubuntu Touch"
image="/assets/img/svg/3rd-party/ubuntu.svg"
description="Ubuntu Touch 運行於手機與平板電腦的自由開源作業系統，可說是現有主流市場外另一種替代選項，唯目前可<a href=https://devices.ubuntu-touch.io/>支援的</a>硬體設備非常有限。"
badges="info:GNU/Linux"
labels="warning:contrib:This software may depend on or recommend non-free software."
website="https://ubuntu-touch.io/"
privacy-policy="https://ubports.com/privacy"
github="https://github.com/ubports"
%}


<!-- <div class="alert alert-warning" role="alert">
  <strong>雖然以下的作業系統提供原始碼，但安裝 Google Apps 可能會影響你的設定。</strong>
</div>

{% include cardv2.html
title="GrapheneOS"
image="/assets/img/svg/3rd-party/grapheneos.svg"
image-dark="/assets/img/svg/3rd-party/grapheneos-dark.svg"
description='GrapheneOS (前身為 CopperheadOS) 自由開源、重視安全和隱私的手機作業系統，其基礎來自 Android 開源專案，目前重點工作在提昇更強大的硬體安全保護。'
badges="info:AOSP"
labels="warning:contrib:This software may depend on or recommend non-free software."
website="https://grapheneos.org/"
github="https://github.com/GrapheneOS/"
%}

{% include cardv2.html
title="LineageOS"
image="/assets/img/svg/3rd-party/lineageos.svg"
description='LineageOS 是一個以 Android 為基礎，為手機與平板電腦上的開源作業系統。它依據 Google 所發佈的 Android 正式版為開發基礎，為一自由開源軟體， CyanogenMod 專案的延續。'
badges="info:AOSP"
labels="warning:contrib:This software may depend on or recommend non-free software."
website="https://www.lineageos.org/"
github="https://github.com/LineageOS"
%}

<h3>值得一提</h3>

<ul>
  <li><a href="https://www.replicant.us/">Replicant</a> <span class="badge badge-info">AOSP</span> - 基於 Android 的開源作業系統，希望能更換所有的商用元件以免費軟體作取代。</li>
  <li><a href="https://www.omnirom.org/">OmniROM</a> <span class="badge badge-info">AOSP</span> <span class="badge badge-warning" data-toggle="tooltip" title="This software may depend on or recommend non-free software.">contrib <i class="far fa-question-circle"></i></span> - 基於 Android 手機平台，可使用在智慧型手機與平板電腦上的自由開源作業系統。</li>
  <li><a href="https://microg.org/">MicroG</a> <span class="badge badge-info">Add-on Package</span> <span class="badge badge-warning" data-toggle="tooltip" title="This software may depend on or recommend non-free software.">contrib <i class="far fa-question-circle"></i></span> - 旨在 Android 安卓系統上作為商用 Google 商店服務的開源自由軟體替代專案。它也負責維護把 microG 與 F-Droid 預裝在 <a href="https://lineage.microg.org/">Lineage </a>的分支專案。</li>
</ul> -->
