<div class="page-header">
  <h1 id="participate" class="anchor"><a href="#participate"><i class="fas fa-link anchor-icon"></i></a> 提出建設性批評與建議</h1>
</div>

<p>在網路資訊快速流動的今天，維持 {{ site.name }} 與時具進地更新並不容易，為了讓用戶更快地掌握本站所列軟體與服務的動態，除主站外還可透過各式社交平台即時關注我們的新鮮推薦。如果您發現錯誤不妥或是其它更佳的推薦未被收入，<strong>請不吝告之</strong>。可透過<a rel="me" href="https://social.privacytools.io/@privacytools"> Mastodon 直接傳訊</a>或是加入 <a href="https://chat.privacytools.io">Matrix</a> 的聊天室 <code class="highlighter-rouge">#general:privacytools.io</code>。</p>

<div class="row">

  {% include card.html color="success"
  title="Discourse & Reddit"
  image="/assets/img/svg/3rd-party/discourse.svg"
  url="https://forum.privacytools.io/"
  website="Discourse"
  extra_button='<a class="btn btn-success mb-1" href="https://www.reddit.com/r/privacytoolsIO/">Reddit</a>'
  description='參與「網路隱私工具」論壇，獲取線上社群近期熱門話題或是提出想法、建議！'
  %}

  {% include card.html color="primary"
  title="Follow on Mastodon & Twitter"
  image="/assets/img/svg/3rd-party/mastodon.svg"
  url="https://social.privacytools.io/"
  website="Mastodon"
  extra_button='<a class="btn btn-primary mb-1" href="https://twitter.com/privacytoolsIO">Twitter</a>'
  description="透過 Mastodon 訊息推送掌握本站最新消息，即刻關注我們的帳號吧！"
  %}

  {% include card.html color="warning"
  title="Develop on GitHub"
  font="fab fa-github"
  url="https://github.com/privacytoolsIO/privacytools.io"
  website="GitHub"
　extra_button='<a class="btn btn-warning mb-1" href="https://github.com/twngo/privacytools-zh">中文版代碼資源庫</a>　
  description="全部的網站源代碼存放在 GitHub，歡迎加入開發團隊！"
  extra_button='<a class="btn btn-warning mb-1" href="https://github.com/privacytoolsIO/privacytools.io/graphs/contributors">Contributor List</a>'
  %}

</div>

<p>網路隱私工具為社群性質的專案，旨在提供改善個人隱私的最好資訊。感謝您的參與，本專案永遠不嫌人多</p>
