<h1 id="participate" class="anchor"><a href="#participate"><i class="fas fa-link anchor-icon"></i></a> 推廣本站並幫助更多人知道隱私保護</h1>

<div class="row">
    <div class="col-12 col-md-6 d-flex justify-content-between">
        <a href="mailto:?subject=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance&body=https://privacytools.twngo.xyz/" class="share-btn email" title="Email">
            <i class="fas fa-envelope"></i>
        </a>

        <a href="https://www.facebook.com/sharer/sharer.php?u=https://privacytools.twngo.xyz" class="share-btn facebook" title="Facebook">
            <i class="fab fa-facebook-f"></i>
        </a>

        <a href="https://twitter.com/share?text=Knowledge%20and%20tools%20to%20protect%20your%20privacy%20against%20global%20mass%20surveillance%20&amp;url=https://privacytools.twngo.xyz/&amp;via=privacytoolsIO" class="share-btn twitter" title="Twitter">
            <i class="fab fa-twitter"></i>
        </a>

        <a href="https://sharetomastodon.github.io/?title=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance&url=https://privacytools.twngo.xyz" class="share-btn mastodon" title="Mastodon">
            <i class="fab fa-mastodon"></i>
        </a>
    </div>
    <div class="col-12 col-md-6 d-flex justify-content-between">
        <a href="https://reddit.com/submit?url=https://www.privacytools.io&title=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance" class="share-btn reddit" title="reddit">
            <i class="fab fa-reddit-alien"></i>
        </a>

        <a href="https://www.linkedin.com/shareArticle?url=https://privacytools.twngo.xyz&title=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance" class="share-btn linkedin" title="LinkedIn">
            <i class="fab fa-linkedin-in"></i>
        </a>

        <a href="http://www.stumbleupon.com/submit?url=https://privacytools.twngo.xyz&title=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance" class="share-btn stumbleupon" title="StumbleUpon">
            <i class="fab fa-stumbleupon"></i>
        </a>

        <a href="https://sharetodiaspora.github.io/?title=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance&url=https://privacytools.twngo.xyz" class="share-btn diaspora" title="Diaspora*">
            <i class="fas fa-asterisk"></i>
        </a>
    </div>
</div>

<h3>複製網址與本站描述</h3>

<p>
    <input type="text" value="privacytools.twngo.xyz 網路隱私工具中文網 - 加密安全以對抗全球大規模監控" onclick="this.focus();this.select()" class="form-control input-lg">
    <span class="help-block">為了更輕易地複製與貼上，請利用這個文字小物件作分享。</span>
</p>

<div class="page-header">
    <h1>參與提供建議性的批評</h1>
</div>

<p>像 privacytools.io 這類的網站能維持跟上時代是一個重要的工作。我們一方面關注這裡介紹過的軟體是否有更新的消息，也要了解所推薦的服務供應商的新聞。我們試著作出最大的努力但還不夠完美，而且網際網路每日變化快速。如果你有發現錯誤或是認為有些服務供應商不宜列上，或是想推薦其它未列出的供應商，或是對瀏覽器附加元件有所建議....  <strong>請不吝告之我們</strong>。</p>

<div class="row">

    {% include card.html color="success"
    title="在 Reddit 上提出建議"
    image="assets/img/icons/reddit.png"
    url="https://www.reddit.com/r/privacytoolsIO/"
    website="reddit.com"
    description='我們在 Reddit 子社群上有一個活躍的社群，上面有最新的討論與意見交流。立即加入！<a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Warrant Canary has been removed by reddit">（資訊）</a>'
    %}

    {% include card.html color="primary"
    title="在 Twitter 上追蹤"
    image="assets/img/icons/twitter.png"
    url="https://twitter.com/privacytoolsIO"
    website="twitter.com"
    description="從推特取得最新的隱私相關消息，歡迎訂閱我們的推特！"
    %}

    {% include card.html color="warning"
    title="GitHub 開發團隊"
    image="assets/img/icons/github.png"
    url="https://github.com/privacytoolsIO/privacytools.io"
    website="github.com"
    description="本網站的原始碼放在 GitHub，歡迎加入我們的開發團隊！"
    %}

</div>

<p>這是一個社群計畫，我們希望能獻上關於更好隱私作法的最佳資訊。感謝你們的參與，這個計畫正需要大家一起來協助。</p>
