<h1 id="pw" class="anchor"><a href="#pw"><i class="fas fa-link anchor-icon"></i></a> 密碼管理軟體</h1>
<div class="alert alert-warning" role="alert">
    <strong>如果你還在用 1Password, LastPass, Roboform 或 iCloud Keychain 等密碼管理軟體，或許該考慮從這裏挑選另一種工具吧。</strong>
</div>
<div class="row mb-2">

    {% include card.html color="success"
    title="Bitwarden - Cloud/Self-host"
    image="assets/img/tools/bitwarden.png"
    url="https://bitwarden.com/"
    footer="OS: Windows, macOS, Linux, iOS, Android, Web."
    description="Bitwarden 是一款免費而開源的密碼管理工具。它旨在解決個人，團隊和企業組織的密碼管理問題。 Bitwarden 是存儲所有登錄和密碼的最簡單，最安全的解決方案之一，同時可以方便地在所有設備之間保持同步。 如果您不想使用 Bitwarden 雲服務，您可以輕鬆託管自己的 Bitwarden 服務器。"
    %}
    {% include card.html color='success'
    title='KeePass / KeePassXC - Local'
    image='assets/img/tools/KeePass.png'
    url='https://keepass.info/download.html'
    website='keepass.info'
    footer='支援作業系統： Windows, macOS, Linux, iOS, Android, BSD.'
    description='KeePass 是一款開源而免費的密碼管理工具，有助於用安全的方式來管理各種密碼。所有的密碼都放在一個資料庫下，用主密碼或密鑰檔案上鎖。這個資料庫會以最安全最佳的加密演算方式，也就是 AES and Twofish 予以加密進行，請一步資料請參見：<a href="https://keepassxc.org/">KeePassXC</a> 帶正式原生的支援 Windows/macOS/Linux 多種作業系統平台。'
    %}
    {% include card.html color='primary'
    title='LessPass - Browser'
    image='assets/img/tools/LessPass.png'
    url='https://lesspass.com/'
    footer='支援作業系統： Windows, macOS, Linux, Android.'
    description='LessPass 是一個免費開源的密碼管理軟體，它可為網站、電子郵件等需求産生獨特的密碼，並依靠一個主密碼進行管理。不需要同步，使用的是 PBKDF2 與 SHA-256 加密方式。建議使用瀏覽器附加元件以更加安全。'
    %}  </div>
<h3>值得一提</h3>
<ul>
    <li>
        <a href="https://masterpassword.app">Master Password</a> - 利用原生的密碼產生演算法，保證密碼不會遺失。密碼不是以儲存方式留著:它們依照你的名字、網站和主密碼的需求而產生，沒有同步，沒有備分也不需要網路連線。
    </li>

    <li>
        <a href="https://pwsafe.org/">Password Safe</a> - 不管答案是 1 還是 100，Password Safe 讓你可以安全地建立一個安全又加密的使用者與密碼清單。利用 Password Safe 你只要記得一組自選的主密碼以打開讀取這份密碼清單。
    </li>
</ul>

<h3>相關資訊</h3>
<ul>
    <li><a href="https://www.youtube.com/watch?v=yzGzB-yYKcc">Edward Snowden on Passwords - YouTube</a></li>
</ul>

