<h1 id="pw" class="anchor"><a href="#pw"><i class="fas fa-link anchor-icon"></i></a>密碼管理軟體</h1>

<div class="alert alert-warning" role="alert">
  <strong>如果你還在用 1Password, LastPass, Roboform 或 iCloud Keychain 等密碼管理軟體，或許該考慮從這裏挑選另一種工具吧。 </strong>
</div>

{%
  include cardv2.html
  title="Bitwarden - 雲端/自架"
  image="/assets/img/svg/3rd-party/bitwarden.svg"
  description="<strong>Bitwarden</strong> 一款免費而開源的密碼管理工具。它旨在解決個人，團隊和企業組織的密碼管理問題。 Bitwarden 是儲存登錄和密碼管理最簡單，最安全的解決方案之一，可同時輕鬆地在所有設備之間同步。 如果您不想使用 Bitwarden 雲服務，您可自行架設 Bitwarden 服務器。"
  website="https://bitwarden.com/"
  privacy-policy="https://bitwarden.com/privacy/"
  forum="https://forum.privacytools.io/t/discussion-bitwarden/1343"
  github="https://github.com/bitwarden"
  web="https://vault.bitwarden.com/#/"
  windows="https://bitwarden.com/#download"
  linux="https://bitwarden.com/#download"
  freebsd="https://www.npmjs.com/package/@bitwarden/cli"
  openbsd="https://www.npmjs.com/package/@bitwarden/cli"
  netbsd="https://www.npmjs.com/package/@bitwarden/cli"
  mac="https://bitwarden.com/#download"
  firefox="https://addons.mozilla.org/firefox/addon/bitwarden-password-manager/"
  chrome="https://chrome.google.com/webstore/detail/bitwarden-free-password-m/nngceckbapebfimnlniiiahkandclblb"
  safari="https://safari-extensions.apple.com/details/?id=com.bitwarden.safari-LTZ2PFU5D6"
  opera="https://addons.opera.com/extensions/details/bitwarden-free-password-manager/"
  edge="https://www.microsoft.com/store/apps/9P6KXL0SVNNL"
  fdroid="https://mobileapp.bitwarden.com/fdroid/"
  googleplay="https://play.google.com/store/apps/details?id=com.x8bit.bitwarden"
  ios="https://itunes.apple.com/app/bitwarden-free-password-manager/id1137397744?mt=8"
%}

{%
  include cardv2.html
  title="KeePassXC - 本地端"
  image="/assets/img/svg/3rd-party/keepassxc.svg"
  description="<strong>KeePassXC</strong> 從原本 KeePassX 裂解出來的新社群，帶原生 KeePass 的跨平台支援，希望能更進一步改善漏同，擴展新功能，提供用戶強大、跨平的現代開源密碼管理軟體。"
  website="https://keepassxc.org/"
  privacy-policy="https://keepassxc.org/privacy/"
  forum="https://forum.privacytools.io/t/discussion-keepassxc/1344/2"
  github="https://github.com/keepassxreboot/keepassxc"
  windows="https://keepassxc.org/download/#windows"
  linux="https://keepassxc.org/download/#linux"
  mac="https://keepassxc.org/download/#mac"
  freebsd="https://www.freshports.org/security/keepassxc/"
  openbsd="http://openports.se/security/keepassxc"
  netbsd="http://pkgsrc.se/security/keepassxc"
  fdroid="https://f-droid.org/packages/com.kunzisoft.keepass.libre/"
  googleplay="https://play.google.com/store/apps/details?id=com.kunzisoft.keepass.free"
  firefox="https://addons.mozilla.org/en-US/firefox/addon/keepassxc-browser"
  chrome="https://chrome.google.com/webstore/detail/keepassxc-browser/oboonakemofpalcgghocfoadofidjkkk"
%}

{%
  include cardv2.html
  title="LessPass - 瀏覽器"
  image="/assets/img/svg/3rd-party/lesspass.svg"
  description="<strong>LessPass</strong> 免費開源的密碼管理軟體，可為網站、電子郵件産生獨特密碼，並靠主密碼進行管理。不需要同步，使用的是 PBKDF2 與 SHA-256 加密方式。建議使用瀏覽器附加元件更為安全。"
  website="https://lesspass.com/"
  privacy-policy="https://addons.mozilla.org/en-US/firefox/addon/lesspass/privacy/"
  forum="https://forum.privacytools.io/t/discussion-keepassxc/1344/2"
  github="https://github.com/lesspass/lesspass"
  windows="https://pypi.org/project/lesspass/"
  mac="https://pypi.org/project/lesspass/"
  linux="https://pypi.org/project/lesspass/"
  freebsd="https://pypi.org/project/lesspass/"
  firefox="https://addons.mozilla.org/en-US/firefox/addon/lesspass/"
  chrome="https://chrome.google.com/webstore/detail/lesspass/lcmbpoclaodbgkbjafnkbbinogcbnjih"
  fdroid="https://f-droid.org/packages/com.lesspass.android"
  googleplay="https://play.google.com/store/apps/details?id=com.lesspass.android"
%}

<h3>值得一提</h3>

<ul>
  <li>
    <a href="https://masterpassword.app">Master Password</a> - 利用原生的密碼產生演算法，保證密碼不會遺失。密碼不是以儲存方式留著：它們依照你的名字、網站和主密碼的需求而產生，無法同步，沒有備分也不需要透過網路連線。 
  </li>

  <li>
    <a href="https://psono.com/">Psono</a> - 適合團隊，免費開源的客戶端加密密碼管理軟體，可安全地分享密碼、檔案、書籤、電子郵件。透過主密碼進行保護，利用<a href="https://nacl.cr.yp.to/">NACL Crypto</a>加密方式，結合 Curve25519, Salsa20 與 Poly1305 多種加密演算。
  </li>

  <li>
    <a href="https://pwsafe.org/">Password Safe</a> - 不管答案是多還是少，Password Safe 讓您安心地建立一個安全加密的使用者與密碼清單。利用 Password Safe 只要記得一組自選的主密碼用以打開讀取這份密碼清單。
  </li>
  <li>
    <a href="https://www.passwordstore.org/">Pass</a> - 用 gpg2 來加密的精粹密碼儲存工具 ，其簡單的樹狀目錄存放於<code>~/.password-store</code>，使用終端文字介面操作並可透過外掛擴展功能，無須輸出實際的密碼明文即能直接用於腳本程式語言。
  </li>
</ul>
