<h1 id="paste" class="anchor"><a href="#paste"><i class="fas fa-link anchor-icon"></i></a> 文字儲存服務</h1>

{% include cardv2.html
title="PrivateBin"
image="/assets/img/svg/3rd-party/privatebin.svg"
description=" PrivateBin 是一個迷你、開源的線上文字儲存應用，其伺服器對所張貼資料採取零知識方式保存，而資料在瀏覽器使用 256 位元的 AES 加密/解密，是 ZeroBin 的改良版本。"
website="https://privatebin.info/"
forum="https://forum.privacytools.io/t/discussion-privatebin/296"
github="https://github.com/PrivateBin/PrivateBin"
%}


{% include cardv2.html
title="CryptPad"
image="/assets/img/svg/3rd-party/cryptpad.svg"
description="CryptPad 開源、零知識、即時的協作編輯器，其資料利用 Salsa20 和 Poly1305 在瀏覽器上進行筆記之加密解密。"
website="https://cryptpad.fr/pad/"
privacy-policy="https://cryptpad.fr/privacy.html"
forum="https://forum.privacytools.io/t/discussion-cryptpad/1270"
github="https://github.com/xwiki-labs/cryptpad"
%}
