<h1 id="resources" class="anchor"><a href="#resources"><i class="fas fa-link anchor-icon"></i></a> 更多隱私安全資源</h1>

<h3>指南守則類</h3>

<ul>
  <li><a href="https://ssd.eff.org/"><strong>Surveillance Self-Defense by EFF</strong></a> - 運用安全技術與力行良好實踐來保護自己遠離監控。（<a href="https://ocftw.github.io/ssd.eff.org/zh_TW/index.html">繁體中文版</a>）</li>
  <li><a href="https://github.com/cryptoseb/CryptoPaper"><strong>The Crypto Paper</strong></a> - 每位網路使用者必備的隱私、安全與匿名資訊。</li>
  <li><a href="https://emailselfdefense.fsf.org/en/"><strong>Email Self-Defense by FSF</strong></a> - 介紹 GnuPG 加密與如何運用指南</li>
  <li><a href="https://www.bestvpn.com/the-ultimate-privacy-guide/"><strong>The Ultimate Privacy Guide</strong></a> - bestVPN.com 創辦人撰寫的優質 VPN 介紹。</li>
  <li><a href="https://www.ivpn.net/privacy-guides"><strong>IVPN Privacy Guides</strong></a> - 解釋如何透過分隔與隔絕，以取得最大限度的自由、隱私保護和匿名性等隱私指南。</li>
  <li><a href="https://fried.com/privacy"><strong>The Ultimate Guide to Online Privacy</strong></a> - 完整詳實的「忍者隱私訣竅」（Ninja Privacy Tips）與超過 150 種工具。</li>
</ul>

<h3>資訊類</h3>

<ul>
  <li><a href="https://freedom.press/"><strong>Freedom of the Press Foundation</strong></a> - 成立 2012，支持捍衛新聞自由致力於資訊透明和問責。</li>
  <li><a href="https://www.erfahrungen.com/mit/anonymisierung/t/"><strong>Erfahrungen.com</strong></a> - 德文資訊，其檢視相關隱私服務的訊息動態。</li>
  <li><a href="https://openwireless.org/"><strong>Open Wireless Movement</strong></a> - 網路自由倡議人士、公司與組織、科技人士組成的聯盟，希望推動新的無線技術以激勵開放網路運動。</li>
  <li><a href="https://privacy.net/us-government-surveillance-spying-data"><strong>privacy.net</strong></a> - 美國政府掌握哪些網民個資？</li>
  <li><a href="https://www.reddit.com/r/privacytoolsIO/wiki/index"><strong>r/privacytoolsIO Wiki</strong></a> - 由本站在 reddit.com 維護的維基頁</li>
  <li><a href="https://www.grc.com/securitynow.htm"><strong>Security Now!</strong></a> -  Steve Gibson 與 Leo Laporte 所製作的網際網路安全每週 Podcast 節目。</li>
  <li><a href="https://www.jupiterbroadcasting.com/show/techsnap/"><strong>TechSNAP</strong></a> - 每週播出的 Poadcast 節目，主題涵蓋科技產業對一般人生活之影響的故事。</li>
  <li><a href="https://tosdr.org/"><strong>Terms of Service; Didn't Read</strong></a> - 「勾選已讀完用戶服務協議且予同意」是網際網路上最大的謊言，該網站希望能改善此困境。</li>
</ul>

<h3>工具類</h3>

<ul>
  <li><a href="https://ipleak.net/"><strong>ipleak.net</strong></a> - IP/DNS 偵測 - 可查出您的 IP、域名系統 DNS、以及其它對外送出的請求資訊。</li>
  <li><a href="https://www.ghacks.net/2015/12/28/the-ultimate-online-privacy-test-resource-list/"><strong>The ultimate Online Privacy Test Resource List</strong></a> - 收錄一些網站，其提供資訊讓用戶了解所使用的瀏覽器是否有資訊漏洞</li>
  <li><a href="https://prism-break.org/"><strong>PRISM Break</strong></a> - 人人都有隱私基本人權，透過通訊加密或是斬斷商用軟體服務依賴，重新落實個人隱私權利之主張吧。</li>
  <li><a href="https://securityinabox.org/"><strong>Security in-a-Box</strong></a> - 為全球人權捍衛者與社運人士所編寫整理的數位安全指南。</li>
  <li><a href="https://securedrop.org/"><strong>SecureDrop</strong></a> - 開源的吹哨揭密提交系統，讓媒體組織用來保護匿名消息來源，確保其安全。此工具由已故的 Aaron Swartz 創建，目前由新聞自由基金會（Freedom of the Press Foundation）負責維護。</li>
  <li><a href="https://secfirst.org/"><strong>Security First</strong></a> -  Umbrella 是一個手機應用程式，提供如何在一個敵意的環境下採行各種安全措施的建議。</li>
  <li><a href="https://www.osalt.com/"><strong>Osalt</strong></a> - 收錄開源替代專有工具。</li>
  <li><a href="https://alternativeto.net/"><strong>AlternativeTo</strong></a> - 大量收集開源的線上或自行佈署的軟體工具，以替代商用軟體或服務。</li>
</ul>

<p>提醒：開放源代碼並不保證軟體安全！</p>
