<div class="page-header">
  <h1>隱私？我無不可告人之事</h1>
</div>
<blockquote class="blockquote">
  <p><a href="https://www.ted.com/talks/glenn_greenwald_why_privacy_matters" title="Why privacy matters - TED Talk"><img src="/assets/img/png/layout/glenn_greenwald.png" width="170px" class="img-fluid float-right ml-2" alt="Glenn Greenwald: Why privacy matters"></a> 過去十多個月來，每當我在全球各地討論這個議題的時候，總是有人會這樣對我說：「我並不擔心隱私被侵犯因為我沒什麼不可告人之處」我也對他們回應相同的答覆。我拿了一支筆，寫下自己的電子郵件，然後說：「這上面是我的電子郵件，我希望當你回到家之後，把你自己所有的電子郵件帳號和密碼都寄給我。不是只提供你工作上使用那個一本正經的電子郵件，而是全部的電子郵件。這樣我可以在線上用你的帳號來了解你的一舉一動，然後把我認為有趣的事物公開出來。不管怎樣，如果你不是個壞人，如果你沒做過壞事，你應該也沒什麼不可告人之處。」 <strong>然而從來沒人回應我這項提議。</strong></p>
  <footer class="blockquote-footer">Glenn Greenwald in <cite title="Why privacy matters - TED Talk"><a href="https://www.ted.com/talks/glenn_greenwald_why_privacy_matters">為何隱私重要 - TED 演講</a></cite></footer>
</blockquote>

<blockquote class="blockquote">
  <p>在房子里安裝窗簾的主要是為了阻止人們看到屋內。我們不希望他們看到屋內事物是因為我們認同在房屋內所做的許多事情都是私人行為，不管是在餐桌旁吃晚餐，與孩子一起看電影，還是與伴侶進行親密或性行為。這些行為都不是非法之事，但是即使如此，我們仍然放上窗簾和百葉窗。 這清楚地表明了當我們的私人生活和外界有所牽扯時，我們顯然對隱私存有強烈的渴望。</p>
   <footer class="blockquote-footer">Joshua in <cite title="The Crypto Paper"><a href="https://github.com/cryptoseb/CryptoPaper#let-me-explain-further">The Crypto Paper</a></cite></footer>
</blockquote>

<h4>其它資訊:</h4>

<ul>
  <li><a href="https://en.wikipedia.org/wiki/Nothing_to_hide_argument">Nothing to hide argument (Wikipedia)</a></li>
  <li><a href="https://www.reddit.com/r/privacy/comments/3hynvp/how_do_you_counter_the_i_have_nothing_to_hide/">How do you counter the "I have nothing to hide?" argument? (reddit.com)</a></li>
  <li><a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=998565">'I've Got Nothing to Hide' and Other Misunderstandings of Privacy (Daniel J. Solove - San Diego Law Review)</a></li>
</ul>

<h1 id="quotes" class="anchor"><a href="#quotes"><i class="fas fa-link anchor-icon"></i></a> 各方隱私評論</h1>

<blockquote class="blockquote">
  <p>主張無事隱瞞故隱私權無關緊要者，其類點差不多就是主張因為我沒事想說，所以言論自由一點都不重要。</p>
  <footer class="blockquote-footer">Edward Snowden on <cite title="Just days left to kill mass surveillance under Section 215 of the Patriot Act. We are Edward Snowden and the ACLU's Jameel Jaffer. AUA."><a href="https://www.reddit.com/r/IAmA/comments/36ru89/just_days_left_to_kill_mass_surveillance_under/crglgh2">Reddit</a></cite></footer>
</blockquote>

<blockquote class="blockquote">
  <p>美國國家安全局建置了一套設施，其幾乎可以攔截任何通訊。這套設備的能力，大多數人類的通訊都會自動地被吸納進去而不是針對特定目標。如果我想要看你的電子郵件內容或是你老婆的電話，我只須要利用這套設備進行攔截，就可以取得你的電子郵件、密碼、電信通聯記錄、信用卡資料等等。我不想活在一個做這種勾當的社會裏，我不想要活在一個任何所做的事所說的話都被記錄下來的世界。這不是我願意支持或是生活的地方。 </p>
  <footer class="blockquote-footer">Edward Snowden in <cite title="Edward Snowden, NSA files source: 'If they want to get you, in time they will"><a href="https://www.theguardian.com/world/2013/jun/09/nsa-whistleblower-edward-snowden-why">The Guardian</a></cite></footer>
</blockquote>

<blockquote class="blockquote">
  <p>每個人都需要有地方可以去探索而不依靠別人施加的眼光，只有在一個不必被放大檢視的地方我們才可以真正地測試出自己的極限。真正的私領域才能允許不同聲音、創造力和個人試探式的謊言。</p>
  <footer class="blockquote-footer">Glenn Greenwald in <cite title="Glenn Greenwald On Why Privacy Is Vital, Even If You 'Have Nothing To Hide"><a href="https://www.huffingtonpost.com/2014/06/20/glenn-greenwald-privacy_n_5509704.html">Huffington Post</a></cite></footer>
</blockquote>
