<h1 id="quotes" class="anchor"><a href="#quotes"><i class="fas fa-link anchor-icon"></i></a> 名人引言</h1>

<blockquote class="blockquote">
    <p>主張你不在意個人隱私的權利因為你無不可告人之處，這就等同於你不在意言論自由因為你沒什麼事情可說。</p>
    <footer class="blockquote-footer">愛德華·史諾登 (Edward Snowden) 在 <cite title="Just days left to kill mass surveillance under Section 215 of the Patriot Act. We are Edward Snowden and the ACLU's Jameel Jaffer. AUA."><a href="https://www.reddit.com/r/IAmA/comments/36ru89/just_days_left_to_kill_mass_surveillance_under/crglgh2">Reddit</a></cite></footer>
</blockquote>

<blockquote class="blockquote">
    <p>美國國安局建置了一套設施，其幾乎可以攔截任何通訊。這套設備的能力，大多數人類的通訊都會自動地被吸納進去而不是針對特定目標。如果我想要看你的電子郵件內容或是你老婆的電話，我只須要利用這套設備進行攔截，就可以取得你的電子郵件、密碼、電信通聯記錄、信用卡資料等等。我不想活在一個做這種勾當的社會裏，我不想要活在一個任何所做的事所說的話都被記錄下來的世界。這不是我願意去支持或是存活下來的地方。 </p>
    <footer class="blockquote-footer">愛德華·史諾登 (Edward Snowden) 在 <cite title="Edward Snowden, NSA files source: 'If they want to get you, in time they will"><a href="https://www.theguardian.com/world/2013/jun/09/nsa-whistleblower-edward-snowden-why">衛報 (The Guardian)</a></cite></footer>
</blockquote>

<blockquote class="blockquote">
    <p>我們都需要有地方可以去探索而不依靠別人施加在我們身上的眼光，只有在一個不必被放大檢視的地方我們才可以真正地測試出自己的極限。真正的私領域才能允許不同聲音、創造力和個人試探式的謊言。</p>
    <footer class="blockquote-footer">葛倫·葛林華德 (Glenn Greenwald) 在 <cite title="Glenn Greenwald On Why Privacy Is Vital, Even If You 'Have Nothing To Hide"><a href="https://www.huffingtonpost.com/2014/06/20/glenn-greenwald-privacy_n_5509704.html">Huffington Post</a></cite></footer>
</blockquote>