<h1 id="os" class="anchor">網路隱私工具</h1>

<p><a href="/classic/"><i class="fas fa-info-circle"></i> 偏好傳統式的網站？可檢視單一頁面格式。</a></p>

<div class="row">

  {% include card.html color="success"
  title="供應商"
  icon="fas fa-server"
  iconcolor="dark"
  page="/providers/"
  description="發現更多的隱私優先網路服務，包括電子郵件、VPN 營運商、 DNS 域名代管服務等等。"
  %}

  {% include card.html color="primary"
  title="網頁瀏覽器"
  icon="far fa-compass"
  iconcolor="dark"
  page="/browsers/"
  description="找到適合您隱私要求的瀏覽器，並了解如何強化其阻止追踪和數據洩漏的保護措施。"
  %}

  {% include card.html color="warning"
  title="軟體"
  icon="far fa-window-restore"
  iconcolor="dark"
  page="/software/"
  description="認識更多開源軟體，以確保使用者隱私與數位資料安全。"
  %}

  {% include card.html color="info"
  title="作業系統"
  icon="fas fa-desktop"
  iconcolor="dark"
  page="/operating-systems/"
  description="了解作業系統如何侵犯使用者的隱私，以及查看現有的簡便替代選項。"
  %}

  {% include card.html color="secondary"
  title="PrivacyTools 服務"
  icon="far fa-eye-slash"
  iconcolor="dark"
  page="/services/"
  description="PrivacyTools 網路隱私工具團隊為您獻上各種尊重用戶隱私的免費網路服務，例如 Mastodon、搜尋引擎、寫作園地等等！"
  %}

  {% include card.html color="danger"
  title="捐助"
  icon="fas fa-donate"
  iconcolor="dark"
  page="/donate/"
  description="沒有讀者們慷慨解囊，本站無法正常營運。懇請珍惜隱私的朋友們考慮捐助本站。"
  %}

</div>
