<h1 id="firmware" class="anchor"><a href="#firmware"><i class="fas fa-link anchor-icon"></i></a> 開源的路由器軔體</h1>
<div class="row mb-2">

    {% include card.html color='success'
    title='OpenWrt'
    image='assets/img/tools/OpenWrt.png'
    url='https://openwrt.org/'
    description='OpenWrt 是一套利用 Linux 核心的作業系統(特別是一種嵌入式作業系統)，主要用於一些路由網路流量的設備上。它主要的構成是由 Linux 核心，util-linux、uClibc 和 BusyBox。這些元件都已經過大小的最佳化，以符合家用路由器這類的小型設備，與其有限的記憶體容量與儲存空間。'
    %}

    {% include card.html color='primary'
    title='pfSense'
    image='assets/img/tools/pfSense.png'
    url='https://pfsense.org/'
    description='pfSense 是利用 FreeBSD 所開發的一套用於防火牆/路由器上的開源軔體。它安裝在電腦上可變成網路上防火牆/路由器功能，並以其可靠與不輸給商用軟體的強大功能而著稱。pfSense 通常佈署在週邊的防火牆、路由器、無線存取器、DHCP 伺服器、DNS 伺服器以及 VPN 末端點。'
    %}

    {% include card.html color='warning'
    title='LibreCMC'
    image='assets/img/tools/LibreCMC.png'
    url='https://librecmc.org'
    description='LibreCMC 是 GNU/Linux-libre 電腦版本，其資源需求小，例如像 Ben Nanonote, ath9k-based 無線路由器以及其它強調自由軟體的硬體配件。本專案當前目標是依循 GNU 自由系統發佈指南（GNU FSDG）並確保符合自由軟體基金會所設下的要求。'
    %}

</div>

<h3>值得一提</h3>

<ul>
    <li><a href="https://www.openbsd.org/">OpenBSD</a> - 創造免費、多平台，類似像 4.4BSD-based UNIX 的作業系統開發專案。強調可攜帶性、標準化、正確性、主動安全與整合的密碼學系統。</li>
    <li><a href="https://dd-wrt.com/">DD-WRT</a> - 利用 Linux 為無線路由器與無線接取器所開發的軔體。它可和多種路由器和接取器模式相容。</li>
</ul>