<h1 id="mycloud" class="anchor"><a href="#mycloud"><i class="fas fa-link anchor-icon"></i></a> 自行架設的雲端伺服器軟體</h1>
<div class="alert alert-warning" role="alert">
    <strong>如果你目前使用的是 Dropbox, Google Drive, Microsoft OneDrive 或 Apple iCloud 等雲端儲存服務，不妨從考慮自行架設自家的雲端伺服器。</strong>
</div>
<div class="row mb-2">

    {% include card.html color='success'
    title='Pydio'
    image='assets/img/tools/Pydio.png'
    url='https://pydio.com/'
    footer='支援作業系統：Windows, macOS, Linux, iOS, Android。'
    description='Pydio 是一款開源的軟體，可以立即將任何伺服器（on premise, NAS, cloud IaaS or PaaS）轉變成檔案共享平台。它可作為 SaaS Boxes/Drives 的替代品，給予使用者更多的掌控、安全，隱私保護和有利的成本控管。'
    %}

    {% include card.html color='primary'
    title='Tahoe-LAFS'
    image='assets/img/tools/Tahoe-LAFS.png'
    url='https://www.tahoe-lafs.org/'
    footer='支援作業系統：Windows, macOS, Linux。'
    description='Tahoe-LAFS 是一套免費開放，去中心化的雲端儲存系統。它讓使用者的資料散佈在多台伺服器上，所以即便其中有些伺服器故障出問題或是受到攻擊，整個檔案儲存仍然會繼續正常運行，保障使用者的安全和隱私。'
    %}

    {% include card.html color='warning'
    title='Nextcloud'
    image='assets/img/provider/Nextcloud.png'
    url='https://nextcloud.com/'
    footer='客戶端作業系統：Windows, macOS, Linux, BSD, Unix, iOS, Android, Fire OS。伺服器：Linux.'
    description='和 Dropbox 有相同的功能，但最大的差異在Nextcloud 是一套免費而開源的軟體，它可讓任何人自行架設與操作而不必如私用伺服器那般地收取費用，也沒有空間容量或連接客戶端數量的限制。'
    %}

</div>

<h3>值得一提</h3>
<ul>
    <li><a href="https://github.com/xwiki-labs/cryptpad/">CryptPad</a> - 免費且端對端加密的即時協同分享資料夾、媒體及文件。</li>
</ul>