<h1 id="darknets" class="anchor"><a href="#darknets"><i class="fas fa-link anchor-icon"></i></a> 自足網路</h1>
<div class="alert alert-warning" role="alert">
    <strong>如果你現在瀏覽的都是<a href="https://en.wikipedia.org/wiki/Surface_Web">表網 clearnet</a>，希望能夠連入 <a href="https://en.wikipedia.org/wiki/Dark_web">Dark web 深網</a>，這部份正是為你所準備的。</strong>
</div>
<div class="row mb-2">

    {% include card.html color='success'
    title='Tor Browser'
    image='assets/img/tools/Tor-Project.png'
    url='https://www.torproject.org/'
    tor='http://expyuzz4wqqyqhjn.onion'
    footer='支援作業系統： Windows, macOS, Linux, <a href="https://mike.tig.as/onionbrowser/">iOS</a>, <a href="https://www.torproject.org/docs/android.html.en">Android</a>, <a href="https://github.com/torbsd/openbsd-ports">OpenBSD</a>。'
    description='Tor 網路是由一群自願營運的伺服器社群，來讓人們可以改善其在網際網路上的隱私和安全。Tor 使用者利用這個網路來連結到一系列虛擬的隧道而不是採直接的連接方式。這樣可讓組織和個人在公共網路上分享資訊而不會傷害自身的隱私。Tor 也是一個能有效避開網路審查的工具。'
    %}

    {% include card.html color='primary'
    title='I2P Anonymous Network'
    image='assets/img/tools/I2P.png'
    url='https://geti2p.net/'
    footer='支援作業系統： Windows, macOS, Linux, Android, BSD / Solaris。'
    description='The Invisible Internet Project (I2P) 是一個電腦網路層，它可讓應用程式相互安全化名地傳送訊息。它可用匿名的網站瀏覽、聊天、網誌和檔案傳送。這個軟體所執行的這層叫作 I2P 路由，當電腦運行 I2P 時，即稱之為 I2P 節點。它是免費開源的軟體，其發佈版本有多種授權方式。'
    %}

    {% include card.html color='warning'
    title='The Freenet Project'
    image='assets/img/tools/Freenet.png'
    url='https://freenetproject.org/'
    footer='支援作業系統： Windows, macOS, Linux。'
    description='Freenet 是一個點對點的平台以進行內容審查的抵抗通訊。它採用去中心化的分散式資料儲存來保存和傳送資訊，也有自由免費軟體套件可以用來在網路上進行發表或是通訊而不必擔心審查。自由網和一些它的相關工具一開始是由 Ian Clarke 所設計，他認為自由網的目的乃在於透過頑強的匿名保護，提供網際網路的言論自由空間。'
    %}

</div>

<h3>值得一提</h3>
<ul>
    <li><a href="https://zeronet.io/">ZeroNet</a> - 開放、自由與未經審查的網站，使用比特幣密碼學與 BitTorrent 協定網路。</li>
    <li><a href="http://retroshare.net/">RetroShare</a> - 開源跨平台，朋友對朋友之間的安全，去中心式的通訊平台。</li>
    <li><a href="https://gnunet.org/">GNUnet</a> - GNUnet 為全球分散式網路提供了一個堅實的基礎，以確保其安全和隱私保護。</li>
    <li><a href="https://ipfs.io/">IPFS</a> - 點對點的超媒體協定，可讓網頁更快、安全和開放。（<a href="https://github.com/privacytoolsIO/privacytools.io/pull/361#issuecomment-344414022">重要的隱私警告</a>）</li>
</ul>