<h1 id="mycloud" class="anchor"><a href="#mycloud"><i class="fas fa-link anchor-icon"></i></a> 自行架設的雲端伺服器軟體</h1>

<div class="alert alert-warning" role="alert">
  <strong>如果您目前使用 Dropbox, Google Drive, Microsoft OneDrive 或 Apple iCloud 等雲端儲存服務，不妨從考慮自行架設自家的雲端伺服器。</strong>
</div>

{% include cardv2.html
title="Nextcloud"
image="/assets/img/svg/3rd-party/nextcloud.svg"
description="<strong>Nextcloud</strong> 為伺服器與用戶端的套件軟體，可用於在私有控制的伺服器上建立自用的檔案存取服務。Nextcloud 免費開源，支援使用者之間的點對點加密。其容量與頻寛大小視所選的<a href=\"/providers/hosting\">伺服器主機</a>情況而定。"
website="https://nextcloud.com/"
forum="https://forum.privacytools.io/t/discussion-nextcloud/287"
windows="https://nextcloud.com/install/#install-clients"
mac="https://nextcloud.com/install/#install-clients"
linux="https://nextcloud.com/install/#install-clients"
freebsd="https://www.freshports.org/www/nextcloud/"
openbsd="http://openports.se/www/nextcloud"
netbsd="http://pkgsrc.se/www/php-nextcloud"
fdroid="https://f-droid.org/packages/com.nextcloud.client/"
googleplay="https://play.google.com/store/apps/details?id=com.nextcloud.client"
ios="https://itunes.apple.com/us/app/nextcloud/id1125420102?mt=8"
github="https://github.com/nextcloud"
%}

{% include cardv2.html
title="Tahoe-LAFS"
image="/assets/img/svg/3rd-party/tahoe-lafs.svg"
image-dark="/assets/img/svg/3rd-party/tahoe-lafs-dark.svg"
website="https://www.tahoe-lafs.org/"
forum="https://forum.privacytools.io/t/discussion-tahoe-lafs/1662"
description="Tahoe-LAFS Tahoe-LAFS 免費開源，去中心化的雲端儲存系統。使用者的資料散佈在多台伺服器上，所以即便其中某個伺服器故障出問題或是受到攻擊，整個檔案儲存仍然會繼續正常運行，保障使用者的安全和隱私。"
windows="https://github.com/tahoe-lafs/tahoe-lafs#via-pip"
mac="https://github.com/tahoe-lafs/tahoe-lafs#via-pip"
linux="https://github.com/tahoe-lafs/tahoe-lafs#using-os-packages"
netbsd="http://pkgsrc.se/filesystems/tahoe-lafs"
git="https://www.tahoe-lafs.org/trac/tahoe-lafs/browser"
%}

<h3>值得一提</h3>
<ul>
  <li><a href="https://github.com/xwiki-labs/cryptpad/">CryptPad</a> - 免費開源且具端對端加密功能的即時線上協同筆記，可分享資料夾、媒體及文件。</li>
</ul>
