<h1 id="social" class="anchor"><a href="#social"><i class="fas fa-link anchor-icon"></i></a> 去中心的社交網路</h1>
<div class="alert alert-warning" role="alert">
    <strong> 如果你還在使用如 Facebook、Twitter 或 Google+ 的社交網站，不妨從這裏挑選一個替代方案。</strong>
</div>
<div class="row mb-2">

    {% include card.html color='success'
    title='Mastodon 長毛象'
    image='assets/img/tools/Mastodon.png'
    url='https://joinmastodon.org'
    website='mastodon.social'
    description='Mastodon 基於開放網頁協定的自由開源社交網站軟體。它如電子郵件的去中心化，包容各式多元（不同興趣同好的）使用者，外觀搶眼容易使用安裝。'
    %}

    {% include card.html color='primary'
    title='diaspora*'
    image='assets/img/tools/diaspora.png'
    url='https://diasporafoundation.org/'
    description='diaspora* 基於三大核心哲學：去中心化、自由和隱私。它希望能引起大家關切由中心所控制社交網站下的隱私問題，所以可以讓用戶自行架設伺服器（或稱 "pod"）來控制內容，而各個伺服器可以再自行互動分享動態更新、照片或其它的資料。'
    %}

    {% include card.html color='warning'
    title='Friendica'
    image='assets/img/tools/Friendica.png'
    url='https://friendi.ca/'
    description='Friendica 強調在隱私控制上的仔細設定，它是一個容易安裝在伺服器上的軟體，以期待盡可能出現更多其它的社交網路聯邦。 Friendica 用戶可以從 Facebook, Twitter, Diaspora, GNU social, App.net, Pump.io 等等多項社交網路服務來整合其聯絡人的名單到自己的社交時間軸。'
    %}

</div>

<h3>值得一提</h3>
<ul>
    <li><a href="https://gnu.io/social/">GNU Social</a> - 開源、自由與去中心的社交平台，可與 Mastodon 和 Friendica 相容交流。</li>
</ul>

<h3>相關資訊</h3>
<ul>
    <li><a href="https://justdeleteme.xyz/">JustDeleteMe</a> - 直接透過連結，來刪除你在網路服務上的帳號</li>
    <li><a href="https://addons.mozilla.org/firefox/addon/facebook-container/">Facebook Container by Mozilla</a> - 防止 Facebook 在網路上追蹤你。</li>
    <li><a href="https://www.facebook.com/help/delete_account">Delete your Facebook account</a> - 直接連結到刪除你 Facebook 帳號，讓它不能重新啟用。</li>
    <li><a href="https://deletefacebook.com/">How To Permanently Delete A Facebook Account</a> - 此指南會順暢的帶你成功刪除 Facebook 帳號。</li>
</ul>