<h1 id="obb" class="anchor"><a href="#social-news-aggregator"><i class="fas fa-link anchor-icon"></i></a> 社交訊息聚合</h1>

<div class="alert alert-warning" role="alert">
  <strong>如果你經常使用線上佈告欄如 Reddit，此部份提供您其它選項。</strong>
</div>

{% include cardv2.html
title="Aether"
image="/assets/img/svg/3rd-party/aether.svg"
description='<a href="https://github.com/nehbit/aether/blob/master/LICENSE.md">Aether 免費開源的</a>去中心社交新聞訊息聚合器，內建投票系統。'
website="https://getaether.net/"
privacy-policy="https://getaether.net/privacypolicy/"
forum="https://forum.privacytools.io/t/discussion-aether/1256"
github="https://github.com/nehbit/aether"
windows="https://getaether.net/download/"
mac="https://getaether.net/download/"
linux="https://getaether.net/download/"
%}

{% include cardv2.html
title="Tildes"
image="/assets/img/svg/3rd-party/tildes.svg"
description='Tildes 以網頁為主的自架式線上佈告欄系統，其使用授權採 <a href="https://gitlab.com/tildes/tildes/blob/master/LICENSE">GPL 3.0</a>。'
website="https://tildes.net"
privacy-policy="https://docs.tildes.net/policies/privacy-policy"
forum="https://forum.privacytools.io/t/discussion-tildes/1257"
gitlab="https://gitlab.com/tildes/tildes"
web="https://tildes.net"
%}

{% include cardv2.html
title="Raddle"
image="/assets/img/png/3rd-party/raddle.png"
description="Raddle 利用 Postmill 搭架，關注在隱私和反對言論審查。"
website="https://raddle.me"
privacy-policy="https://raddle.me/wiki/privacy_policy"
forum="https://forum.privacytools.io/t/discussion-raddle/1258"
gitlab="https://gitlab.com/postmill/"
web="https://raddle.me"
%}

<h3>值得一提</h3>

<ul>
  <li><a href="https://beta.akasha.world/">Akasha</a> - 使用<a href="https://www.wikipedia.org/wiki/InterPlanetary_File_System">IPFS 系統</a>與 <a href="https://www.wikipedia.org/wiki/Ethereum">Ethereum</a> 系統的非集中式線上佈告欄。</li>
  <li><a href="https://dev.lemmy.ml/">Lemmy</a> - <a href="https://github.com/dessalines/lemmy/blob/master/LICENSE">AGPL</a>-授權的自架式連結聚合 器，希望能打造如 <a href="https://www.wikipedia.org/wiki/Fediverse">Fediverse 聯邦普及</a>模式。</li>
  <li><a href="https://notabug.io/">notabug.io</a> - <a href="https://github.com/notabugio/notabug/blob/master/LICENSE.md">免費開源</a> P2P 的連結聚合器，很像舊版的 old.reddit.com（不要誤以為是<a href="https://notabug.org/">NotABug.org</a>）。</li>
</ul>
