<h1 id="proxies" class="anchor"><a href="#proxies"><i class="fas fa-link anchor-icon"></i></a> 前端與代理</h1>

<div class="alert alert-warning" role="alert">
  <strong> 只會用 YouTube 影片平台？何不試試其它不會洩漏用戶資料的影片平台。</strong>
</div>

{% include cardv2.html
  title="Invidious"
  image="/assets/img/svg/3rd-party/invidious.svg"
  description='Invidious 可替代 YouTube 的影片前端自由軟體，不依賴廣告或 Javascript 即可播放影片，還有眾多功能讓 Youtube 不靠 Google 即可發揮更完整的功能。'
  labels="color==warning::icon==fas fa-exclamation-triangle::link==https://github.com/iv-org/documentation/blob/master/Always-use-%22local%22-to-proxy-video-through-the-server-without-creating-an-account.md::text==Warning::tooltip==By default, Invidious will not proxy videos through the instance's proxy."
  website="https://invidio.us"
  github="https://github.com/iv-org/invidious"
  web="https://instances.invidio.us"
%}