<h1 id="voip" class="anchor"><a href="#voip"><i class="fas fa-link anchor-icon"></i></a> 影/音通話</h1>

<div class="alert alert-warning" role="alert">
  <strong>如果您仍在使用 Skype、Viber 或 Google Hangouts 等影音會議即時通訊軟體，不妨考慮其它的替代品吧。</strong> 請注意前面提到的多項即時通，其中不之乏支援<span class="badge badge-success">VoIP</span>功能者。下列軟體則<em>以影音為主打</em>。 
</div>

{% include cardv2.html
title="Linphone"
image="/assets/img/svg/3rd-party/linphone.svg"
website="https://www.linphone.org/"
privacy-policy="https://www.linphone.org/terms-and-privacy"
description="Linphone 是個開源 SIP 電話，它可利用網路服務來撥打免費語音電話, 其能運行在手機與桌機環境和網頁瀏覽器。它支援 ZRTP 的端點到端點之間的影音加密通訊。"
forum="https://forum.privacytools.io/t/discussion-linphone/751"
github="https://github.com/BelledonneCommunications"
windows="https://www.linphone.org/technical-corner/linphone?qt-technical_corner=2#qt-technical_corner"
linux="https://www.linphone.org/technical-corner/linphone?qt-technical_corner=2#qt-technical_corner"
mac="https://www.linphone.org/technical-corner/linphone?qt-technical_corner=2#qt-technical_corner"
fdroid="https://f-droid.org/packages/org.linphone"
googleplay="https://play.google.com/store/apps/details?id=org.linphone"
ios="https://itunes.apple.com/us/app/linphone/id360065638?mt=8"
%}

{% include cardv2.html
  title="Jitsi Meet"
  image="/assets/img/svg/3rd-party/jitsi.svg"
  website="https://jitsi.org/jitsi-meet/"
  privacy-policy="https://jitsi.org/security/"
  description='免費開源的跨平台網路電話（VoIP），視訊會議與即時通訊應用軟體，有 E2EE 可選，能運行於瀏覽器、<a href="https://github.com/jitsi/jitsi-meet-electron/releases">桌面軟體</a>或手機。能透過畫面分享縮小對話浮動視窗進行簡報。<a href="https://github.com/jitsi/jitsi-meet/wiki/Jitsi-Meet-Instances">Jitsi Meet 公共服務站台列表</a>。'
  labels="color==warning::text==Requires WebRTC::tooltip==Our Firefox tweaks recommend disabling WebRTC as it can be used to leak your IP address even behind a VPN, which is why Tor Browser disables it.|color==warning::link==https://github.com/jitsi/lib-jitsi-meet/blob/master/doc/e2ee.md::text==Experimental E2EE::tooltip==E2EE in Jitsi Meet is dependent on Insertable Streams, which is currently supported in Chrome but not Firefox. The mobile apps also do not support E2EE for the moment. Prefer to use the desktop apps instead."
  forum="https://forum.privacytools.io/t/discussion-jitsi-meet/1577"
  github="https://github.com/jitsi/jitsi-meet"
  windows="https://github.com/jitsi/jitsi-meet-electron/releases"
  linux="https://github.com/jitsi/jitsi-meet-electron/releases"
  mac="https://github.com/jitsi/jitsi-meet-electron/releases"
  fdroid="https://f-droid.org/en/packages/org.jitsi.meet/"
  googleplay="https://play.google.com/store/apps/details?id=org.jitsi.meet"
  ios="https://apps.apple.com/us/app/jitsi-meet/id1165103905"
%}

{% include cardv2.html
title="Mumble"
image="/assets/img/svg/3rd-party/mumble.svg"
website="https://mumble.info/"
description="Mumble 為開源、低延遲高品質之語音聊天軟體，它主要用在打電玩遊戲。請注意 Mumble 本身預設不存留訊息與活動記錄。 <a href=\"https://github.com/mumble-voip/mumble/issues/1813\">可惜無支援點對點加密</a>，故最好自行搭架此軟體。"
forum="https://forum.privacytools.io/t/discussion-mumble/1289"
github="https://github.com/mumble-voip/"
windows="https://www.mumble.info/downloads"
linux="https://www.mumble.info/downloads"
mac="https://www.mumble.info/downloads"
android="https://www.mumble.info/downloads/#third-party-clients"
ios="https://apps.apple.com/us/app/mumble/id443472808?ls=1"
%}

<h3>相關資訊</h3>

<ul>
  <li>更多 Mumble 資訊：</li>
  <ul>
  <li><a href="https://wiki.mumble.info/wiki/Running_Murmur">Running Mumble Server</a> and <a href="https://wiki.mumble.info/wiki/Murmur.ini">its config file</a>, particularly <a href="https://wiki.mumble.info/wiki/Murmur.ini#obfuscate">obfuscating IPv4 addresses</a> and <a href="https://wiki.mumble.info/wiki/Murmur.ini#Process_Administrivia">logging</a></li>
  <li><a href="https://trac.torproject.org/projects/tor/wiki/doc/TorifyHOWTO/Mumble">Torifying Mumble</a>
  </ul>
</ul>
