<h1 id="voip" class="anchor"><a href="#voip"><i class="fas fa-link anchor-icon"></i></a> 加密的影音即時通</h1>
<div class="alert alert-warning" role="alert">
    <strong>如果你還在使用 Skype、Viber 或 Google Hangouts 這些影音會議即時通訊軟體，不妨考慮其它的替代品吧。</strong>
</div>
<div class="row mb-2">
    {% include card.html color='success'
    title='Mobile: Signal'
    image='assets/img/tools/Signal.png'
    url='https://signal.org'
    footer='支援作業系統：Android, iOS, macOS, Windows, Linux'
    description='由 Open Whisper Systems 所開發的手機應用程式。它的所有通訊都予以加密。 Signal 是一套免費開源的軟體，任何人都可以審查它的原始碼。這個開發團隊是靠社群的捐款與獎助，而 Signal 不會插入廣告也不須花錢就可以安裝使用。'
    %}

    {% include card.html color='primary'
    title='Wire'
    image='assets/img/tools/wire.png'
    url='https://get.wire.com'
    footer='支援作業系統：Android, iOS, macOS, Windows, Linux、網站'
    description='Wire 是由 Wire Swiss GmbH 所開發的一套應用程式軟體。Wire 可讓用戶交換端對端之間的即時訊息加密以及可以打語音和視訊電話。 Wire 是一個免費開源的軟體，讓任何人可以透過查核其程式碼來檢查它的安全認證。 它的開發團隊受到 Iconical 的支持撐腰，未來有商業化提供付費型升級客戶的功能與服務。 <br>
    <b>關心提醒:</b> 這家公司會保留所有用戶的聯絡人清單，除非用戶完全刪除自己帳號。'
    %}

    {% include card.html color='warning'
    title='Linphone'
    image='assets/img/tools/Linphone.png'
    url='https://www.linphone.org/'
    footer='支援作業系統：iOS, Android, Windows Phone, Linux, Windows, macOS、瀏覽器（網站）'
    description='Linphone 是一個開源 SIP 電話，它可利用網路服務來撥打免費語音電話, 其能運行在手機與桌機環境和網頁瀏覽器。它支援 ZRTP 的端點到端點之間的影像加密通訊。'
    %}

</div>

<h3>值得一提</h3>

<ul>
    <li><a href="https://jitsi.org/">Jitsi</a> - 是一款免費開源的跨平台網路電話（VoIP），視訊會議與即時通訊應用軟體。</li>
    <li> <a href="https://tox.chat/">Tox</a> - <span class="badge badge-warning">Experimental</span> 免費開源、點對點的加密即時通訊與影音通話軟體。</li>
    <li><a href="https://ring.cx/">Ring (前身為 SFLphone)</a> -  讓用戶完整掌控通訊時各層級的隱私保護。</li>
</ul>

<h3>相關資訊</h3>
<ul>
    <li><a href="https://signal.org/android/apk/">Advanced users with special needs can download the Signal APK directly. Most users should not do this under normal circumstances.</a></li>
    <li><a href="https://motherboard.vice.com/en_us/article/secure-messaging-app-wire-stores-everyone-youve-ever-contacted-in-plain-text">Secure Messaging App Wire Stores Everyone You've Ever Contacted in Plain Text | Motherboard</a></li>
</ul>