<h1 id="vpn" class="anchor"><a href="#vpn"><i class="fas fa-link anchor-icon"></i></a> 推薦的 VPN 服務</h1>

<div class="alert alert-success" role="alert">
  <strong>此推薦的供應商都不在美國境內，他們都使用加密，接受 Bitcoin 付款，支援 OpenVPN 而且採不記錄使用者活動的政策。可進一步了解 <a href="/providers/vpn/#criteria">完整的評鑑標準說明</a>。</strong>
</div>

<div class="container-fluid">

  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img
        src="/assets/img/svg/3rd-party/mullvad.svg"
        data-theme-src="/assets/img/svg/3rd-party/mullvad-dark.svg"
        height="70"
        width="200"
        class="img-fluid d-block mr-auto ml-auto align-middle"
        alt="Mullvad">
    </div>
    <div class="col">
    <h2>Mullvad <span class="badge badge-info">歐元 €60/年</span></h2>
    <p><strong>Mullvad</strong> 速度快、價格合理的 VPN，同時認真看待安全與透明課題。自 <strong>2009</strong>開始營運，是唯一達到我們各要求標準的 VPN 供應商。Mullvad 主要位於<span class="flag-icon flag-icon-se"></span> 瑞典，未提供免費試用，請到 <a href="https://mullvad.net/">mullvad.net</a> 建立一個帳號吧。</p>
    <h5><span class="badge badge-success">406+ 伺服器</span></h5>
    <p>計至在本文撰寫時，Mullvad 在 39 國家佈署了409 個伺服器。通常供應商有更多伺服器就能提供更佳服務：當上百台伺服器營運時，用戶可以更輕易地找到速度最快、距離最近的伺服器。</p>
    <h5><span class="badge badge-success">WireGuard 支援</span></h5>
    <p>除標準的 OpenVPN 連線， Mullvad 還支援 WireGuard。WireGuard 是試驗階段的網路協定，理論上會更安全與更可靠。不過目前它仍未大量使用。</p>
    <h5><span class="badge badge-success">獨立稭核</span></h5>
    <p>Mullvad 的 VPN 客戶端軟體曾由 Cure53 與 Assured AB 稭核，提交滲透測試報告，公佈在<a href="https://cure53.de/pentest-report_mullvad_v2.pdf"> cure53.de</a>。 安全檢查的研究成員包括：</p>
    <blockquote class="blockquote">
      <p class="mb-0">...Cure53 與 Assured AB 對於安全稭核結果感到滿意，對他們的軟體留下了良好印象。Mullvad VPN 自家團隊在資安用心的專注投入，測試員深信此專案朝著正確的軌道前進。</p>
    </blockquote>
    <h5><span class="badge badge-success">IPv6 支援</span></h5>
    <p>Mullvad 支援 <a href="https://en.wikipedia.org/wiki/IPv6">IPv6 </a>網路協定，讓用戶可訪問<a href="https://mullvad.net/en/blog/2014/9/15/ipv6-support/">架設在 IPv6</a>的服務。不少供應商會阻斷 IPv6 連線。</p>
    <h5><span class="badge badge-success">遠處端口轉發 Remote port forwarding</span></h5>
    <p>Mullvad 提供遠端<a href="https://en.wikipedia.org/wiki/Port_forwarding">端口轉發</a>功能，請見<a href="https://mullvad.net/help/port-forwarding-and-mullvad/">Port forwarding with Mullvad VPN</a>.</p>
    <h5><span class="badge badge-success">接受比特幤付款</span></h5>
    <p>Mullvad 可採 信用卡/簽帳卡、<strong>比特幣</strong>、<strong>Bitcoin Cash</strong>以及<strong>現金或當地流通貨幣</strong>等不記名付款方式，也可接受 Swish 與銀行電滙。</p>
    <h5><span class="badge badge-warning">無手機端應用s</span></h5>
    <p>其 iOS 與 Android 客戶端軟體仍在開發中，手機用戶必須使用舊有的 OpenVPN 進行設定，通常它較複雜難搞。</p>
    <h5><span class="badge badge-info">額外功能</span></h5>
    <p>The Mullvad VPN 客戶端內鍵 killswitch 以阻斷 VPN 以外的網路連線，也能在開機時即自動載入 VPN。 Mullvad 網站可以透由 Tor  <a href="http://xcln5hkbriyklr6n.onion/">xcln5hkbriyklr6n.onion </a>訪問。</p>
    </div>
  </div>

</div>

<div class="alert alert-warning" role="alert">
  <strong>注意：使用 VPN 無法匿名，但某些狀況下提供用戶更佳的隱私保護。 VPN 不是用來從事違法活動的工具，不要依賴「不留活動記錄 "no log"」政策。</strong>
</div>

<h1 id="vpn" class="anchor"><a href="#worth-mentioning"><i class="fas fa-link anchor-icon"></i></a> 其它值得一提的 VPN 供應商</h1>

<div class="container-fluid">

  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img src="/assets/img/svg/3rd-party/protonvpn.svg" height="70" width="200" class="img-fluid d-block mr-auto ml-auto align-middle" alt="ProtonVPN">
    </div>
    <div class="col">
    <h2>ProtonVPN <span class="badge badge-info">Free</span> <span class="badge badge-info">USD $96/year</span></h2>
    <p><strong>ProtonVPN</strong> is a strong contender in the VPN space, and they have been in operation since <strong>2016</strong>. ProtonVPN is based in <span class="flag-icon flag-icon-ch"></span> Switzerland and offers a limited free pricing tier, as well as premium options. Unfortunately due to its lack of an independent security audit it does not meet the complete criteria for recommendation, see our notes below.</p>
    <h5><span class="badge badge-danger">Not Audited</span></h5>
    <p>ProtonVPN has not undergone a security audit by an independent third party, and therefore cannot be strongly recommended at this time. We have still chosen to list it on this page with the assumption that an audit will be published soon:</p>
    <blockquote class="blockquote">
      <p class="mb-0">We are currently undergoing a complete security audit of our VPN applications by a reputable Swiss security company. The results of the audit will be summarized in a public report for cases like this.</p>
      <footer class="blockquote-footer">Marc Loebekken, ProtonVPN AG Legal counsel</footer>
    </blockquote>
    <p>We will reevaluate this listing at the end of Q1 2020 or when the aforementioned report has been published, whichever is sooner.
    <h5><span class="badge badge-success">610+ Servers</span></h5>
    <p>ProtonVPN has 610 servers in 44 countries at the time of writing this page. Typically the more servers a provider offers, the better: With hundreds of servers in operation, you are far more likely to find a fast connection and a server geographically closest to you.</p>
    <h5><span class="badge badge-success">Accepts Bitcoin</span></h5>
    <p>ProtonVPN does technically accept Bitcoin payments; however, you either need to have an existing account, or contact their support team in advance to register with Bitcoin.</p>
    <h5><span class="badge badge-success">Mobile Clients</span></h5>
    <p>In addition to providing standard OpenVPN configuration files, ProtonVPN has mobile clients for iOS or Android allowing for easy connections to their servers.</p>
    <h5><span class="badge badge-info">Extra Functionality</span></h5>
    <p>The ProtonVPN clients have a built-in killswitch to block internet connections outside of the VPN. They also are able to automatically start on boot. ProtonVPN also offers "Tor" servers allowing you to easily connect to onion sites, but we still strongly recommend using the official Tor Browser for this purpose.</p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img src="/assets/img/svg/3rd-party/ivpn.svg" height="70" width="200" class="img-fluid d-block mr-auto ml-auto align-middle" alt="IVPN">
    </div>
    <div class="col">
    <h2>
      IVPN
      <span class="badge badge-info">Standard USD $60/Year</span>
      <span class="badge badge-secondary">Pro USD $100/Year</span>
    </h2>
    <p><strong>IVPN</strong> is another strong premium VPN provider, and they have been in operation since <strong>2009</strong>. IVPN is based in <span class="flag-icon flag-icon-gi"></span> Gibraltar and offers a 3 day free trial. Unfortunately, due to its lack of an independent security audit, it does not meet the complete criteria for recommendation, see our notes below.</p>
    <h5><span class="badge badge-danger">No Security Audit</span></h5>
    <p>IVPN has undergone a <a href="https://cure53.de/audit-report_ivpn.pdf">no-logging audit from Cure53</a> which concluded in agreement with IVPN's no-logging claim. However, IVPN has not undergone a more comprehensive security audit by an independent third party, and therefore cannot be strongly recommended at this time.</p><p>We have still chosen to list it on this page with the assumption that an audit will be published soon. <a href="https://nitter.net/ivpnnet/status/1181954975687163905">IVPN has hired Cure53</a> to undertake a comprehensive audit covering the IVPN website, public and internal server infrastucture. They expect the audit to begin in November 2019 and be completed by the 6 auditors in January 2020.</p>
    <h5><span class="badge badge-success">77+ Servers</span></h5>
    <p>IVPN has 77 servers in 31 countries at the time of writing this page. Typically the more servers a provider offers, the better. IVPN has a decent (but not exceptional) server count that will most likely provide adequate coverage to most users.</p>
    <h5><span class="badge badge-success">Remote port forwarding</span></h5>
    <p>Remote <a href="https://en.wikipedia.org/wiki/Port_forwarding">port forwarding</a> is possible with a Pro plan. Port forwarding <a href="https://www.ivpn.net/knowledgebase/81/How-do-I-activate-port-forwarding.html">can be activated</a> via the client area. Port forwarding is only available on IVPN when <a href="https://www.ivpn.net/knowledgebase/116/Port-forwarding-is-not-working-why.html">using OpenVPN and is disabled on US servers</a>.</p>
    <h5><span class="badge badge-success">Accepts Bitcoin</span></h5>
    <p>In addition to accepting credit/debit cards and PayPal, IVPN accepts <strong>Bitcoin</strong> and <strong>cash/local currency</strong> (on annual plans) as anonymous forms of payment.</p>
    <h5><span class="badge badge-success">Mobile Clients</span></h5>
    <p>In addition to providing standard OpenVPN configuration files, IVPN has mobile clients for iOS or Android allowing for easy connections to their servers.</p>
    <h5><span class="badge badge-info">Extra Functionality</span></h5>
    <p>The IVPN clients have a built-in killswitch to block internet connections outside of the VPN. They also are able to automatically start on boot. IVPN also provides "AntiTracker" functionality, which blocks advertising networks and trackers from the network level.</p>
    </div>
  </div>

</div>
