<h1 id="vpn" class="anchor"><a href="#vpn"><i class="fas fa-link anchor-icon"></i></a> 推薦的 VPN 服務</h1>

<div class="alert alert-success" role="alert">
  <strong>此推薦的供應商都不在美國境內，他們都使用加密，接受 Bitcoin 付款，支援 OpenVPN 而且採不記錄使用者活動的政策。可進一步了解 <a href="/providers/vpn/#criteria">完整的評鑑標準說明</a>。</strong>
</div>

<div class="container-fluid">

  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img
        src="/assets/img/svg/3rd-party/mullvad.svg"
        data-theme-src="/assets/img/svg/3rd-party/mullvad-dark.svg"
        height="70"
        width="200"
        class="img-fluid d-block mr-auto ml-auto align-middle"
        alt="Mullvad">
    </div>
    <div class="col">
    <h2 id="mullvad" class="anchor">
      <a href="#mullvad"><i class="fas fa-link anchor-icon"></i></a> Mullvad
      {% include badge.html color="info" text="歐元 €60/y" %}
    </h2>
    <p><strong><a href="https://mullvad.net/">Mullvad.net</a> </strong>
    速度快、價格合理的 VPN，同時認真看待安全與透明課題。自 <strong>2009</strong>開始營運，Mullvad 主要位於<span class="flag-icon flag-icon-se"></span> 瑞典，未提供免費試用</p>

    <h5>{% include badge.html color="success" text="35 Countries" %}</h5>
    <p>Mullvad 在 <a href="https://mullvad.net/en/servers/"> 35 個國家安置伺服器</a>。 地理位置也應放入考量，最好能挑選距離最近的 VPN 伺服器，可因最短路徑而減少流量延遲。</p>
    <p>基於安全考量，我們認為最好使用<a href="https://en.wikipedia.org/wiki/Dedicated_hosting_service">專用伺服器</a>而非廉價共用的伺服器方案(例如<a href="https://en.wikipedia.org/wiki/Virtual_private_server">虛擬私有伺服器</a>)，以確保私鑰安全。</p>

    <h5>{% include badge.html color="success" text="獨立稭核" %}</h5>
    <p>Mullvad 的 VPN 客戶端軟體曾由 Cure53 與 Assured AB 稭核，提交滲透測試報告，公佈在<a href="https://cure53.de/pentest-report_mullvad_v2.pdf"> cure53.de</a>。 安全檢查的研究成員包括：</p>
    <blockquote class="blockquote">
      <p class="mb-0">...Cure53 與 Assured AB 對於安全稭核結果感到滿意，對他們的軟體留下了良好印象。Mullvad VPN 自家團隊在資安用心的專注投入，測試員深信此專案朝著正確的軌道前進。</p>
    </blockquote>

    <p> 2020 宣佈要<a href="https://mullvad.net/blog/2020/6/25/results-available-audit-mullvad-app/"></a>進行第二份稭核檢查</a>，本次結論報告可在 <a href="https://cure53.de/pentest-report_mullvad_2020_v2.pdf">Cure53 網站</a>取得。</p>
    <h5>{% include badge.html color="success" text="軟體公開代碼" %}</h5>
    <p>Mullvad 將其電腦與手機客戶端軟體的源代碼公開在  <a href="https://github.com/mullvad/mullvadvpn-app">GitHub</a>.</p>
  
    <h5>{% include badge.html color="success" text="接受比特幤付款" %}</h5>
    <p>Mullvad 可採 信用卡/簽帳卡、<strong>比特幣</strong>、<strong>Bitcoin Cash</strong>以及<strong>現金或當地流通貨幣</strong>等不記名付款方式，也可接受 Swish 與銀行電滙。</p>

    <h5>{% include badge.html color="success" text="WireGuard 支援" %}</h5>
    <p>除標準的 OpenVPN 連線， Mullvad 還支援 WireGuard。WireGuard 是試驗階段的網路協定，理論上會更安全與更可靠。不過目前它仍未大量使用。</p>

    <h5>{% include badge.html color="success" text="IPv6 支援" %}</h5>
    <p>Mullvad 支援 <a href="https://en.wikipedia.org/wiki/IPv6">IPv6 </a>網路協定，讓用戶可訪問<a href="https://mullvad.net/en/blog/2014/9/15/ipv6-support/">架設在 IPv6</a>的服務。不少供應商會阻斷 IPv6 連線。</p>
    
    <h5>{% include badge.html color="success" text="遠處端口轉發 Remote Port Forwarding" %}</h5>
    <p>Mullvad 提供遠端<a href="https://en.wikipedia.org/wiki/Port_forwarding">端口轉發</a>功能，請見<a href="https://mullvad.net/help/port-forwarding-and-mullvad/">Port forwarding with Mullvad VPN</a>。</p>
    
    <h5>{% include badge.html color="success" text="手機端軟體" %}</h5>
    <p>Mullvad 提供手機應用，可在<a href ="https://apps.apple.com/app/mullvad-vpn/id1488466513">App Store</a> 和 <a href="https://play.google.com/store/apps/details?id=net.mullvad.mullvadvpn">Google Play</a> 下載客戶端軟體以簡化 WireGuard 連線設定。安卓版應用也可至<a href="https://f-droid.org/en/packages/net.ivpn.client">F-Droid</a>下載，以確保該應用符合 <a href="https://www.f-droid.org/en/2019/05/05/trust-privacy-and-free-software.html">可複製建置</a>原則。</p>
    
    <h5>{% include badge.html color="info" text="額外功能" %}</h5>
    <p>The Mullvad VPN 客戶端內鍵 killswitch 以阻斷 VPN 以外的網路連線，也能在開機時即自動載入 VPN。 Mullvad 網站可以透由 Tor  <a href="http://xcln5hkbriyklr6n.onion/">xcln5hkbriyklr6n.onion </a>訪問。</p>
    </div>
    </div>
  </div>

</div>

<div class="container-fluid">

  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img src="/assets/img/svg/3rd-party/protonvpn.svg" height="70" width="200" class="img-fluid d-block mr-auto ml-auto align-middle" alt="ProtonVPN">
    </div>
    <div class="col">
    <h2>ProtonVPN <span class="badge badge-info">標準版美元 $48/年</span> <span class="badge badge-info">美元 $96/年 </span></h2>
    <p><strong>ProtonVPN</strong>是 VPN 市場上有力的競爭者，從 <strong>2016 年</strong>開始加入 VPN 服務。 ProtonVPN 以<span class="flag-icon flag-icon-ch"></span>瑞士為所在地，有免費版的限量使用和付費昇級版等消費選項。可惜它目前仍無獨立的資安稭核審查，故無法達到我們推薦產品的全部要求標準，可參考下方之說明：</p>
    <p>成立於<strong>2016</strong>年，<strong><a href="https://protonvpn.com/">ProtonVPN.com</a></strong> 很快地成為 VPN 業界有力的對手，其總部位於瑞士<span class="flag-icon flag-icon-ch"></span> 其有兩套價格方案:限制免費帳戶與付費選項，若一次支付二年年費可再享有  8.6 折扣價惠。</p>
    <h5>{% include badge.html color="success" text="44 Countries" %}</h5>
    <p>ProtonVPN 在 <a href="https://protonvpn.com/vpn-servers"> 44 個國家設置伺服器</a>，請挑選距離最近的伺服器，可因最短路徑而減少流量延遲。</p>
    <p>基於安全考量，我們認為最好使用<a href="https://en.wikipedia.org/wiki/Dedicated_hosting_service">專用伺服器</a>而非廉價共用的伺服器方案(例如<a href="https://en.wikipedia.org/wiki/Virtual_private_server">虛擬私有伺服器</a>)，以確保私鑰安全。</p></p>
    <h5>{% include badge.html color="success" text="獨立稭核" %}</h5>
    <p>2020 年 1月 ProtonVPN 委託 SEC Consult 進行獨立稭核，SEC Consult 在 Windows, Android 與 iOS 應用軟體發現了一些不太嚴重的安全問題，ProtonVPN 已在報告正式發表前完成了修復改善。這些安全缺陷不會造成讓遠端攻擊者讀取用戶裝置或盜取流量資料的問題，完整的報告可在 <a href="https://protonvpn.com/blog/open-source/">protonvpn.com</a>取得。
    <h5>{% include badge.html color="success" text="開源的客戶端軟體" %}</h5>
    <p>ProtonVPN 將其客戶端的應用軟體源碼公開在<a href="https://github.com/ProtonVPN">GitHub</a>。</p>
    <h5>{% include badge.html color="success" text="接受比特幤付款" %}</h5>
    <p>ProtonVPN 技術上可接受比特幣支付，然而僅適用於已有 ProtonVPN 帳號者，或是在註冊前先聯絡 ProtonVPN 客服卻用。</p>
    <h5>{% include badge.html color="success" text="手機應用" %}</h5>
    <p>
      除標準的 OpenVPN 設定外， IVPN 也有手機專用的 <a href="https://apps.apple.com/us/app/protonvpn-fast-secure-vpn/id1437005085">iOS </a>與 <a href="https://play.google.com/store/apps/details?id=ch.protonvpn.android&hl=en_US">Android</a> 應用軟體，便於用戶連接到他們的伺服器。安卓版應用也可至<a href="https://f-droid.org/en/packages/net.ivpn.client">F-Droid</a>下載，以確保該應用符合 <a href="https://www.f-droid.org/en/2019/05/05/trust-privacy-and-free-software.html">可複製建置</a>原則。</p>
     
    <h5>{% include badge.html color="warning" text="無端口轉發 No Port Forwarding" %}</h5>
    <p>ProtonVPN 目前尚未支援遠端遠處端口轉發功能，這可能會影響一部份應用軟體，尤其是對等網路如 Torrent 軟體。</p>
    <h5>{% include badge.html color="info" text="額外功能" %}</h5>
    <p>ProtonVPN 客戶端內鍵 killswitch 以阻斷 VPN 以外的網路連線，也能在開機時即自動載入 VPN。ProtonVPN 也有 "Tor" 伺服器以便輕鬆訪問 onion 網站，不過還是建議透過<a href="https://www.torproject.org/"></a> Tor 瀏覽器</a>來訪問深網。</p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img src="/assets/img/svg/3rd-party/ivpn.svg" height="70" width="200" class="img-fluid d-block mr-auto ml-auto align-middle" alt="IVPN">
    </div>
    <div class="col">
    <h2>
      IVPN
      <span class="badge badge-info">標準版美元 $60/年</span>
      <span class="badge badge-secondary">昇級版 美元 $100/年</span>
    </h2>

    <p><strong><a href="https://www.ivpn.net">IVPN.net</a>是另一家不錯的 VPN 供應商，成立於 <strong>2009</strong> 年，註冊所在地是 <span class="flag-icon flag-icon-gi"></span> 直布羅陀。</p>
    <h5>{% include badge.html color="success" text="32 Countries" %}</h5>
    <p>截至目前統計，IVPN 在全球 <a href="https://www.ivpn.net/server-locations">32個國家設置伺服器</a>，請挑選距離最近的伺服器，可因最短路徑而減少流量延遲。</p>
    <p>基於安全考量，我們認為最好使用<a href="https://en.wikipedia.org/wiki/Dedicated_hosting_service">專用伺服器</a>而非廉價共用的伺服器方案(例如<a href="https://en.wikipedia.org/wiki/Virtual_private_server">虛擬私有伺服器</a>)，以確保私鑰安全。</p>
    <h5>{% include badge.html color="success" text="獨立稭核" %}</h5>
    <p>IVPN 曾委託 Cure53 進行 <a href="https://cure53.de/audit-report_ivpn.pdf">no-logging 稭核</a>，其證明了 IVPN's 無保留用戶記錄的聲明， 2020 年元月IVPN 也執行了has also completed a <a href="https://cure53.de/summary-report_ivpn_2019.pdf">完整的透過報告</a>，表示未來會定期發佈<a href="https://www.ivpn.net/blog/independent-security-audit-concluded">年報</a>。</p>
    <h5>{% include badge.html color="success" text="開源的客戶端軟體" %}</h5>
    <p>自從 2020 年 2月<a href="https://www.ivpn.net/blog/ivpn-applications-are-now-open-source">IVPN 應用軟體已公開其源代碼</a>，請參考其<a href="https://github.com/ivpn">GitHub 組織帳號</a>。</p>
    <h5>{% include badge.html color="success" text="接受比特幤付款" %}</h5>
    <p>除常見的信用卡 PayPal, IVPN 可收 <strong>比特幣</strong> 與 <strong>當地貨幣現金</strong>等匿名付款方式。</p>
    <h5>{% include badge.html color="success" text="WireGuard 支援" %}</h5>
    <p>IVPN 支援標準的 OpenVPN 與 WireGuard 連線，後者是仍在試驗的協定，理論上會更安全可靠。目前不建議對 WireGuard 進行大量使用。</p>
    <h5>{% include badge.html color="success" text="遠處端口轉發 Remote Port Forwarding" %}</h5>
    <p>付費昇級的用戶可享遠端<a href="https://en.wikipedia.org/wiki/Port_forwarding">遠處端口轉發</a>功能，透過客戶端軟體<a href="https://www.ivpn.net/knowledgebase/81/How-do-I-activate-port-forwarding.html">開啟</a>。只有在使用 <a href="https://www.ivpn.net/knowledgebase/116/Port-forwarding-is-not-working-why.html"> OpenVPN 且不連接位在美國的伺服器時</a>，才可進行端口轉發功能。</p>
    
    <h5>{% include badge.html color="success" text="手機應用" %}</h5>
    <p>除標準的 OpenVPN 設定外， IVPN 也有手機專用的 <a href="https://apps.apple.com/us/app/ivpn-serious-privacy-protection/id1193122683">iOS </a>與 <a href="https://play.google.com/store/apps/details?id=net.ivpn.client">Android</a> 應用軟體，便於用戶連接到他們的伺服器。安卓版應用也可至<a href="https://f-droid.org/en/packages/net.ivpn.client">F-Droid</a>下載，以確保該應用符合 <a href="https://www.f-droid.org/en/2019/05/05/trust-privacy-and-free-software.html">可複製建置</a>原則。</p>
    
    </p>
    <h5>{% include badge.html color="info" text="額外功能" %}</h5>
    <p> IVPN 客戶端軟體內建 killswitch 以阻斷 VPN 之外的網際連線，它會在開機時自動啟動， IVPN 有"<a href="https://www.ivpn.net/antitracker">AntiTracker</a>" 功能，可阻檔廣告或追蹤器。</p>
   
    </div>
  </div>

</div>
<div class="alert alert-warning" role="alert">
  <strong>注意：使用 VPN 無法匿名，但某些狀況下提供用戶更佳的隱私保護。 VPN 不是用來從事違法活動的工具，不要依賴「不留活動記錄 "no log"」政策。</strong>
</div>
