<h1 id="win10" class="anchor"><a href="#win10"><i class="fas fa-link anchor-icon"></i></a> 不要使用 Windows 10 - 它是隱私夢魘</h1>

<div class="alert alert-warning" role="alert">
  <strong>微軟在 Windows 10 引入了一些新的亮點功能，例如 Cortana。然而大多部分這類東西正在侵害您的隱私權。 </strong>
</div>

<img src="/assets/img/svg/layout/windows_privacy.svg" width="367" height="369" class="img-fluid float-right ml-3" alt="Windows 10 Privacy">

<ol>
  <li><strong>系統預設啟動資料同步</strong>
    <ul>
      <li>瀏覽記錄與打開的網站</li>
      <li>應用程式設定</li>
      <li>WiFi 熱點名稱和密碼</li>
    </ul>
  </li>

  <li><strong>您的裝置被預設標記了獨一的廣告識別碼</strong>
    <ul>
      <li>它被用於第三方廣告商或網路商對用戶進行個人化廣告服務</li>
    </ul>
  </li>

  <li><strong>Cortana 可以收集您的任何資料</strong>
    <ul>
      <li>鍵盤記錄，搜尋與麥克風輸入</li>
    </ul>
    <ul>
      <li>日曆資料</li>
    </ul>
    <ul>
      <li>聽什麼音樂</li>
    </ul>
    <ul>
      <li>信用卡資訊</li>
    </ul>
    <ul>
      <li>購買行為</li>
    </ul>
  </li>

  <li><strong>MMicrosoft 微軟可以收集各種個人資料</strong>
    <ul>
      <li>用戶身份識別</li>
    </ul>
    <ul>
      <li>密碼</li>
    </ul>
    <ul>
      <li>人種族群資訊</li>
    </ul>
    <ul>
      <li>興趣與習慣</li>
    </ul>
    <ul>
      <li>使用數據</li>
    </ul>
    <ul>
      <li>聯絡者與人際關係</li>
    </ul>
    <ul>
      <li>位置地理資訊</li>
    </ul>
    <ul>
      <li>電子郵件、即時通訊的內容、通話記錄與聲音影像記錄</li>
    </ul>
  </li>

  <li><strong>您的資料可能被他人使用</strong>
    <ul>
      <li>下載 Windows 10 時，您即授予微軟公司可將上述資料分享給第三者，不管有無取得您的同意。</li>
    </ul>
  </li>
</ol>

<p><a class="btn btn-warning" href="https://www.winprivacy.de/english-home/">下載： W10Privacy</a></p>

<p>這個工具利用一些已知的方式來設法取消 Windows 10 底下主要的追蹤監控功能。</p>

<h3>相關資訊</h3>

<ul>
  <li><a href="https://privacy.microsoft.com/en-us/privacystatement">微軟的隱私權聲明</a> - 此文件敍述微軟公司收集、使用和揭露個人資訊的情況。它讓 OneDrive 資料、Cortana 搜尋與瀏覽記錄等個資可轉售予第三方。</li>
  <li><a href="https://support.microsoft.com/en-us/help/4468233/cortana-and-privacy-microsoft-privacy">Cortana 與隱私</a> - 為個人化用戶體驗以推薦最佳方案，Cortana 可讀取用戶電子郵件及其它通訊，收集聯絡人名單資料，諸如其頭銜、稱謂、姓名、公司等資訊。假設您在 Windows 10 電腦上打電話、寫郵件、傳簡訊，Cortana 會收集這個人的電郵地址或電話號碼。</li>
</ul>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>有些好消息</h3>
      <ul>
        <li><a href="https://github.com/crazy-max/WindowsSpyBlocker/releases">WindowsSpyBlocker</a> - - 開源工具，可封阻資料被收集</li>
        <li><a href="https://www.ghacks.net/2015/08/14/comparison-of-windows-10-privacy-tools/">比較 Windows 10 隱私工具</a> - ghacks.net</li>
      </ul>
    </div>

    <div class="col-md-6">
      <h3>更多壞消息</h3>
      <ul>
        <li><a href="https://thehackernews.com/2016/02/microsoft-windows10-privacy.html">
            隱私設定調整後，Windows 10 每天仍會傳送 5500 多次使用者資料</a> - The Hacker News.</li>
        <li><a href="https://arstechnica.com/information-technology/2015/08/even-when-told-not-to-windows-10-just-cant-stop-talking-to-microsoft/">僅管已警告過 Windows 10，但它仍繼續把資料傳回微軟。隱私權倡議者只好自我武裝防備起來抵抗。</a> - Ars Technica.</li>
        <li><a href="https://www.techdirt.com/articles/20150820/06171332012/windows-10-reserves-right-to-block-pirated-games-unauthorized-hardware.shtml">Windows 10 保留可封鎖盗版遊戲與「未經授權的」硬體之權利 - </a> - Techdirt.</li>
      </ul>
    </div>
  </div>
</div>
