<footer>

  <hr class="footer-divider" />

  <h3 id="participate">推廣本站助更多人了解隱私保護</h3>

  <div class="row mb-4">
    <div class="col-12 col-md-6 d-flex justify-content-between">
      <a href="mailto:?subject=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance&body={{ site.production_url }}/" class="share-btn email" title="Email">
        <i class="fas fa-envelope"></i>
      </a>

      <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.production_url }}" class="share-btn facebook" title="Facebook">
        <i class="fab fa-facebook-f"></i>
      </a>

      <a href="https://twitter.com/share?text=Knowledge%20and%20tools%20to%20protect%20your%20privacy%20against%20global%20mass%20surveillance%20&amp;url={{ site.production_url }}/&amp;via=privacytoolsIO" class="share-btn twitter" title="Twitter">
        <i class="fab fa-twitter"></i>
      </a>

      <a href="https://sharetomastodon.github.io/?title=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance&url={{ site.production_url }}" class="share-btn mastodon" title="Mastodon">
        <i class="fab fa-mastodon"></i>
      </a>
    </div>
    <div class="col-12 col-md-6 d-flex justify-content-between">
      <a href="https://reddit.com/submit?url={{ site.production_url }}&title=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance" class="share-btn reddit" title="reddit">
        <i class="fab fa-reddit-alien"></i>
      </a>

      <a href="https://www.linkedin.com/shareArticle?url={{ site.production_url }}&title=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance" class="share-btn linkedin" title="LinkedIn">
        <i class="fab fa-linkedin-in"></i>
      </a>

      <a href="https://mix.com/mixit?su=submit&url={{ site.production_url }}&title=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance" class="share-btn mix" title="Mix">
        <i class="ptio-mix"></i>
      </a>

      <a href="https://sharetodiaspora.github.io/?title=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance&url={{ site.production_url }}" class="share-btn diaspora" title="Diaspora*">
        <i class="fas fa-asterisk"></i>
      </a>
    </div>
  </div>

  <h3>複製網址與本站描述</h3>

  <p>
  <input type="text" value="{{ site.name }} - Encryption and tools to protect against global mass surveillance - {{ site.production_url }}" class="form-control input-lg onclick-select">
  <span class="help-block">更輕易地複製與貼上，請利用這個文字小物件作分享。</span>
  </p>

  <hr class="footer-divider" />

  <div class="row mt-3">
    <div class="col-sm-4 mb-3 d-flex justify-content-center align-items-center">
      <span class="fab fa-creative-commons-zero fa-2x mr-2"></span>
      <a
        href="/LICENSE.txt"
        title="This work is free. You can redistribute it and/or modify it under the terms of the &quot;Creative Commons CC0 1.0 Universal Public Domain Dedication&quot;."
        data-toggle="tooltip"
        data-placement="top">
        CC0
      </a>
    </div>

    <div class="col-sm-4 mb-3 d-flex justify-content-center align-items-center">
      <span class="far fa-address-card fa-2x mr-2"></span>
      <a href="/about/">專案介紹 &amp; 聯絡方式</a>
    </div>

    <div class="col-sm-4 mb-3 d-flex justify-content-center align-items-center">
      <span class="fas fa-donate fa-2x mr-2"></span>
      <a href="/donate/" data-toggle="tooltip" data-placement="top" data-original-title="Please support this project by donating. We are ad-free and not affiliated with any providers. Your donation will cover our costs for servers and domains.">支持本站！</a>
    </div>
  </div>

  <div class="copyright-text">
    <a href="/about/javascript" data-jslicense="1">
      <span class="fab fa-js fa-lg"></span>
      JavaScript Licenses
    </a>
    <p class="mt-2">
      <strong>無廣告、無 Google 追蹤分析器、無利害關聯、無跨站追踪</strong>
      <em>{{ site.name }} 是一個受社會現況激發的社群網站，它提供保護上網者資料安全的資訊。不要信任某家公司會善待保護消費者隱私，時時刻刻作好加密防備。</em>
    </p>
    <p class="text-left">
      Tor v3: <strong>privacy2zbidut4m4jyj3ksdqidzkw3uoip2vhvhbvwxbqux5xy5obyd.onion</strong>
      (<a href="https://write.privacytools.io/jonah/tor-on-privacytools-io">了解更多</a>)
    </p>
    <small>
      <a href="/privacy/">隱私宣告</a> |
      <a href="/notices/">注意事項 &amp; 免責聲明</a> |
      <a href="https://github.com/privacytoolsIO/brand">品牌資產 &amp; 指導原則</a>
      <a href="https://status.privacytools.io">Status Page</a>
    </small>

  </div>
</footer>
