<nav class="fixed-top bg-dark">
  <div id="navbar" class="d-flex flex-wrap justify-content-between align-items-center">
    <div class="w-50">
      <a id="nav-home-mobile" class="nav-anchor" href="/index.html">
        <img src="/assets/img/svg/layout/brand/horizontal-zh.svg" width="150px" />
      </a>
    </div>
    <input type="checkbox" id="nav-toggle" checked />
    <label for="nav-toggle" id="nav-toggle-label" class="fas fa-bars fa-lg"></label>

    <div class="menu w-100">
      <div id="nav-left" class="position-relative flex-col">
        <a class="nav-anchor" href="/index.html">
          <span id="nav-home" class="fas fa-home fa-fw"></span>
        </a>

        <!-- Provider -->
        <details class="nav-details">
          <summary>
            <span class="nav-summary">
              供應商
              <span class="dropdown-toggle"></span>
            </span>
          </summary>
          <span class="nav-dropdown">
            <a class="dropdown-item" href="/providers/#ukusa"><span class="fas fa-user-secret fa-fw"></span> 避兔以美國與英國為基地的網路服務</a>
            <a class="dropdown-item" href="/providers/cloud-storage/"><span class="fas fa-cloud fa-fw"></span> 雲端儲存服務</a>
            <a class="dropdown-item" href="/providers/dns/"><span class="fa fa-tasks fa-fw"></span>域名系統（DNS）</a>
            <a class="dropdown-item" href="/providers/email/"><span class="fas fa-mail-bulk fa-fw"></span> 電子郵件</a>
            <a class="dropdown-item" href="/providers/hosting/"><span class="fas fa-database fa-fw"></span> 架站服務商</a>
            <a class="dropdown-item" href="/providers/paste/"><span class="fas fa-paste fa-fw"></span> 文字儲存服務</a>
            <a class="dropdown-item" href="/providers/search-engines/"><span class="fas fa-search fa-fw"></span> 搜尋引擎</a>
            <a class="dropdown-item" href="/providers/social-networks/"><span class="fas fa-expand-arrows-alt fa-fw"></span> 社交網絡</a>
            <a class="dropdown-item" href="/providers/social-news-aggregator/"><span class="far fa-newspaper fa-fw"></span> 社交訊息聚合</a>
            <a class="dropdown-item" href="/providers/vpn/"><span class="far fa-eye-slash fa-fw"></span> 虛擬私人網路（VPN）</a>
          </span>
        </details>

        <!-- Browser -->
        <details class="nav-details">
          <summary>
            <span class="nav-summary">
              瀏覽器
              <span class="dropdown-toggle"></span>
            </span>
          </summary>
          <span class="nav-dropdown">
            <a class="dropdown-item" href="/browsers/#browser"><span class="fas fa-check fa-fw"></span> 推薦</a>
            <a class="dropdown-item" href="/browsers/#fingerprint"><span class="fas fa-fingerprint fa-fw"></span> 指紋資訊</a>
            <a class="dropdown-item" href="/browsers/#webrtc"><span class="far fa-eye fa-fw"></span> WebRTC IP 漏洞</a>
            <a class="dropdown-item" href="/browsers/#addons"><span class="far fa-list-alt fa-fw"></span> 瀏覽器附加元件</a>
            <a class="dropdown-item" href="/browsers/#about_config"><span class="fas fa-wrench fa-fw"></span> 火狐隱私調校技巧</a>
          </span>
        </details>

        <!-- Software -->
        <details class="nav-details">
          <summary>
            <span class="nav-summary">
              應用軟體
              <span class="dropdown-toggle"></span>
            </span>
          </summary>
          <span class="nav-dropdown">
            <a class="dropdown-item" href="/software/calendar-contacts/"><span class="fas fa-calendar fa-fw"></span> 日曆/聯絡人同步工具</a>
            <a class="dropdown-item" href="/software/notebooks/"><span class="far fa-sticky-note fa-fw"></span> 數位筆記簿</a>
            <a class="dropdown-item" href="/software/email/"><span class="fas fa-envelope fa-fw"></span> 電子郵件客戶端軟體</a>
            <a class="dropdown-item" href="/software/encryption-tools/"><span class="fas fa-lock fa-fw"></span> 檔案加密</a>
            <a class="dropdown-item" href="/software/file-sharing/"><span class="fas fa-file-export fa-fw"></span> 檔案分享</a>
            <a class="dropdown-item" href="/software/file-sync/"><span class="fas fa-copy fa-fw"></span> 檔案同步</a>
            <a class="dropdown-item" href="/software/productivity/#metadata-removal-tools"><span class="far fa-eye-slash fa-fw"></span> 移除元數據工具</a>
            <a class="dropdown-item" href="/software/passwords/"><span class="fas fa-user-lock fa-fw"></span> 密碼管理</a>
            <a class="dropdown-item" href="/software/productivity/"><span class="fas fa-briefcase fa-fw"></span> 生產力工具</a>
            <a class="dropdown-item" href="/software/real-time-communication/"><span class="fas fa-comments fa-fw"></span> 即時通訊</a>
            <a class="dropdown-item" href="/software/networks/"><span class="fas fa-user-secret fa-fw"></span> 自足網路</a>
            <a class="dropdown-item" href="/software/cloud/"><span class="fas fa-hdd fa-fw"></span> 自搭的雲端伺服器</a>
          </span>
        </details>

        <!-- OS -->
        <details class="nav-details">
          <summary>
            <span class="nav-summary">
              作業系統
              <span class="dropdown-toggle"></span>
            </span>
          </summary>
          <span class="nav-dropdown">
            <a class="dropdown-item" href="/operating-systems/#os"><span class="fas fa-th-large fa-fw"></span> 個人電腦作業系統</a>
            <a class="dropdown-item" href="/operating-systems/#live_os"><span class="fas fa-compact-disc fa-fw"></span> 可開機作業系統</a>
            <a class="dropdown-item" href="/operating-systems/#mobile_os"><span class="fas fa-mobile-alt fa-fw"></span> 手機作業系統</a>
            <a class="dropdown-item" href="/operating-systems/#aaddons"><span class="fas fa-th fa-fw"></span> Android 隱私附加元件</a>
            <a class="dropdown-item" href="/operating-systems/#firmware"><span class="fas fa-signal fa-fw"></span> 路由器軔體</a>
            <a class="dropdown-item" href="/operating-systems/#win10"><span class="far fa-thumbs-down fa-fw"></span> 不要使用 Windows 10</a>
          </span>
        </details>

        <a class="nav-anchor" href="/index.html#participate">參與</a>
      </div>

      <!-- Language -->
      <div id="nav-right">

        <a href="/services/" class="nav-anchor">
          其它服務
        </a>
        <a href="https://blog.privacytools.io/" class="nav-anchor">
          部落格
        </a>
        <a href="/sponsors/" class="nav-anchor">
          贊助者
        </a>
        <a href="/about/" class="nav-anchor">
          關於本站
        </a>
        <span id="nav-switch-theme" class="nav-anchor">
          <span class="nav-theme-icon fas fa-fw" aria-hidden="true" title="Theme"></span>
          <span class="sr-only">Toggle Theme</span>
        </span>

        <details class="nav-details">
          <summary>
            <span class="nav-summary">
              <span class="fas fa-language text-danger fa-fw" aria-hidden="true" title="Language"></span>
              <span class="sr-only">其它語言版本</span>
              <span class="dropdown-toggle"></span>
            </span>
          </summary>
          <span class="nav-dropdown">
            <a href="https://www.privacytools.io/" class="dropdown-item">English</a>
            <a href="https://victorhck.gitlab.io/privacytools-es/" rel="nofollow noopener" class="dropdown-item">Español</a>
            <a href="https://pl.privacytools.io/" rel="nofollow noopener" class="dropdown-item">Polski</a>
            <a href="https://www.privacidade.digital/" rel="nofollow noopener" class="dropdown-item">Português</a>
            <a href="https://privacytools.it-sec.rocks/" rel="nofollow noopener" class="dropdown-item">Deutsch</a>
            <a href="https://privacytools-it.github.io/" rel="nofollow noopener" class="dropdown-item">Italiano</a>
            <a href="https://privacytools.ru" rel="nofollow noopener" class="dropdown-item">Русский</a>
            <a href="https://privacytools.dreads-unlock.fr" rel="nofollow noopener" class="dropdown-item">Français</a>
　　　　　　  <a href="https://cybermagicsec.github.io/privacytools-zh/" rel="nofollow noopener" class="dropdown-item">簡體中文</a>　　　　　
          </span>
        </details>
      </div>
    </div>
  </div>
</nav>
