---
layout: page
permalink: /about/
title: "PrivacyTools 網路隱私工具"
description: "成立契機、組織、社群成員與各項服務簡介"
hidedesc: true
---

<div class="row">
  <div class="col">
    <p><em>你正被盯著。私人和國家支持的組織正在監控與記錄你的線上活動。</em></p>
    <p>At <strong>PrivacyTools</strong> 提供一些知識與工具以保護個人隱私抵抗全球大規模監控，並推動持相近隱私關切的個人，一同參與社群交流討論，學習如何保護個人網路資料安全。隱路隱私工具為本組織的核心組成，透過它的研究向社群推薦各式軟體與服務方案。</p>
    <p><strong>公開透明</strong>是我們堅持的價值，也是區隔本站和其它隱私社群不同之處。主站資訊的編輯變動與所推薦的產品都是先透過密集的交流，如 GitHub<a href="https://github.com/privacytoolsIO/privacytools.io/issues">issue tracker</a>，由貢獻者<a href="https://github.com/privacytoolsIO/privacytools.io/pulls">提交草稿請求</a> 作進一步的討論。有心者可以回頭查看自 2015 年成立以來所走過的每一筆<a href="https://github.com/privacytoolsIO/privacytools.io/commits/master">提交修改記錄</a>。下方列出<em>主要核心core</em>團隊成員，他們為最終的編寫定稿與服務維護負起責任。事實上，本站背後由上百位 <a href="https://github.com/privacytoolsIO/privacytools.io/graphs/contributors">貢獻者與查詢者</a>努力確保所推薦的東西是可靠與讓人信賴的。</p>
    <p>PrivacyTools 為非營利組織，我們不會收取廠商報酬來推薦產品，雖然類似的置入行銷手法在其它地方很普徧，那種操作法不幸地傷害了讀者對各家評比網站的信任感。PrivacyTools 採取不同策略，我們的研究是獨立客觀，絕不收取金錢報酬後修改原有的推薦或評鑑意見。本站財務完全依靠社群的<a href="https://opencollective.com/privacytoolsio">捐款人</a> 與 <a href="/sponsors/">贊助者</a>，且依照美國稅法 Open Collective Foundation 501(c)(3) 相關規定。作為在美國登記的非營利組織，我們有遵法義務只能將基金花在符合宗旨的用途，即推廣隱私教育和提倡使手尊重隱私的工具服務。本站是一個公共資源庫，不是利潤機器，所以相關的財務交易都妥善記錄且公佈於 <a href="https://opencollective.com/privacytoolsio">opencollective.com/privacytoolsio</a>供查詢閱覽。</p>
    <p>我們嚴肅認真地經營各式 <a href="/services/">線上服務</a>，要求所有的參與者必須遵守良好之<a href="https://github.com/privacytoolsIO/.github/blob/master/CODE_OF_CONDUCT.md">行為規範 Code of Conduct</a>。 若有疑問或欲申報不當使用，請參考行為規範的<a href="https://github.com/privacytoolsIO/.github/blob/master/CODE_OF_CONDUCT.md#enforcement">Enforcement 落實篇</a>。</p>
  </div>
</div>

<div class="row">
  <div class="col">
    <h2>中文化貢獻者</h2>
  </div>
</div>

<div class="row">

{% include team.html
avatar="jxtsai.png"
name="jxtsai"
role="translator"
bio="透過翻譯中文化，幫助自己和他人多學習、了解網路不自由與數位人權的挑戰。"
keys="https://keybase.io/jxtsai"
mastodon="https://social.slat.org/@jxtsai"
twitter="a5288"
website="https://jxtsai.info"
%}


{% include team.html
avatar='ymhuang0808.png'
name='john huang'
role='reviwer, developer'
bio='不務正業的功成蝨／吹死蒸炸的人森／生活的鞭猿人／攝絀'
keys='https://keybase.io/johnhuang080'
mastodon='https://g0v.social/@ymhuang0808'
twitter='ymhuang0808'
website='https://fmbase.tw/blog/'
%}

  
{% include team.html
avatar=''
name='cybermagicsec'
role='reviwer, developer'
bio='privacytools 簡體中文站建制、維護者'
twitter='cybermagicsec'
website='https://cybermagicsec.github.io/privacytools-zh/'
%}  
  
</div>


<div class="row">
  <div class="col">
    <h2>Core Contributors</h2>
  </div>
</div>

<div class="row">

{% include team.html
avatar="burung.png"
name="Burung Hantu"
role="Founder"
bio="I founded PrivacyTools in 2015 to share resources and tools, allowing users to avoid international mass-surveillance programs."
email="mailto:dude@privacytools.io"
keys="https://keybase.io/privacytools"
mastodon="https://social.privacytools.io/@BurungHantu"
twitter="privacytoolsIO"
%}

{% include team.html
avatar="jonah.png"
name="Jonah Aragon"
nick="Jonah"
role="Administrator"
bio="I run the website and services for PrivacyTools. My goal is to spread the word about data privacy as widely as possible."
email="mailto:jonah@privacytools.io"
website="https://www.jonaharagon.com"
keys="https://keybase.io/jonaharagon"
mastodon="https://social.privacytools.io/@jonah"
twitter="JonahAragon"
blog="jonah"
%}

{% include team.html
avatar="blacklight447.png"
name="blacklight447"
bio="I research new privacy recommendations and moderate our communities. My expertise is endpoint security and networking."
role="Community Manager"
email="mailto:blacklight447@privacytools.io"
mastodon="https://social.privacytools.io/@blacklight447"
%}

{% include team.html
avatar="danarel.png"
name="Dan Arel"
role="Blogging & Education"
bio="I'm an author, columnist, and privacy advocate whose work has appeared in Time, Huff Post, OpenSource, and more."
website="https://danarel.com"
email="mailto:dan@privacytools.io"
keys="https://keybase.io/dan_arel"
twitter="danarel"
mastodon="https://mastodon.technology/@danarel"
blog="danarel"
%}

{% include team.html
avatar="dawid.png"
name="Dawid Potocki"
role="Developer"
bio="I'm a student interested in software development. I help improve PrivacyTools and promote using free libre software."
website="https://dawidpotocki.com"
email="https://dawidpotocki.com/accounts/#email"
keys="https://dawidpotocki.com/accounts/#pgp"
mastodon="https://social.privacytools.io/@dawidpotocki"
%}

{% include team.html
avatar="dngray.png"
name="dngray"
nick="Daniel Gray"
bio="I liaise with and research privacy-focused services to refine our recommendations. My background is infosec and network security."
website="https://dngray.netlify.com"
email="https://dngray.netlify.com/email"
keys="https://keybase.io/dngray"
mastodon="https://social.privacytools.io/@dngray"
%}

{% include team.html
avatar="mikaela.png"
name="Mikaela Suomalainen"
nick="Mikaela"
bio="I am interested in instant messengers. I review privacy tools, and participate in our forum, Matrix room, and issue tracker."
website="https://mikaela.info/"
keys="https://gitea.blesmrt.net/mikaela/shell-things/src/branch/master/.mikaela/keys"
%}

{% include team.html
avatar="nitrohorse.png"
name="Andreas Basurto"
nick="nitrohorse"
role="Developer"
bio="I'm a privacy advocate and software developer. I write web extensions, help research, and make updates to the site."
website="https://nitrohorse.com/"
keys="https://keybase.io/513"
mastodon="https://nitro.horse/@andreas"
blog="nitrohorse"
%}

{% include team.html
avatar="trai_dep.png"
name="trai_dep"
role="Subreddit Mod"
bio="I'm the moderator at r/Privacy and r/privacytoolsIO. Day to day, I am also – <i>irony alert</i> – an (ethical) digital marketer."
email="mailto:trai_dep@privacytools.io"
website="https://www.reddit.com/user/trai_dep"
%}

</div>
<div class="row mt-4 mb-4">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <p class="card-text">Of course, we couldn't do any of this without our very generous <a href="https://opencollective.com/privacytoolsio/">financial contributors</a>, <a href="https://github.com/privacytoolsIO/privacytools.io/graphs/contributors">website contributors</a>, and the countless community members that help share new ideas and spread the word! Thank you.</p>
        <a href="/#participate" class="btn btn-primary"><i class="fas fa-hands-helping"></i> Get involved!</a>
        <a href="/donate/" class="btn btn-outline-danger"><i class="fas fa-heart"></i> Donate</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <h2>Contact Us</h2>
    <p>It's very important to us to stay up-to-date on the latest changes in the privacy space. If you have a software recommendation for us, or want to request a change on this website, please don't hesitate to reach out in one of the following ways.</p>
    <p><a href="https://forum.privacytools.io/"><i class="fab fa-discourse fa-lg fa-fw"></i> Start a discussion in our Discourse forum</a></p>
    <p><a href="https://github.com/privacytoolsIO/privacytools.io/issues"><i class="fab fa-github fa-lg fa-fw"></i> Open an issue on GitHub</a></p>
    <p><a href="https://www.reddit.com/r/privacytoolsIO/"><i class="fab fa-reddit fa-lg fa-fw"></i> Suggest something new on our subreddit</a></p>
    <p>For complete transparency, software and providers will only be considered for this website after discussions take place on our GitHub issue tracker. We of course don't make any changes in secret.</p>
    <p>Join our Matrix room at <code>#general:privacytools.io</code> or join the <a href="https://keybase.io/team/privacytools_io">privacytools_io Keybase team</a> to chat with us and other members about this site and privacy in general! If you need a Matrix account, you can sign up with our own homeserver (<code>https://chat.privacytools.io</code>) using <a href="https://riot.privacytools.io">Riot</a>.</p>
  </div>
</div>
