---
layout: page
permalink: /operating-systems/
title: "作業系統"
description: "常用的電腦可能正在傷害您的隱私，請看看我們對於不同設備所推薦的替代作業系統選擇。"
---

{% include sections/operating-systems.html %}

<h3>警示</h3>

<ul>
  <li><a href="#win10"><i class="fas fa-link"></i>不要使用 Windows 10 - 它是隱私夢魘</a></li>
</ul>



{% include sections/tor-operating-systems.html %}

{% include sections/android-operating-systems.html %}

{% include sections/android-addons.html %}

{% include sections/other-mobile-operating-systems.html %}

{% include sections/router-firmware.html %}

{% include sections/windows10.html %}