---
layout: page
permalink: /providers/
title: "供應商"
description: "網路上有各式的服務供應者，從這裏了解我們所推薦的各式服務與小心避免使用的供應商。"
---

<h1 id="os" class="anchor">服務供應商</h1>

<p>想進一步了解，請點擊本站所推薦的服務</p>

<div class="card card-list">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="/providers/cloud-storage/"><span class="fas fa-cloud fa-fw"></span> 雲端儲存</a></li>
    <li class="list-group-item"><a href="/providers/dns/"><span class="fa fa-tasks fa-fw"></span> 域名系統</a></li>
    <li class="list-group-item"><a href="/providers/email/"><span class="fas fa-mail-bulk fa-fw"></span> 電子郵件</a></li>
    <li class="list-group-item"><a href="/providers/hosting/"><span class="fas fa-database fa-fw"></span> 架站服務商</a></li>
    <li class="list-group-item"><a href="/providers/paste/"><span class="fas fa-paste fa-fw"></span> 文字儲存服務</a></li>
    <li class="list-group-item"><a href="/providers/search-engines/"><i class="fas fa-search fa-fw"></i> 搜尋引擎</a></li>
    <li class="list-group-item"><a href="/providers/social-networks/"><span class="fas fa-expand-arrows-alt fa-fw"></span> 社交網絡</a></li>
    <li class="list-group-item"><a href="/providers/social-news-aggregator/"><span class="far fa-newspaper fa-fw"></span> 社交訊息聚合</a></li>
    <li class="list-group-item"><a href="/providers/vpn/"><span class="far fa-eye-slash fa-fw"></span>虛擬私人網路 VPN</a></li>
  </ul>
</div>

{% include sections/fourteen-eyes.html %}

{% include sections/key-disclosure-law.html %}

{% include sections/warrant-canary.html %}
